<div class="header">
  <div class="headerName">Create New Customer <span class="validater" (click)="validateForm()">Validate</span></div> 
  <mat-icon (click)="onNoClick()" class="closeBtn">close</mat-icon>
</div>

<mat-dialog-content *ngIf="dataReady" class="main-content-create-customer" style="box-shadow: 0px 2px 0px #ececec">

  <form [formGroup]="myGroup" (submit)="save(myGroup.value)">

    <div class="row">

      <div *ngFor="let schemaAttribute of schemaAttributes" [ngClass]="[schemaAttribute.type=='label' || schemaAttribute.characters >= 116 ? 'col-md-12':  'col-md-4' ]">


        <div class="input-field">


          <div
            *ngIf="schemaAttribute.type == 'alphanumeric' || schemaAttribute.type == 'alphanumeric_special_character' || schemaAttribute.type == 'decimal' ||schemaAttribute.type == 'url' || (schemaAttribute.type == 'string' && !schemaAttribute.characters) || (schemaAttribute.type == 'string' && schemaAttribute.characters <= 115) || schemaAttribute.type == 'number' || schemaAttribute.type == 'email' || schemaAttribute.type == 'phone' ">
            <div class="lbl">{{schemaAttribute.label}}<span class="red-clr" *ngIf="schemaAttribute.is_required">*</span>
            </div>
            <mat-form-field class="field" appearance="outline">
              <input [required]="schemaAttribute.is_required" [formControlName]="schemaAttribute.key" matInput>
              <mat-error>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('required')">
                  Field is required
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('email')">
                  Invalid Email
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('maxlength')">
                  <div *ngIf="schemaAttribute.type == 'phone'">
                    20 characters are allowed
                  </div>
                  <div *ngIf="schemaAttribute.type != 'phone'">
                    {{schemaAttribute.characters}} are alowed
                  </div>
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('pattern')">
                  Invalid pattern
                </div>
              </mat-error>
            </mat-form-field>
          </div>


          <div *ngIf="schemaAttribute.type == 'label'">
            <div class="lbl">{{schemaAttribute.label}}<span class="red-clr" *ngIf="schemaAttribute.is_required">*</span>
            </div>
            <div class="drop">
              <angular2-multiselect [data]="labels" [(ngModel)]="customerLabels" [settings]="labelSettings"
                                    (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                                    (onDeSelectAll)="onDeSelectAll($event)" (onAddFilterNewItem)="onAddItem($event)" [formControlName]="schemaAttribute.key">

                <c-badge>
                  <ng-template let-item="item">
                    <div class="dot" [ngStyle]="{'background-color':item.color_code}"></div>

                    <label style="margin: 0px;">{{item.name}}</label>
                  </ng-template>
                </c-badge>
                <c-item>
                  <ng-template let-item="item">
                    <div class="dot" [ngStyle]="{'background-color':item.color_code}"></div>

                    <label style="color: #333;min-width: 150px;">{{item.name}}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
            </div>
          </div>



          <div *ngIf="schemaAttribute.type == 'string' && schemaAttribute.characters >= 116">
            <div class="lbl">{{schemaAttribute.label}}<span class="red-clr" *ngIf="schemaAttribute.is_required">*</span>
            </div>
            <mat-form-field appearance="outline">
              <textarea [required]="schemaAttribute.is_required" [formControlName]="schemaAttribute.key"
                        matInput></textarea>
              <mat-error>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('required')">
                  Field is required
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('email')">
                  Invalid Email
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('maxlength')">
                  <div *ngIf="schemaAttribute.type == 'phone'">
                    20 characters are allowed
                  </div>
                  <div *ngIf="schemaAttribute.type != 'phone'">
                    {{schemaAttribute.characters}} are alowed
                  </div>
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('pattern')">
                  Invalid pattern
                </div>
              </mat-error>
            </mat-form-field>
          </div>


          <div *ngIf="schemaAttribute.type == 'date'">
            <div class="lbl">{{schemaAttribute.label}}<span class="red-clr" *ngIf="schemaAttribute.is_required">*</span>
            </div>
            <mat-form-field class="field" appearance="outline">
              <input [required]="schemaAttribute.is_required" [formControlName]="schemaAttribute.key" matInput
                     [matDatepicker]="picker" (click)="picker.open()">
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('required')">
                  Field is required
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('email')">
                  Invalid Email
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('maxlength')">
                  <div *ngIf="schemaAttribute.type == 'phone'">
                    {{schemaAttribute.characters}} are alowed
                  </div>
                  <div *ngIf="schemaAttribute.type != 'phone'">
                    {{schemaAttribute.characters}} are alowed }}
                  </div>
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('pattern')">
                  Invalid pattern
                </div>
              </mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="schemaAttribute.type == 'date_time'">
            <div class="lbl">{{schemaAttribute.label}}<span class="red-clr" *ngIf="schemaAttribute.is_required">*</span>
            </div>
            <mat-form-field class="field" appearance="outline">
              <input [required]="schemaAttribute.is_required" [formControlName]="schemaAttribute.key" matInput
                     [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1">

              <owl-date-time #dt1></owl-date-time>
              
              <mat-error>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('required')">
                  Field is required
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('email')">
                  Invalid Email
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('maxlength')">
                  <div *ngIf="schemaAttribute.type == 'phone'">
                    "20"+" "{{schemaAttribute.characters}} are alowed
                  </div>
                  <div *ngIf="schemaAttribute.type != 'phone'">
                    {{schemaAttribute.characters}} are alowed }}
                  </div>
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('pattern')">
                  Invalid pattern
                </div>
              </mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="schemaAttribute.type == 'bool'" class="check-box">
            <div class="lbl">{{schemaAttribute.label}}</div>
            <mat-checkbox [formControlName]="schemaAttribute.key" matInput></mat-checkbox>
          </div>

        </div>


      </div>
    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions>

  <div class="footer-buttons">
    <button (click)="onNoClick()" class="cancel-btn">Cancel</button>
    <button *ngIf="myGroup.valid" (click)="saveData(myGroup.value)"
            class="save-btn">Create Contact</button>
  </div>
</mat-dialog-actions>
