<div class="header">
  <div class="header-name">Create New Customer</div>
  <mat-icon (click)="onNoClick()" class="closeBtn">close</mat-icon>
</div>

<mat-dialog-content *ngIf="dataReady" class="main-content-create-customer" style="box-shadow: 0px 2px 0px #ececec">

  <form [formGroup]="myGroup" (submit)="save()">

    <div class="row">

      <div *ngFor="let schemaAttribute of schemaAttributes" [ngClass]="[schemaAttribute.type=='label' || schemaAttribute.characters >= 116 ? 'col-md-12':  'col-md-6' ]">


        <div class="input-field">


          <div class="field-set"
            *ngIf="schemaAttribute.type == 'url' || (schemaAttribute.type == 'string' && !schemaAttribute.characters) || (schemaAttribute.type == 'string' && schemaAttribute.characters <= 115) || schemaAttribute.type == 'number' || schemaAttribute.type == 'email' || schemaAttribute.type == 'phone' ">
            <label class="field-label">{{schemaAttribute.label}}<span class="red-clr" *ngIf="schemaAttribute.is_required">*</span>
            </label>
            <mat-form-field class="field" appearance="outline">
              <input [required]="schemaAttribute.is_required" [formControlName]="schemaAttribute.key" matInput>
              <mat-error>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('required')">
                  .FORM_VALIDATIONS_FRONT_END.FIELD_IS_REQUIRED}}
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('email')">
                  .FORM_VALIDATIONS_FRONT_END.INVALID_EMAIL}}
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('maxlength')">
                  <div *ngIf="schemaAttribute.type == 'phone'">
                    "20"+".FORM_VALIDATIONS_FRONT_END.MAX_ALLOWED}}
                  </div>
                  <div *ngIf="schemaAttribute.type != 'phone'">
                    {{schemaAttribute.characters }}
                  </div>
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('pattern')">
                  .FORM_VALIDATIONS_FRONT_END.INVALID_PATTERN}}
                </div>
              </mat-error>
            </mat-form-field>

            <button type="button" *ngIf="schemaAttribute.type == 'email' || schemaAttribute.type == 'phone'" (click)="addPhone()" class="duplicate-action add-field" mat-mini-fab><mat-icon>add</mat-icon></button>
          </div>

          <div class="duplicate-field field-set" *ngFor="let phone of getPhonesFormControls(); let i = index">
            <mat-form-field class="field" appearance="outline" >
              <input [formControl]="phone"  matInput>
            </mat-form-field>
            <button class="duplicate-action remove-field" (click)="removePhone(i)" mat-mini-fab><mat-icon>close</mat-icon></button>

          </div>


          <div  class="field-set" *ngIf="schemaAttribute.type == 'label'">
            <label class="field-label">{{schemaAttribute.label}}<span class="red-clr" *ngIf="schemaAttribute.is_required">*</span>
            </label>
            <div class="drop">
              <angular2-multiselect [data]="labels" [(ngModel)]="customerLabels" [settings]="labelSettings"
                                    (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                                    (onDeSelectAll)="onDeSelectAll($event)"  [formControlName]="schemaAttribute.key">

                <c-badge>
                  <ng-template let-item="item">
                    <div class="dot" [ngStyle]="{'background-color':item.color_code}"></div>

                    <label style="margin: 0px;">{{item.name}}</label>
                  </ng-template>
                </c-badge>
                <c-item>
                  <ng-template let-item="item">
                    <div class="dot" [ngStyle]="{'background-color':item.color_code}"></div>

                    <label style="color: #333;min-width: 150px;">{{item.name}}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
            </div>
          </div>



          <div  class="field-set" *ngIf="schemaAttribute.type == 'string' && schemaAttribute.characters >= 116">
            <label class="field-label">{{schemaAttribute.label}}<span class="red-clr" *ngIf="schemaAttribute.is_required">*</span>
            </label>
            <mat-form-field appearance="outline">
              <textarea [required]="schemaAttribute.is_required" [formControlName]="schemaAttribute.key"
                        matInput></textarea>
              <mat-error>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('required')">
                  .FORM_VALIDATIONS_FRONT_END.FIELD_IS_REQUIRED}}
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('email')">
                  .FORM_VALIDATIONS_FRONT_END.INVALID_EMAIL}}
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('maxlength')">
                  <div *ngIf="schemaAttribute.type == 'phone'">
                    "20"+" FORM_VALIDATIONS_FRONT_END.MAX_ALLOWED}}
                  </div>
                  <div *ngIf="schemaAttribute.type != 'phone'">
                    FORM_VALIDATIONS_FRONT_END.MAX_ALLOWED
                  </div>
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('pattern')">
                  .FORM_VALIDATIONS_FRONT_END.INVALID_PATTERN}}
                </div>
              </mat-error>
            </mat-form-field>
          </div>


          <div   class="field-set"*ngIf="schemaAttribute.type == 'date'">
            <label class="field-label">{{schemaAttribute.label}}<span class="red-clr" *ngIf="schemaAttribute.is_required">*</span>
            </label>
            <mat-form-field class="field" appearance="outline">
              <input [required]="schemaAttribute.is_required" [formControlName]="schemaAttribute.key" matInput
                     [matDatepicker]="picker" (click)="picker.open()">
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('required')">
                  .FORM_VALIDATIONS_FRONT_END.FIELD_IS_REQUIRED}}
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('email')">
                  .FORM_VALIDATIONS_FRONT_END.INVALID_EMAIL}}
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('maxlength')">
                  <div *ngIf="schemaAttribute.type == 'phone'">
                    FORM_VALIDATIONS_FRONT_END.MAX_ALLOWED
                  </div>
                  <div *ngIf="schemaAttribute.type != 'phone'">
                    FORM_VALIDATIONS_FRONT_END.MAX_ALLOWED }}
                  </div>
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('pattern')">
                  .FORM_VALIDATIONS_FRONT_END.INVALID_PATTERN}}
                </div>
              </mat-error>
            </mat-form-field>
          </div>

          <div  class="field-set" *ngIf="schemaAttribute.type == 'date_time'">
            <label class="field-label">{{schemaAttribute.label}}<span class="red-clr" *ngIf="schemaAttribute.is_required">*</span>
            </label>
            <mat-form-field class="field" appearance="outline">
              <input [required]="schemaAttribute.is_required" [formControlName]="schemaAttribute.key" matInput
                     [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1">

              <owl-date-time #dt1></owl-date-time>
              <mat-error>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('required')">
                  .FORM_VALIDATIONS_FRONT_END.FIELD_IS_REQUIRED}}
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('email')">
                  .FORM_VALIDATIONS_FRONT_END.INVALID_EMAIL}}
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('maxlength')">
                  <div *ngIf="schemaAttribute.type == 'phone'">
                    "20"+" "FORM_VALIDATIONS_FRONT_END.MAX_ALLOWED
                  </div>
                  <div *ngIf="schemaAttribute.type != 'phone'">
                    FORM_VALIDATIONS_FRONT_END.MAX_ALLOWED }}
                  </div>
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('pattern')">
                  .FORM_VALIDATIONS_FRONT_END.INVALID_PATTERN}}
                </div>
              </mat-error>
            </mat-form-field>
          </div>

          <div  class="field-set" *ngIf="schemaAttribute.type == 'time'">
            <label class="field-label">{{schemaAttribute.label}}<span class="red-clr" *ngIf="schemaAttribute.is_required">*</span>
            </label>
            <mat-form-field class="field" appearance="outline">
              <input [required]="schemaAttribute.is_required" [formControlName]="schemaAttribute.key" matInput
                     [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
              <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
              <mat-error>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('required')">
                  .FORM_VALIDATIONS_FRONT_END.FIELD_IS_REQUIRED}}
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('email')">
                  .FORM_VALIDATIONS_FRONT_END.INVALID_EMAIL}}
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('maxlength')">
                  <div *ngIf="schemaAttribute.type == 'phone'">
                    20 FORM_VALIDATIONS_FRONT_END.MAX_ALLOWED
                  </div>
                  <div *ngIf="schemaAttribute.type != 'phone'">
                    FORM_VALIDATIONS_FRONT_END.MAX_ALLOWED
                  </div>
                </div>
                <div *ngIf="myGroup.get(schemaAttribute.key).hasError('pattern')">
                  .FORM_VALIDATIONS_FRONT_END.INVALID_PATTERN}}
                </div>
              </mat-error>
            </mat-form-field>
          </div>

          <div  class="field-set" *ngIf="schemaAttribute.type == 'bool'" class=" check-box">
            <label class="field-label">{{schemaAttribute.label}}</label>
            <mat-checkbox [formControlName]="schemaAttribute.key" matInput></mat-checkbox>
          </div>

        </div>


      </div>
    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions>

  <div class="footer-buttons">
    <button (click)="onNoClick()" class="cancel-btn">Cancel</button>
    <button *ngIf="myGroup.valid"
            class="save-btn">Create Contact</button>
  </div>
</mat-dialog-actions>
