@import "src/app/shared/globalVariables";

.footer-buttons {
  text-align: right;
  width: 100%;
  padding: 0 30px;

  button {
    height: 30px;
    width: auto;
    padding: 0 15px;
    background: #919191;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
  }

  .save-btn {
    background: $blue-text-color;
    margin-left: 10px;
  }
}

.input-field {
  .field-set {
    position: relative;
    padding-right: 35px;
  }

  .mat-form-field {
    width: 100%;
  }

  &.textarea-field {
    padding: 0 15px;
    clear: both;

    input {
      height: 60px;
      overflow: auto;
    }
  }
}

.field-label {
  color: #737373;
  font-size: 13px;
  margin: 0;
}

.main-content-create-customer {
  display: block;
  margin: 5px 0;
  overflow: auto;
  width: 100%;
  height: calc(100% - 100px);

  .field {
    font-size: 12px;
    color: #655e5c;
  }

  //.row .col{
  //  height: 60px;
  //}
}

.red-clr {
  color: red;
  padding-left: 2px;
}

.drop {
  margin-bottom: 14px;
}

.drop-lbl {
  margin-left: 13px;
  margin-top: 4px;
  margin-bottom: 3px;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  top: 1px;
}

// .duplicate-field {
//   button.duplicate-action {
//     // top: 10px;
//   }
// }

.btn-test {
  position: absolute;
  right: -45px;
  top: 6px;
}

button.duplicate-action {
  // position: absolute;
  // right: 2px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  // top: 28px;
  background: $main-color-background;
  box-shadow: none;

  &.remove-field {
    background: transparent;
    mat-icon {
      color: $red-color;
    }
  }

  mat-icon {
    font-size: 16px;
    line-height: 10px;
    height: 26px;
    color: #8e8e8e;
  }
}

span.field-channel {
  margin-left: 10px;
  img {
    margin: 0 2px 1px 0;
    max-height: 15px;
    width: 15px;
  }
}

.validate-span {
  color: coral;
  font-size: 9px;
  border: 1px solid;
  padding: 2px 4px 2px 4px;
  border-radius: 8px;
  cursor: pointer;
  bottom: 1px;
  position: relative;
  margin-left: 5px;
}

.check-box-field {
  align-self: center;
  .field-label {
    margin-right: 10px;
  }
}

.check-box {
  margin-top: 2px;
  margin-left: 0;
  padding-top: 0;
}
.mat-dialog-actions {
  border-top: 1px solid #ececec;
}
