.active-chat-list-area {
  .channel-icon {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    margin-right: 6px;

    img {
      width: 20px;
      max-height: 25px;
    }
  }
}

.manage-dashboard {
  width: 100%;
  .page-action {
    align-self: center;
  }

  .table {
    background: #ffffff;
&.agents-answer{
  td,th{
    &:nth-child(-n+2){
      text-align: center;
      padding: 0 5px;
      width: 120px;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 120px;
      overflow: hidden;
    }
  }
}

    tr {
      position: relative;
      cursor: default;
      td,th{
        &:nth-child(1){
          text-align: center;
          padding: 0 5px;
          width: 120px;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 120px;
          overflow: hidden;
        }
      }

      &:nth-of-type(even) {
        background: #f7f7f7;
      }
    }

    thead {
      th {
        color: #434343;
        height: 38px;
        line-height: 38px;
        padding: 0 15px;
        font-size: 13px;
        background: #f7f7f7;
        border: 0;

        mat-icon {
          color: #848484;
          transform: rotate(90deg);
          font-size: 15px;
          position: relative;
          cursor: pointer;

          &:after {
            content: "keyboard_backspace";
            position: absolute;
            left: 2px;
            top: 5px;
            transform: rotate(180deg);
          }
          &:before {
            content: "keyboard_backspace";
            position: absolute;
            left: 2px;
            top: -2px;
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  td {
    font-size: 13px;
    color: #434343;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    white-space: nowrap;
    border: 0;
    text-transform: capitalize;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;

    small {
      text-transform: capitalize;
      color: #888;
      font-size: 11px;
      margin-right: 3px;
      margin-left: 5px;
    }

    .dashboard-name {
      font-weight: normal;
      font-size: 13px;
      cursor: pointer;
      position: relative;
      z-index: 2;
    }

    &:first-child {
      //width: 50% !important;

      span {
        cursor: default;
        max-width: 100%;
        display: inline-block;
        white-space: normal;
        line-height: 19px;
      }
    }

    //&:nth-child(2){
    //  width: 20% !important;
    //}
    //
    //&:nth-child(3),  &:nth-child(4) {
    //  width: 20% !important;
    //}

    span.table-main-data {
      max-width: calc(100% - 80px);
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: pre;
      float: left;
    }
  }
  tbody {
    .table-trigger {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
      position: absolute;
      right: 15px;
      z-index: 2;
      top: 4px;
      button {
        height: 24px;
        margin: 0 5px;
        width: 24px;
        line-height: 24px;
        background: #919191;
        img {
          height: 11px;
          max-width: 15px;
        }

        &.silent-monitor-btn {
          &:hover {
            background: #fdbc53;
          }
        }
        &.barge-in-btn {
          &:hover {
            background: #3dd6fa;
          }
        }
        &.close-btn {
          &:hover {
            background: #fc2a49;
          }
        }
      }
    }
    tr {
      &:hover {
        background: #eaeaea;

        .table-trigger {
          display: inline-block;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
.direction-icon {
  vertical-align: middle;
  border-radius: 100%;
  padding: 3px;
  font-size: 13px;
  line-height: 1 !important;
  background-color: rgb(113, 189, 113);
  color: white;
  &.inbound {
    background-color: rgb(113, 189, 113);
  }
  &.outbound {
    transform: rotate(180deg);
    background-color: rgb(81, 135, 214);
  }
}


.search-wrapper {
  display: inline-block;
  width: 320px;
  margin-bottom: 0;
  position: relative;

  input{
    width: 100%;
    border: 1px solid #a3a3a338;
    padding: 0 10px;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
  }

  mat-icon {
    position: absolute;
    right: 7px;
    font-size: 18px;
    top: 7px;
    color: #ccc;
  }
}

.joined{
  color: #08a208;
  position: absolute;
  top: 10px;
  right: 42px;
  font-size: 13px;
  display: inline-block;
}
