<div class="table-container manage-dashboard">
  <div class="active-chat-list-area">
    <div class="page-header row m-0">
      <div class="col-md-6 page-heading">
        <h4>{{ "supervisor.active-conversations-detail" | translate }}</h4>
      </div>
      <div class="col-md-6 text-right page-action">
        <mat-form-field *ngIf="FilterSelected == 'agents'" appearance="outline" class="selection-trigger mr-2">
          <mat-select [(value)]="QueueSelected" (selectionChange)="filterData()">
            <mat-option value="all">{{ "supervisor.all-queues" | translate }}</mat-option>
            <mat-option *ngFor="let item of queuesList" [value]="item.id">{{ item.name }} </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="selection-trigger">
          <mat-select [(value)]="FilterSelected">
            <mat-option value="agents">{{ "supervisor.answered-by-agents" | translate }}</mat-option>
            <mat-option value="bots">{{ "supervisor.answered-by-bot" | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th *ngIf="FilterSelected == 'agents'" scope="col">{{ "globals.direction" | translate }}</th>
            <th scope="col">{{ "globals.channel" | translate }}</th>

            <th scope="col">{{ "supervisor.customer" | translate }}</th>
            <th scope="col">{{ "supervisor.active-since" | translate }}</th>
            <th scope="col">{{ (FilterSelected == "agents" ? "supervisor.agent" : "supervisor.bot") | translate | titlecase }}</th>
            <th *ngIf="FilterSelected == 'agents'" scope="col">{{ "supervisor.queue" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="FilterSelected == 'bots'">
            <ng-container *ngFor="let data of activeChatListWithBots">
              <tr *ngFor="let chat of data.chats">
                <td>
                  <span class="channel-icon {{ chat.channelType }}"><img [src]="chat.channelType | channelName | channelLogo | async" /></span>
                </td>
                <td>
                  {{ chat.customerName }} <small matTooltip="{{ 'globals.channel-identifier' | translate }}">({{ chat.channelIdentity }})</small>
                </td>
                <td>
                  {{ chat.activeSince | amDuration: "seconds" }} <small>{{ "supervisor.ago" | translate }}</small>
                </td>
                <td>{{ data.botName }}</td>
                <!-- <span class="table-trigger">
              <button mat-mini-fab class="silent-monitor-btn" matTooltip="Silent Monitoring"><img
                  src="assets/images/eye.svg" alt="Silent Monitoring"></button>
              <button mat-mini-fab class="barge-in-btn" matTooltip="Bargein"><img src="assets/images/bargein.svg"
                  alt="Bargein"></button>
              <button mat-mini-fab class="close-btn" matTooltip="Close" (click)="closeChat()"><img
                  src="assets/images/close.svg" alt="Close"></button>
            </span> -->
              </tr>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="FilterSelected == 'agents'">
            <ng-container *ngFor="let data of filteredData">
              <tr *ngFor="let chat of data.chats">
                <td>
                  <span  class="material-icons direction-icon md-18 {{chat.direction | lowercase}}"> call_received </span></td>
                <td>
                  <span class="channel-icon {{ chat.channelType }}"><img [src]="chat.channelType | channelName | channelLogo | async" /></span>
                </td>
                <td>
                  {{ chat.customerName }} <small matTooltip="{{ 'globals.channel-identifier' | translate }}">({{ chat.channelIdentity }})</small>
                </td>
                <td>
                  {{ chat.activeSince | amDuration: "seconds" }} <small>{{ "supervisor.ago" | translate }}</small>
                </td>
                <td>
                  {{ chat.agentName }}<small matTooltip="{{ 'globals.agent-id' | translate }}">({{ chat.agentId }})</small>
                </td>
                <td>{{ data.queueName }}</td>
                <!-- <span class="table-trigger">
              <button mat-mini-fab class="silent-monitor-btn" matTooltip="Silent Monitoring"><img
                  src="assets/images/eye.svg" alt="Silent Monitoring"></button>
              <button mat-mini-fab class="barge-in-btn" matTooltip="Bargein"><img src="assets/images/bargein.svg"
                  alt="Bargein"></button>
              <button mat-mini-fab class="close-btn" matTooltip="Close" (click)="closeChat()"><img
                  src="assets/images/close.svg" alt="Close"></button>
            </span> -->
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
