.confirmation-header {
  //background: #af2d2d;
  height: 36px;
  line-height: 36px;

  h3 {
    font-size: 14px;
    margin: 0;
    color: #ffffff;
    text-align: center;
    line-height: 36px;
    height: 36px;
    text-transform: capitalize;
  }

}
.confirmation-content {
  padding: 15px 10px;
  text-align: center;

  p {
    margin: 0;
    padding: 15px;
    text-align: center;
    color: #707070;
    font-size: 14px;
  }
}
.confirmation-action {
  button {
    font-size: 14px;
    margin: 0 5px;
    padding: 0 14px;
    background: #919191;
    color: #fff;
    min-width: 70px;
    text-transform: capitalize;

    &.confirm-btn{
      background: #4773B5;
    }
  }
}
