<div class="table-area container-fluid ">
  <div class="row m-0">
    <div class="col-md-6 announcement-heading p-0">
      <h3>Team Announcement</h3>
    </div>
    <div class="col-md-6 announcement-selection-area">
      <mat-form-field appearance="outline" class="selection-trigger">
        <mat-select [(value)]="FilterSelected">
          <mat-option value="all" (click)="onFilterAnnouncements('all')"> All Announcements</mat-option>
          <mat-option value="active" (click)="onFilterAnnouncements('active')">Active Announcements</mat-option>
          <mat-option value="expired" (click)="onFilterAnnouncements('expired')">Expired Announcements</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-button class="new-announcement" (click)="onCreateAnnouncement(newAnnouncement)"><span
        class="announcement-icon"><img src="assets/images/promotion.svg"> </span>New Announcement
      </button>
    </div>
    <div class="table-container manage-dashboard">
      <div class="manage-dashboard">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Announcement</th>
            <th scope="col">Created by</th>
            <th scope="col">Expiry</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let announcement of displayAnnouncements">
            <td><span>{{announcement.message}}</span></td>
            <td>{{announcement.created_by}}</td>
            <td>{{announcement.expiry_time}}</td>
            <span class="table-trigger">
<button mat-mini-fab (click)="onUpdateAnnouncement()"><i
  class="material-icons">edit</i></button>
<button mat-mini-fab (click)="confirmationDialog(isConfirm, announcement)"><i
  class="material-icons">delete</i></button>
</span>
          </tr>
          </tbody>
        </table>
        <!--<pagination-controls  (pageChange)="p = $event;pageChange($event)" previousLabel=""-->
        <!--nextLabel="" maxSize='7'></pagination-controls>-->
        <!--<h3 *ngIf="!dataBool" class="noData" translate>No_data</h3>-->

      </div>
      <button *ngIf="isLoadMore" mat-raised-button type="button"
              class="send-announcement announcement-action load-more-announcement" (click)="onLoadMore()">Load More
      </button>
    </div>
  </div>
</div>


<ng-template #isConfirm>
  <div class="confirmation-dialog">
    <div class="confirmation-header">
      <h3>Delete Announcement</h3>
    </div>
    <div class="confirmation-content">
      <p>Are you sure You want to delete Announcement</p>
      <div class="confirmation-action">
        <button mat-raised-button class="close-btn" mat-dialog-close>Cancel</button>
        <button mat-raised-button class="confirm-btn" (click)="onRemoveAnnouncement(removingRow)">Confirm</button>
      </div>
    </div>
  </div>
</ng-template>
