.announcement-table-area{
  border: 5px solid #E2E2E2;
  height: calc(100% - 42px);
}
.table-area {

  h4 {
    font-size: 13px;
    color: #000;
    margin: 20px 0;
  }
}

.manage-dashboard {
  width: 100%;

  .table {
    background: #ffffff;

    tr {
      position: relative;
      line-height: 40px;

      &:hover {
        td:nth-child(4) {
          opacity: 0;
        }
      }
    }

    thead {

      th {
        color: #000000;
        height: 26px;
        line-height: 26px;
        padding: 0 15px;
        font-size: 12px;
        background: #DEDEDE !important;
        border: 0 !important;
        &:first-child{
          border-radius: 5px 0 0 0;
        }
        &:last-child{
          border-radius: 0 5px 0 0;
        }
      }
    }
  }

  td {
    font-size: 13px;
    color: #686868;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    white-space: pre;

    .dashboard-name {
      font-weight: normal;
      font-size: 13px;
      cursor: pointer;
      position: relative;
      z-index: 2;
    }

    &:first-child {
      //width: 50% !important;

      span {
        cursor: default;
        max-width: 100%;
        display: inline-block;
        white-space: normal;
        line-height: 20px;
      }
    }

    //&:nth-child(2){
    //  width: 20% !important;
    //}
    //
    //&:nth-child(3),  &:nth-child(4) {
    //  width: 20% !important;
    //}
  }
tbody {
  border-bottom: 1px solid #dedede;
  tr {
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
     &:hover {
      background: #ECF7FB;

      .table-trigger {
        display: inline-block;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

}

.table-trigger {
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  position: absolute;
  right: 50px;
  z-index: 2;

  button {
    span {
      font-size: 12px;
    }
    height: 24px;
    margin: 0 5px;
    width: 24px;
    line-height: 24px;
    background: #25AFCB;

    &:hover {
      background: #448aff;
    }

    .mat-button-wrapper {
      padding: 0;
    }
  }

  //.list-trigger-area {
    //display: none;
    //transition: all .3s;
    //position: absolute;
    //right: 50px;
    //z-index: 2;
    //transition: all .3s;

    i {
      font-size: 16px;
    }
  //}
}

.announcement-selection-area {
  text-align: right;
  padding: 12px 0;

  mat-form-field {
    top: 1px;
    width: 150px;
    font-size: 12px;
    font-weight: 600;

    span {
      color: #3A3A3A;
    }
  }


  .new-announcement {
    background: #25AFCB;
    padding-left: 45px;
    height: 35px;
    line-height: 35px;
    position: relative;
    margin-left: 15px;
    color: #ffffff;
    font-size: 12px;
    float: right;

    .announcement-icon {
      background: rgba(0, 0, 0, 0.30);
      height: 35px;
      display: inline-block;
      width: 35px;
      border-radius: 4px 0 0 4px;
      line-height: 35px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

}

//dialog
.dialog-header {
  background: #ECF7FB;
  position: relative;
  padding: 15px;

  h4 {
    color: #1D9AC0;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }

  button {
    position: absolute;
    right: 15px;
    color: #A4A4A4;
    border: 1px solid #A4A4A4;
    width: 25px;
    height: 25px;
    line-height: 25px;
    top: 10px;
    padding: 0 !important;
    margin: 0 !important;

    i {
      font-size: 14px;
      line-height: 15px;
      top: -2px;
      position: relative;
    }
  }
}


.new-announcement-form {
  padding: 10px 15px;

  .mat-form-field {
    width: 100%;

    textarea {
      height: 70px;
    }
  }

  label {
    color: #5B5B5B;
    font-size: 13px;
  }

}

.announcement-trigger {
  padding-bottom: 12px;

  .announcement-action {
    margin: 0 5px;
    color: #fff;
    background: #919191;

    &.send-announcement {
      background: #CBE9F4;
      color: #464646;
    }

    &[disabled][disabled] {
      background: #e3e3e3 !important;
      color: #aeaaaa !important;
    }
  }
}


.confirmation-header {
  background: #e35151;
  height: 36px;
  line-height: 36px;

  h3 {
    font-size: 14px;
    margin: 0;
    color: #ffffff;
    text-align: center;
    line-height: 36px;
    height: 36px;
    text-transform: uppercase;
  }

}

.confirmation-content {
  padding: 15px 10px;
  text-align: center;

  p {
    margin: 0;
    padding: 15px;
    text-align: center;
    color: #707070;
    font-size: 14px;
  }
}

.confirmation-action {
  button {
    font-size: 14px;
    margin: 0 5px;
    padding: 0 14px;
    background: #919191;
    color: #fff;
    min-width: 70px;
    text-transform: capitalize;

    &.confirm-btn {
      background: #e35151;
    }
  }
}

.load-more-announcement {
  background: #25AFCB;
  margin: 2em auto 0;
  width: 100%;
  display: block;
  max-width: 200px;
  color: #fff;
  opacity: .8;
  transition: all .3s;

  &:hover {
    opacity: 1;
    transition: all .3s;
  }

}

.message-field {
  mat-hint {
    margin-right: -10px;
    color: #505050;
    font-size: 11px;
  }
}
