@import "src/app/shared/globalVariables";
//.announcement-table-area{
//  border: 5px solid #E2E2E2;
//  height: calc(100% - 42px);
//}
//.table-area {
//
//  h4 {
//    font-size: 13px;
//    color: #000;
//    margin: 20px 0;
//  }
//}

.manage-dashboard {
  width: 100%;

  .table {
    background: #ffffff;
    box-shadow: 0 0 5px #00000029;

    tr {
      position: relative;
      line-height: 40px;

      &:hover {
        td:nth-child(4) {
          opacity: 0;
        }
      }
    }

    thead {
      background: $main-color-background !important;

      th {
        color: $blue-text-color;
        height: 38px;
        line-height: 38px;
        padding: 0 15px;
        font-size: 12px;
        border: 0 !important;
      }
    }
  }

  td {
    font-size: 13px;
    color: #686868;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    white-space: pre;

    .dashboard-name {
      font-weight: normal;
      font-size: 13px;
      cursor: pointer;
      position: relative;
      z-index: 2;
    }

    &:first-child {
      //width: 50% !important;

      span {
        cursor: default;
        display: inline-block;
        line-height: 20px;
        vertical-align: middle;
        max-width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    //&:nth-child(2){
    //  width: 20% !important;
    //}
    //
    //&:nth-child(3),  &:nth-child(4) {
    //  width: 20% !important;
    //}
  }
  tbody {
    border-bottom: 1px solid #dedede;
    tr {
      &:hover {
        background: lighten($main-color, 45%);

        .table-trigger {
          display: inline-block;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .announcement-status {
    width: 25%;
    text-align: center;
    text-transform: capitalize;

    span {
      color: #b5b5b5;
      background: lighten($text-color, 50%);
      border: 1px solid lighten(#b5b5b5, 5%);
      min-width: 85px;
      display: inline-block;
      height: 25px;
      line-height: 23px;
      border-radius: 5px;

      &.active {
        color: $green-color;
        background: lighten($green-color, 50%);
        border: 1px solid lighten($green-color, 35%);
      }
      &.scheduled {
        color: #ff761a;
        background: lighten(#ff761a, 43%);
        border: 1px solid lighten(#ff761a, 30%);
      }
    }

    //&.active {
    //  span {
    //    color: $green-color;
    //    //background: lighten($green-color, 45%);
    //    //border: 1px solid $green-color;
    //  }
    //}
    //&.scheduled {
    //  span {
    //    color: #ff761a;
    //    //background: lighten($main-color, 45%);
    //    //border: 1px solid $main-color;
    //  }
    //}


  }

}

.table-trigger {
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  position: absolute;
  right: 50px;
  z-index: 2;

  button {
    span {
      font-size: 12px;
    }
    height: 24px;
    margin: 0 5px;
    width: 24px;
    line-height: 24px;
    background: $blue-text-color;

    &:hover {
      background: lighten($blue-text-color, 5%);
    }

    .mat-button-wrapper {
      padding: 0;
    }
  }

  //.list-trigger-area {
  //display: none;
  //transition: all .3s;
  //position: absolute;
  //right: 50px;
  //z-index: 2;
  //transition: all .3s;

  i {
    font-size: 16px;
  }
  //}
}

.announcement-selection-area {
  text-align: right;
  padding: 6px 0;

  mat-form-field {
    top: 1px;
    width: 150px;
    font-size: 12px;
    font-weight: 600;

    span {
      color: #3A3A3A;
    }
  }


  .new-announcement {
    background: $main-color;
    padding-left: 45px;
    height: 35px;
    line-height: 35px;
    position: relative;
    margin-left: 15px;
    color: #ffffff;
    font-size: 12px;
    float: right;

    .announcement-icon {
      background: rgba(0, 0, 0, 0.30);
      height: 35px;
      display: inline-block;
      width: 35px;
      border-radius: 4px 0 0 4px;
      line-height: 35px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

}

//dialog
.dialog-header {
  background: $blue-text-color;
  position: relative;
  padding: 15px;

  h4 {
    //color: #1D9AC0;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }

  button {
    position: absolute;
    right: 15px;
    color: #fff;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    top: 10px;
    padding: 0 !important;
    margin: 0 !important;

    i {
      font-size: 14px;
      line-height: 15px;
      top: -2px;
      position: relative;
    }
  }
}


.new-announcement-form {
  padding: 10px 15px;

  .mat-form-field {
    width: 100%;

    textarea {
      height: 70px;
    }
  }

  label {
    color: #5B5B5B;
    font-size: 13px;
  }

}

.announcement-trigger {
  padding-bottom: 12px;

  .announcement-action {
    margin: 0 5px;
    color: #fff;
    background: #919191;

    &.send-announcement {
      background: #CBE9F4;
      color: #464646;
    }

    &[disabled][disabled] {
      background: #e3e3e3 !important;
      color: #aeaaaa !important;
    }
  }
}


.confirmation-header {
  background: $red-color;
  height: 36px;
  line-height: 36px;

  h3 {
    font-size: 14px;
    margin: 0;
    color: #ffffff;
    text-align: center;
    line-height: 36px;
    height: 36px;
    text-transform: uppercase;
  }

}

.confirmation-content {
  padding: 15px 10px;
  text-align: center;

  p {
    margin: 0;
    padding: 15px;
    text-align: center;
    color: #707070;
    font-size: 14px;
  }
}

.confirmation-action {
  button {
    font-size: 14px;
    margin: 0 5px;
    padding: 0 14px;
    background: #919191;
    color: #fff;
    min-width: 70px;
    text-transform: capitalize;

    &.confirm-btn {
      background: $red-color;
    }
  }
}

.load-more-announcement {
  background: #25AFCB;
  margin: 2em auto 0;
  width: 100%;
  display: block;
  max-width: 200px;
  color: #fff;
  opacity: .8;
  transition: all .3s;

  &:hover {
    opacity: 1;
    transition: all .3s;
  }

}

.message-field {
  mat-hint {
    margin-right: -10px;
    color: #505050;
    font-size: 11px;
  }
}


//
.announcement-status-label {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 15px;
  vertical-align: middle;

  span {
    font-size: 12px;
    font-weight: 600;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-flex;
      margin-left: 10px;
      font-size: 10px;
      padding: 5px;
    }
  }
}

span.announcement-current-status {
  display: inline-flex;
  width: 10px;
  height: 10px;
  background: #dedede;
  margin-right: 6px;
  align-self: center;
  border-radius: 100%;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: 600;

  &.scheduled {
    background: #ff761a;
  }

  &.active {
    background: #91cc10;
  }

  &.expired {
    background: #dedede;
  }
}

@media (max-width:1280px) {
  td{
    width: 100%;
    span.active-team {
      background: transparent;
      padding: 0 3px;
    }
  }
  .rel-teams {
    max-width: 180px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
  }
}

span.active-team {
  padding-right: 6px;
  position: relative;
  background: #f1f1f18a;
  margin: 0 2px;
  padding-left: 6px;
  border-radius: 2px;
  line-height: 19px;
  display: inline-block;
  //&:after{
  //  //content: ',';
  //}
  //&:last-child{
  //  &:after{
  //    content: '';
  //  }
  //}
}
