.active-chat-list-area{
  .channel-icon{
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    margin-right: 6px;

    img{
      width: 20px;
      max-height: 25px;
    }
  }
}

.manage-dashboard {
  width: 100%;
  .page-action{
    align-self: center;
  }

  .table {
    background: #ffffff;

    tr {
      position: relative;
      cursor: default;
      &:nth-of-type(even){
        background: #F7F7F7;
      }
    }

    thead {

      th {
        color: #434343;
        height: 38px;
        line-height: 38px;
        padding: 0 15px;
        font-size: 13px;
        background: #F7F7F7;
        border: 0;

        mat-icon {
          color: #848484;
          transform: rotate(90deg);
          font-size: 15px;
          position: relative;
          cursor: pointer;

          &:after{
            content: 'keyboard_backspace';
            position: absolute;
            left: 2px;
            top: 5px;
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  td {
    font-size: 13px;
    color: #434343;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    white-space: pre;
    border: 0;
    text-transform: capitalize;
    small {
      text-transform: lowercase;
      color: #888;
      font-size: 11px;
      margin-right: 3px;
    }

    .dashboard-name {
      font-weight: normal;
      font-size: 13px;
      cursor: pointer;
      position: relative;
      z-index: 2;
    }

    &:first-child {
      //width: 50% !important;

      span {
        cursor: default;
        max-width: 100%;
        display: inline-block;
        white-space: normal;
        line-height: 19px;
      }
    }

    //&:nth-child(2){
    //  width: 20% !important;
    //}
    //
    //&:nth-child(3),  &:nth-child(4) {
    //  width: 20% !important;
    //}
  }
  tbody {

    .table-trigger{
      opacity: 0;
      visibility: hidden;
      transition: all .3s;
      position: absolute;
      right: 15px;
      z-index: 2;
      top: 4px;
      button{
        height: 24px;
        margin: 0 5px;
        width: 24px;
        line-height: 24px;
        background: #919191;
        img{
          height: 11px;
          max-width: 15px;
        }


        &.chat-btn{
          &:hover{
            background: #35A7FA;
          }
        }
        &.transfer-btn{
          &:hover {
            background: #31CB73;
          }
        }
        &.close-btn{
          &:hover {
            background: #FC2A49;
          }
        }
      }
    }
    tr {
      &:hover {
        background: #EAEAEA;

        .table-trigger {
          display: inline-block;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

}

.data-table{
  height: 80vh;
  overflow: auto;
}

//Dialog Style
.dialog-main-content {
  padding: 15px 0;
  label {
    display: block;
    font-size: 13px;
    margin:  0;
    color: #434343;
  }

  textarea{
    width: 100%;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
  }
}

