<!--Right Sidebar trigger area-->
<div class="right-info-bar">
  <button mat-raised-button (click)="sidenav.toggle(); customerInfoToggle()">
    <mat-icon>{{ barOpened ? "navigate_next" : "navigate_before" }}</mat-icon>
  </button>
</div>

<!--Right sidebar-->
<mat-sidenav-container class="right-side-bar-main" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose position="end">
    <div class="bar-content">
      <mat-accordion class="right-drag-accordion">
        <div class="right-drag-content">
          <!--          <mat-expansion-panel class="drag-expansion-panel" *ngIf="acc == 'media_channel'" cdkDrag>-->
          <!--            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">-->
          <!--              <mat-panel-title><span class="material-icons drag-icon">more_vert</span>Media Channels-->
          <!--              </mat-panel-title>-->
          <!--            </mat-expansion-panel-header>-->

          <!--            <ul class="channel-list">-->
          <!--              <li>-->
          <!--                <img src="assets/images/landline-phone-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>+4466985845</strong>-->
          <!--                  <small>Landline Business</small>-->
          <!--                </p>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <img src="assets/images/phone-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>+446698988</strong>-->
          <!--                  <small>Mobile Personal</small>-->
          <!--                  <span class="channel-list-action">-->
          <!--                    <button mat-icon-button (click)="openDialog(callingTemplate, '+446698988')"><mat-icon>call</mat-icon></button>-->
          <!--                    <button mat-icon-button><mat-icon>message</mat-icon></button>-->
          <!--                    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          <!--                  </span>-->
          <!--                </p>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <img src="assets/images/whatsapp-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>+446698985</strong>-->
          <!--                  <small>Whatsapp Personal</small>-->
          <!--                  <span class="channel-list-action">-->
          <!--                    <button mat-icon-button><mat-icon>call</mat-icon></button>-->
          <!--                    <button mat-icon-button><mat-icon>message</mat-icon></button>-->
          <!--                    &lt;!&ndash;<button mat-icon-button><mat-icon>mail</mat-icon></button>&ndash;&gt;-->
          <!--                    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          <!--                    </span>-->
          <!--                </p>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <img src="assets/images/envelope-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>a.stanler@skytechinc.com</strong>-->
          <!--                  <small>Email Business</small>-->
          <!--                  <span class="channel-list-action">-->
          <!--                  <button mat-icon-button><mat-icon>mail</mat-icon></button>-->
          <!--                  <button mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          <!--                  </span>-->
          <!--                </p>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <img src="assets/images/facebook-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>Skytech Inc.</strong>-->
          <!--                  <small>Facebook Business</small>-->
          <!--                  <span class="channel-list-action">-->
          <!--                  <button mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          <!--                  </span>-->
          <!--                </p>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <img src="assets/images/skype-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>adam.reedsuk</strong>-->
          <!--                  <small>Landline Residence</small>-->
          <!--                  <span class="channel-list-action">-->
          <!--                    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          <!--                    </span>-->
          <!--                </p>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <img src="assets/images/safari-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>Desktop Browser 1</strong>-->
          <!--                  <small>Landline Residence</small>-->
          <!--                  <span class="channel-list-action">-->
          <!--                    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          <!--                    </span>-->
          <!--                </p>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <img src="assets/images/chrome-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>Desktop Browser 2</strong>-->
          <!--                  <small>Landline Residence</small>-->
          <!--                  <span class="channel-list-action">-->
          <!--                    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          <!--                    </span>-->
          <!--                </p>-->
          <!--              </li>-->

          <!--            </ul>-->
          <!--          </mat-expansion-panel>-->

          <mat-expansion-panel class="drag-expansion-panel">
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
              <mat-panel-title
                ><span class="material-icons drag-icon">more_vert</span>
                {{ "chat-features.customer-info.info" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="user-pre-detail">
              <div class="user-detail-area" *ngFor="let data of customerProfileFormData">
                <div>
                  <label>{{ data.key | sentenceCase }}:</label>

                  <p class="label-detail" *ngIf="'customer' | authPipe: 'view_pii' as result; else maskedpii">{{ data.value | spaceInArray }}</p>
                  <ng-template #maskedpii>
                    <p class="label-detail">
                      {{ data.value | spaceInArray | maskPIIAttribute: (data.key | returnSchemaByKey) }}
                    </p>
                  </ng-template>
                </div>
              </div>
              <ng-container>
                <div *ngIf="(conversation.topicParticipant.role | lowercase) != 'silent_monitor'" class="crm-trigger">
                  <!-- <p>Not a correct customer profile?</p> -->
                  <button *ngIf="'customer' | authPipe: 'view' as result" mat-raised-button (click)="gotoEmbedView()">
                    {{ "chat-features.customer-info.link-profile" | translate }}
                  </button>
                  <button *ngIf="'customer' | authPipe: 'manage_in_conversation' as result" (click)="updateProfile()" mat-raised-button>
                    {{ "chat-features.customer-info.update-profile" | translate }}
                  </button>
                </div>
              </ng-container>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="drag-expansion-panel">
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
              <mat-panel-title
                ><span class="material-icons drag-icon">more_vert</span>{{ "chat-features.customer-info.media-channels" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ul class="channel-list">
              <mat-accordion>
                <li class="multi-channel-list" *ngFor="let channel of mediaChannelData">
                  <mat-expansion-panel [hideToggle]="!channel.channelList">
                    <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                      <div class="channel-icon-area web-channel-inner">
                        <img matTooltip="{{ channel.fieldType }}" src="assets/attr-types/{{ channel.fieldType | lowercase }}.svg" />
                        <p>
                          <strong *ngIf="'customer' | authPipe: 'view_pii' as result; else maskedpii">{{ channel.value | spaceInArray }}</strong>
                          <ng-template #maskedpii>
                            <strong>{{
                              channel.value | spaceInArray | maskPIIAttribute: { isPii: channel.isPii, type: channel.fieldType, key: channel.key }
                            }}</strong>
                          </ng-template>
                          <small>{{ channel.label }}</small>
                        </p>
                      </div>
                    </mat-expansion-panel-header>
                    <ul class="channel-types-logo" *ngIf="channel.channelList.length > 0">
                      <li *ngFor="let activeChannel of channel.channelList">
                        <img [src]="activeChannel | channelName | channelLogo | async" />
                        <p>
                          <small>{{ activeChannel }}</small>
                          <span class="channel-list-action">
                            <!-- <button mat-icon-button><mat-icon>call</mat-icon></button> -->
                            <ng-container *ngIf="'agent-conversation-control' | authPipe: 'view_initiate_chat' as result">
                              <button
                                mat-icon-button
                                (click)="startOutBoundConversation(channel.value, activeChannel)"
                                *ngIf="(activeChannel | lowercase) == 'whatsapp' || (activeChannel | lowercase) == 'twitter'"
                              >
                                <mat-icon>message</mat-icon>
                              </button>
                            </ng-container>
                            <!-- <button mat-icon-button *ngIf="activeChannel.channelType !== 'email'" (click)="openDialog(callingTemplate, '+4466985845')"><mat-icon>call</mat-icon></button>
                    <button mat-icon-button><mat-icon>message</mat-icon></button> -->
                          </span>
                        </p>
                      </li>
                    </ul>
                  </mat-expansion-panel>
                </li>
              </mat-accordion>
            </ul>
          </mat-expansion-panel>

          <!--          <mat-expansion-panel class="drag-expansion-panel customer-info-panel">-->
          <!--            <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'45px'">-->
          <!--              <mat-panel-title-->
          <!--                ><span class="material-icons drag-icon">more_vert</span>-->
          <!--                <div class="profile-area">-->
          <!--                  &lt;!&ndash;                  <h3>{{customer.firstName | getFirstTwoLetters}}&ndash;&gt;-->
          <!--                  &lt;!&ndash;                  </h3>&ndash;&gt;-->
          <!--                  <h5 class="user-name">-->
          <!--                    {{'chat-features.customer-info.info' | translate}}-->
          <!--                    &lt;!&ndash;                    <p class="user-from">London, United Kingdom</p>&ndash;&gt;-->
          <!--                  </h5>-->
          <!--                </div>-->
          <!--              </mat-panel-title>-->
          <!--            </mat-expansion-panel-header>-->

          <!--            &lt;!&ndash;            <div class="profile-area">&ndash;&gt;-->
          <!--            &lt;!&ndash;              <h3>{{customer.info.name | slice :0 :2 |uppercase}}</h3>&ndash;&gt;-->
          <!--            &lt;!&ndash;              <h5 class="user-name">{{conversation}}&ndash;&gt;-->
          <!--            &lt;!&ndash;                <p class="user-from">London, United Kingdom</p>&ndash;&gt;-->
          <!--            &lt;!&ndash;              </h5>&ndash;&gt;-->
          <!--            &lt;!&ndash;            </div>&ndash;&gt;-->
          <!--            <div class="custom-tab-area">-->
          <!--              <ul>-->
          <!--                <li (click)="displayProfile = true; displayCustomerChannels = false" [ngClass]="{ 'tab-active': displayProfile }">-->
          <!--                  {{'chat-features.customer-info.customer-profile' | translate}}-->
          <!--                </li>-->
          <!--                <li (click)="displayProfile = false; displayCustomerChannels = true" [ngClass]="{ 'tab-active': displayCustomerChannels }">-->
          <!--                  {{'chat-features.customer-info.media-channels' | translate}}-->
          <!--                </li>-->
          <!--              </ul>-->
          <!--            </div>-->
          <!--            <div class="user-pre-detail" *ngIf="displayProfile">-->
          <!--              <div class="user-detail-area" *ngFor="let data of customerProfileFormData">-->
          <!--                <div>-->
          <!--                  <label>{{ data.key | sentenceCase }}:</label>-->
          <!--                  <p class="label-detail">{{ data.value | spaceInArray }}</p>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--              <ng-container *ngIf="conversationId != 'FAKE_CONVERSATION'">-->
          <!--                <div *ngIf="'customer-list' | authPipe: 'manage' as result" class="crm-trigger">-->
          <!--                  &lt;!&ndash; <p>Not a correct customer profile?</p> &ndash;&gt;-->
          <!--                  <button mat-raised-button (click)="gotoEmbedView()">{{'chat-features.customer-info.link-profile' | translate}}</button>-->
          <!--                  <button (click)="updateProfile()" mat-raised-button>{{'chat-features.customer-info.update-profile' | translate}}</button>-->
          <!--                </div>-->
          <!--              </ng-container>-->
          <!--            </div>-->
          <!--            <ul class="channel-list" *ngIf="displayCustomerChannels">-->
          <!--              <mat-accordion>-->
          <!--                <li class="multi-channel-list" *ngFor="let channel of mediaChannelData">-->
          <!--                  <mat-expansion-panel [hideToggle]="!channel.channelList">-->
          <!--                    <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">-->
          <!--                      <div class="channel-icon-area web-channel-inner">-->
          <!--                        <img matTooltip="{{ channel.fieldType }}" src="assets/attr-types/{{ channel.fieldType | lowercase }}.svg" />-->
          <!--                        <p>-->
          <!--                          <strong>{{ channel.value | spaceInArray }}</strong>-->
          <!--                          <small>{{ channel.label }}</small>-->
          <!--                        </p>-->
          <!--                      </div>-->
          <!--                    </mat-expansion-panel-header>-->
          <!--                    <ul class="channel-types-logo" *ngIf="channel.channelList.length > 0">-->
          <!--                      <li *ngFor="let activeChannel of channel.channelList">-->
          <!--                        <img [src]="activeChannel | channelName | channelLogo | async" />-->
          <!--                        <p>-->
          <!--                          <small>{{ activeChannel }}</small>-->
          <!--                          <span class="channel-list-action">-->
          <!--                            &lt;!&ndash; <button mat-icon-button><mat-icon>call</mat-icon></button> &ndash;&gt;-->
          <!--                            <ng-container *ngIf="('start-conversation' | authPipe : 'view') as result" >-->
          <!--                              <button-->
          <!--                                mat-icon-button-->
          <!--                                (click)="startOutBoundConversation(channel.value, activeChannel)"-->
          <!--                                *ngIf="activeChannel == 'WHATSAPP'"-->
          <!--                              >-->
          <!--                                <mat-icon>message</mat-icon>-->
          <!--                              </button>-->
          <!--                            </ng-container>-->
          <!--                            &lt;!&ndash; <button mat-icon-button *ngIf="activeChannel.channelType !== 'email'" (click)="openDialog(callingTemplate, '+4466985845')"><mat-icon>call</mat-icon></button>-->
          <!--                    <button mat-icon-button><mat-icon>message</mat-icon></button> &ndash;&gt;-->
          <!--                          </span>-->
          <!--                        </p>-->
          <!--                      </li>-->
          <!--                    </ul>-->
          <!--                  </mat-expansion-panel>-->
          <!--                </li>-->
          <!--              </mat-accordion>-->
          <!--            </ul>-->
          <!--          </mat-expansion-panel>-->
          <!-- customer Suggestions Tab start-->
          <mat-expansion-panel class="drag-expansion-panel" *ngIf="customerSuggestions.length !== 0">
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
              <mat-panel-title
                ><span class="material-icons drag-icon">more_vert</span>{{ "chat-features.customer-info.link-profile" | translate }}</mat-panel-title
              >
            </mat-expansion-panel-header>

            <div class="linked-area">
              <h5>{{ customerSuggestions.length }}{{ "chat-features.customer-info.profile-matched" | translate }}</h5>
              <ul class="match-content">
                <div *ngFor="let customer of customerSuggestions; let i = index">
                  <li *ngIf="i < 15">
                    {{ customer.firstName }}
                    <button *ngIf="'customer' | authPipe: 'view' as result" (click)="linkCustomer(customer)" mat-icon-button class="waves-effect">
                      <mat-icon>insert_link</mat-icon>
                    </button>
                  </li>
                </div>
              </ul>

              <div class="linked-action">
                <button mat-button *ngIf="'customer' | authPipe: 'view' as result" (click)="viewAllMatches()">
                  {{ "chat-features.customer-info.view-matches" | translate }}
                </button>
              </div>
            </div>
          </mat-expansion-panel>

          <!-- customer Suggestions Tab end-->

          <mat-expansion-panel class="drag-expansion-panel">
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
              <mat-panel-title
                ><span class="material-icons drag-icon">more_vert</span>{{ "chat-features.customer-info.active-channels" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="profile-area multi-channel-area">
              <mat-accordion>
                <mat-expansion-panel class="chat-channel-area" *ngFor="let channelSession of activeChannelSessions">

                  <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                    <div class="channel-icon-area">
                      <span class="channel-icon"><img [src]="channelSession.channel.channelType.channelLogo | channelLogo | async" /></span>
                      <label
                        >{{ channelSession.channel.channelType.name }}
                        <span
                          *ngIf="channelSession?.channel.channelType.name == 'CISCO_CC' || channelSession?.channel.channelType.name == 'CX_VOICE'"
                          class="call-time"
                          >{{ timer }}
                          <!-- <ng-container *ngIf="channelSession?.channel.channelType.name == 'CISCO_CC'">{{ timer
                            }}</ng-container>
                          <ng-container *ngIf="channelSession?.channel.channelType.name == 'CX_VOICE'"><ng-container
                              *ngIf="hours && hours > 0">{{ hours | number: '2.0' }}:</ng-container>{{ minutes | number:
                            '2.0' }}:{{
                            seconds |
                            number: '2.0' }}</ng-container> -->
                        </span>
                      </label>

                      <!-- <button (click)="moveSession($event)" mat-button [matMenuTriggerFor]="rerouteMenu"
                        class="re-route-session">Move</button>
                      <mat-menu #rerouteMenu="matMenu">
                        <button class="re-route-trigger" (click)="reRouteDialog(reRouteSessionConfirmation, 're-route')"
                          mat-menu-item>Re-route Session</button>
                        <button class="re-route-trigger"
                          (click)="reRouteDialog(reRouteSessionConfirmation, 're-assign')" mat-menu-item>Re-assign to
                          self</button>
                      </mat-menu> -->
                    </div>
                    <ul class="channel-info-list" *ngIf="channelSession.webChannelData">
                      <li
                        matTooltip="{{ 'chat-features.customer-info.device' | translate }} {{
                          channelSession.webChannelData.browserDeviceInfo.deviceType
                            ? channelSession.webChannelData.browserDeviceInfo.deviceType
                            : ('chat-features.customer-info.unknown' | translate)
                        }}"
                      >
                        <!--                        <mat-icon>{{channelSession.webChannelData.browserDeviceInfo.deviceType |-->
                        <!--                          webChannelData:'deviceType'}}</mat-icon>-->

                        <img
                          src="assets/device-icons/{{
                            channelSession.webChannelData.browserDeviceInfo.deviceType | webChannelData: 'deviceType'
                          }}.svg"
                          alt="device"
                        />
                      </li>
                      <li
                        matTooltip="{{ 'chat-features.customer-info.browser' | translate }} {{
                          channelSession.webChannelData.browserDeviceInfo.browserName
                            ? channelSession.webChannelData.browserDeviceInfo.browserName
                            : ('chat-features.customer-info.unknown' | translate)
                        }}"
                      >
                        <img
                          src="assets/browser-icons/{{ channelSession.webChannelData.browserDeviceInfo.browserName | webChannelData: 'browser' }}.svg"
                          alt="browser"
                        />
                      </li>
                      <li
                        matTooltip="{{ 'chat-features.customer-info.country' | translate }} {{
                          channelSession.webChannelData.locale.country
                            ? channelSession.webChannelData.locale.country
                            : ('chat-features.customer-info.unknown' | translate)
                        }}"
                      >
                        <img src="assets/flags/{{ channelSession.webChannelData.locale.country | webChannelData: 'country' }}.svg" alt="country" />
                      </li>
                      <li
                        class="lang-bar"
                        matTooltip="{{ 'chat-features.customer-info.language' | translate }} {{
                          channelSession.webChannelData.locale.language
                            ? channelSession.webChannelData.locale.language
                            : ('chat-features.customer-info.unknown' | translate)
                        }}"
                      >
                        {{
                          (channelSession.webChannelData.locale.language ? channelSession.webChannelData.locale.language : "A") | getFirstTwoLetters
                        }}
                      </li>
                    </ul>
                  </mat-expansion-panel-header>
                  <ul class="requested-channel-content">
                    <li>
                      <label>{{
                        "chat-features.customer-info.customer-identifier" | translate
                      }}</label>
                      <span *ngIf="'customer' | authPipe: 'view_pii' as result; else maskedpii">{{channelSession.channelData.channelCustomerIdentifier}}</span>
                      <ng-template #maskedpii>
                        {{
                          channelSession.channelData.channelCustomerIdentifier
                            | maskPIIAttribute: (channelSession.channel.channelType.name | returnSchemaByChannelType)
                        }}
                      </ng-template>
                    </li>
                    <li>
                      <label>{{ "chat-features.customer-info.service-identifier" | translate }}</label>
                      {{ channelSession.channelData.serviceIdentifier }}
                    </li>
                    <div *ngFor="let attr of channelSession.channelData.additionalAttributes">
                      <li *ngIf="(attr.type | lowercase) != 'webchanneldata' && attr.key != 'callStartTime'">
                        <label>{{ attr.key | sentenceCase }}</label>
                        {{ attr.value | spaceInArray }}
                      </li>
                      <!-- <li *ngIf="attr.key == 'callStartTime'">
                        <label>{{ attr.key | sentenceCase }}</label>
                        {{ attr.value | date: "hh:mm:ss" }}
                      </li> -->
                    </div>
                  </ul>
                  <div class="channel-inner-content" *ngFor="let additionalAttribute of channelSession.channelData.additionalAttributes">
                    <!--Web chat desktop channel accordion-->
                    <mat-expansion-panel *ngIf="(additionalAttribute.type | lowercase) == 'webchanneldata'">
                      <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                        <div class="channel-icon-area web-channel-inner">
                          <label>{{ "chat-features.customer-info.form-data" | translate }}</label>
                        </div>
                      </mat-expansion-panel-header>

                      <ul class="requested-channel-content" *ngFor="let attr of additionalAttribute.value.formData.attributes">
                        <li>
                          <label>{{ attr.key | sentenceCase }}</label>
                          {{ attr.value }}
                        </li>
                      </ul>
                    </mat-expansion-panel>
                  </div>
                </mat-expansion-panel>

                <!--Call Active accordion-->
                <!-- <mat-expansion-panel class="chat-channel-area">
                  <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                    <div class="channel-icon-area">
                      <span class="channel-icon voice-call"><img src="assets/images/voice-call.svg"></span>
                      <label>Voice Call <span class="call-time">03:33</span></label>
                    </div>
                  </mat-expansion-panel-header>

                  <ul class="requested-channel-content">
                    <li>
                      <label>Call Time</label>
                      11:20 AM
                    </li>
                    <li>
                      <label>Customer</label>
                      Stacy Miller
                    </li>
                    <li>
                      <label>Call Type</label>
                      Incoming Call
                    </li>
                    <li>
                      <label>IVR Trail</label>
                      IVR-2 > 1236 > Complaint Registration > Landline > Cross Talk > CSR
                    </li>
                    <li>
                      <label>Call Attached Data</label>
                      <a href="">https://tinyurl.com/yyk6qks3</a>
                    </li>
                    <li>
                      <label>Call Disposition</label>
                      <a>Transferred</a>
                    </li>
                  </ul>
                </mat-expansion-panel> -->
              </mat-accordion>
            </div>
          </mat-expansion-panel>
          <!-- Current Conversation data-->
          <mat-expansion-panel class="drag-expansion-panel conversation-data-panel">
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
              <mat-panel-title
                ><span class="material-icons drag-icon">more_vert</span>{{ "chat-features.customer-info.conversation-data" | translate }}
                <small>{{ "chat-features.customer-info.active-conversation" | translate }}</small>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="conversation-data-main">
              <div class="conversation-data">
                <ul (click)="$event.stopPropagation()" *ngIf="(activeConversationData | keyvalue)?.length; else notFound">
                  <li *ngFor="let data of activeConversationData | keyvalue">
                    <label>{{ data.key | titlecase }}:</label><span>{{ data.value }}</span>
                  </li>
                </ul>
                <ng-template #notFound>
                  <ul>
                    <li>
                      <label>{{ "chat-features.customer-info.data" | translate }}</label
                      ><span>{{ "chat-features.customer-info.not-found" | translate }}</span>
                    </li>
                  </ul>
                </ng-template>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
  </mat-sidenav>

  <!--  <mat-sidenav-content>-->
  <!--    <p>hi </p>-->
  <!--  </mat-sidenav-content>-->
</mat-sidenav-container>

<ng-template #callingTemplate>
  <div class="calling-dialog-main">
    <div class="dialog-main-content">
      <div class="row m-0">
        <div class="call-content">
          <div class="call-icon">
            <mat-icon>phone</mat-icon>
          </div>
          <div class="call-detail">
            <p>{{ "chat-features.customer-info.initiate-outgoing-call-to" | translate }}</p>
            <h4>{{ "chat-features.customer-info.stacy-miller" | translate }}</h4>
            <strong>{{ outgoingCallingNumber }}</strong>
            <small>{{ "chat-features.customer-info.mobile" | translate }}</small>
          </div>
        </div>
      </div>
    </div>

    <div class="call-trigger">
      <button mat-button [mat-dialog-close]="true" class="call-btn" cdkFocusInitial>{{ "chat-features.customer-info.call" | translate }}</button>
      <button mat-button mat-dialog-close class="cancel-call">{{ "globals.Cancel" | translate }}</button>
    </div>
  </div>
</ng-template>

<ng-template #reRouteSessionConfirmation>
  <div class="confirmation-dialog">
    <div class="confirmation-header">
      <h3>{{ reRouteText }}</h3>
    </div>
    <div class="confirmation-content">
      <p>
        {{
          (reRouteText == "re-assign"
            ? "chat-features.customer-info.re-assign-chat-session-to-your-self?"
            : "chat-features.customer-info.re-route-Whatsapp-chat session-to-another-agent?"
          ) | translate
        }}
      </p>
      <div class="confirmation-action">
        <button mat-raised-button class="close-btn" mat-dialog-close>{{ "globals.Cancel" | translate }}</button>
        <button mat-raised-button class="confirm-btn">{{ "globals.Confirm" | translate }}</button>
      </div>
    </div>
  </div>
</ng-template>
