@import "src/app/shared/globalVariables";

.right-info-bar {
  height: 100%;
  width: 0;
  //border-left: 2px solid lighten($blue-text-color, 42%);
  min-width: 0;
  position: absolute;
  right: 0;
  background: #fff;
  z-index: 2;
  button {
    position: absolute;
    z-index: 999;
    padding: 0;
    min-width: 20px;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background: #fff;
    color: $blue-text-color;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: -3px 0 3px #ccc;
    border-radius: 5px 0 0 5px;
  }
}



//Multi Channel Area.customer-highlight
.right-drag-accordion {
  mat-expansion-panel {
    margin: 5px !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  //.right-drag-content {
    .material-icons.drag-icon {
      text-shadow: -5px 0px 0px lighten($main-color, 20%);
      color: lighten($main-color, 20%);
      font-size: 16px;
      margin-right: 5px;

    }
    ul{
      padding: 0 5px;
      clear: both;
    }
    .customer-info-panel {
      mat-expansion-panel-header {
        background: $white-color;
        border-bottom: 1px solid $highlight-color;

        .material-icons.drag-icon {
          text-shadow: -5px 0px 0px $highlight-color;
          color: $highlight-color;

        }

        h3{
          background: $main-color-background;
        }
      }
    }
    mat-expansion-panel-header {
      background: $header-gray-color;
      padding-left: 8px !important;
      padding-right: 10px;

      mat-panel-title {
        font-size: 13px;
        color: lighten($dark-gray-color, 40%);
        font-weight: bold;
        align-items: center;
      }
    }
  //}
  .multi-channel-area{
    mat-expansion-panel {
      margin: 5px -5px !important;
      box-shadow: none !important;
      border-radius: 0;
      border: 1px solid #c0ecf9;
      &.chat-channel-area {
        border: 1px solid #c0ecf9;
        background-color: white !important;

       // mat-expansion-panel-header{
          //border-top: 0 !important;
          //border-left: 0;
          //border-right: 0;
        //}
      }

      mat-expansion-panel-header{
        background: white !important;
        //border: 1px solid #c0ecf9;
        padding: 0 15px;
        position: relative;
      }
      .mat-expansion-panel-body{
        border: none !important;
      }
      mat-expansion-panel{
        border: 0;
      }
    }

    .channel-icon-area {
      white-space: nowrap;
      cursor: pointer;
      span {
        //background: $blue-text-color;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        text-align: center;
        display: inline-flex;
        margin-right: 8px;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
      }
      .call-time {
        background: #fff;
        width: inherit !important;
        padding: 0 5px !important;
        border-radius: 5px !important;
        height: 18px !important;
        line-height: 18px !important;
        top: -1px;
        position: relative;
      }

      label{
        color: lighten($dark-gray-color, 60%);
        font-size: 11px;
        margin: 0;
      }
      &.facebook-channel span{
        background: $facebook-color;

      }
      &.whatsapp-channel span{
        background: $whatsapp-color;

      }
      &.sms-channel span{
        background: $sms-color;

      }
      &.viber-channel span{
        background: $viber-color;

      }
      img{
        align-self: center;
        justify-content: center;
        max-width: 20px;
        width: 100%;
        height: 100%;
      }

      i {
        position: absolute;
        right: 23px;
        border-right: 1px solid #D0E9FA;
        border-left: 1px solid #D0E9FA;
        color: #A5A5A5;
        font-weight: 100;
        height: 30px;
        line-height: 30px;
        padding: 0 ;
        font-size: 19px;
        min-width: 30px;
        text-align: center;
        top: 0;
      }
    }

    .channel-inner-content{
      //border: 1px solid #c0ecf9;

      mat-expansion-panel{
        margin: 0 !important;
        border-radius: 0 !important;
        padding: 0 5px;

        mat-expansion-panel-header{
          background: #fff;
          padding: 0 5px;
          border-radius: 0 !important;

          &.mat-expanded {
            label {
              color: $blue-text-color;
              font-weight: 500;
            }
          }
        }
      }
    }

    .requested-channel-content {
      margin: 0;
      padding: 0 5px;

      li{
        font-size: 11px;
        color: lighten($dark-gray-color, 30%);
        line-height: 15px;
        padding: 10px 0;
        border-bottom: 1px dotted #ccc;
        list-style: none;
        label{
          display: block;
          font-size: 10px;
          color:  lighten($dark-gray-color, 70%);
          margin: 0;
        }
      }
    }
  }
}



.profile-area {
  padding: 0;

  //h3 {
  //  text-align: center;
  //  margin: 0;
  //  font-size: 13px;
  //  width: 30px;
  //  height: 30px;
  //  background: $white-color;
  //  color: $blue-text-color;
  //  line-height: 30px;
  //  border-radius: 100%;
  //  float: left;
  //  top: 2px;
  //  position: relative;
  //  text-transform: uppercase;
  //  font-weight: bold;
  //}

  .user-name {
    font-size: 14px;
    color: $blue-text-color;
    text-align: left;
    margin: 0;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    line-height: 35px;
    //padding-left: 10px;
    position: relative;
    top: 3px;
  }

  p.user-from {
    font-size: 12px;
    text-align: left;
    margin: 0px 0;
    font-weight: 500;
    color: lighten($dark-gray-color, 50%);
    line-height: 12px;
  }
}

.user-pre-detail {
  margin-top: 15px;
  padding: 10px 15px;

  .user-detail-area {
    border-bottom: 1px dotted lighten($dark-gray-color, 60%);
    margin-bottom: 8px;

    &:last-child {
      border-bottom: 0;
    }

    .label-detail {
      margin: 0 0 3px;
      font-size: 12px;
      color: lighten($dark-gray-color, 30%);
    }

    label {
      font-size: 9px;
      color: lighten($dark-gray-color, 70%);
      font-weight: 600;
    }
  }
}

.channel-list {
  li {
    width: 100%;
    margin: 15px 0;
    background: lighten($dark-gray-color, 100%);
    position: relative;
    border-radius: 3px;
    padding: 5px 8px;
    list-style: none;

    &:hover {
      background: $main-color-background;

      .channel-list-action {
        display: block;
        transition: all .2s;
      }
    }

    &.multi-channel-list {
      padding: 0;

      .mat-expansion-panel {
        margin: 0 !important;

        mat-expansion-panel-header {
          border: 0;
          height: auto !important;
    min-height: 30px;
        }

        .web-channel-inner {
          width: 100%;
        }

        ul {
          padding-left: 2.5em;
          list-style: none;
          margin-top: 10px;
          li {
            padding: 5px !important;
            min-height: 25px;
            // line-height: 25px;
            border-bottom: 1px dashed #D9D9D9;
            margin: 0;
            .channel-list-action{
              display: block;
              button{
                margin-right: 5px;
              }
            }

            img {
              margin: 0;
            }
          }
        }

      }
      .channel-types-logo{
        img{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  img {
    float: left;
    height: 25px;
    width: 25px;
    margin: 6px 0;
  }
  p {
    display: inline-block;
    width: calc(100% - 36px);
    margin: 0;
    padding-left: 8px;
    font-size: 14px;
    color: lighten($dark-gray-color, 60%);
    line-height: 18px;
    strong {
      display: block;
      font-size: 12px;
    }
    small {
      position: relative;
      top: -1px;
      color: #BEBEBE;
    }
    .channel-list-action{
      position: absolute;
      right: 0;
      top: 50%;
      display: none;
      transform: translate(0, -50%);
      //transition: all.2s;
      button {
        display: inline-block;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 24px;
        border-radius: 100%;
        //transition: all.2s;

        &:hover {
          background: #c4cfdf;
          mat-icon{
            color: $blue-text-color;
          }
        }
        mat-icon {
          font-size: 16px;
          color: #9FACBF;
        }
      }
    }
  }
}
.channel-selection {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 80px;
  padding: 20px 0;
  width: 70px;
  color: lighten($dark-gray-color, 70%);
  .channel-cover{
    text-align: center;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;

    img {
      height: 17px;
      max-width: 20px;
    }
  }

  .channel-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  button {
    width: 50px;
    color: lighten($dark-gray-color, 80%);
    &:focus, &:hover{
      background: transparent !important;
    }
  }
}

//Profile Linking area

.linked-area {
  height: calc(100% - 20px);

  h5 {
    color:  #0093FF;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin: 15px auto;
  }

  .match-content {
    display: block;
    width: 100%;
    margin: 0;
    height: calc(100% - 115px);
    overflow: auto;

    li {
      display: block;
      padding: 8px 15px;
      border-bottom: 1px solid lighten($dark-gray-color, 80%);
      color: lighten($dark-gray-color, 60%);
      position: relative;
      font-size: 12px;

      &:hover {
        background: lighten($blue-text-color, 50%);

        button {
          display: block !important;
        }
      }

      button {
        background: lighten($dark-gray-color, 100%);
        position: absolute;
        right: 10px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        top: 5px;
        display: none;

        mat-icon {
          color: $blue-text-color;
          font-size: 18px;
          line-height: 22px !important;
        }
      }
    }
  }

}
.linked-action{
  text-align: center;
  margin-top: 16px;

  p{
    display: block;
    text-align: center;
    padding: 10px 0;
    color: #5B5B5B;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
  }
  button {
    background: $blue-text-color;
    color: lighten($dark-gray-color, 100%);
    font-size: 10px;
    padding: 0;
    min-width: 115px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 3px 10px;
  }
}
.crm-trigger{
  @extend .linked-action;
  // button {
  //   min-width: 150px;
  // }
}

//Calling Dialog
.calling-dialog-main {
  padding: 20px;
  .call-content {
    text-align: center;
    width: 100%;

    .call-icon {
      width: 80px;
      margin: 0 auto;
      border: 1px solid lighten($blue-text-color, 30%);
      height: 80px;
      line-height: 80px;
      border-radius: 100%;
      text-align: center;
      padding: 0;

      mat-icon {
        color: $red-color;
        font-size: 34px;
        height: 80px;
        line-height: 80px;
        width: 80px;
      }
    }

    .call-detail {
      margin-top: 20px;
      color: lighten($dark-gray-color, 40%);

      p {
        font-size: 12px;
        margin: 0;
      }

      h4 {
        color: $blue-text-color;
        font-size: 22px;
        margin: 0;
      }

      strong {
        font-size: 15px;
        display: block;
      }
    }
  }
  .call-trigger {
    button {
      width: 100%;
      color: lighten($dark-gray-color, 40%);
      padding: 0;
      height: 30px;
      line-height: 30px;
      border: 1px solid lighten($dark-gray-color, 40%);
      opacity: 1;

      &.call-btn {
        background: $green-color;
        color: #ffffff;
        border-color: $green-color;
        margin: 8px 0;
      }
    }
  }
}

.custom-tab-area{
  margin: 3px 0;
  ul{
    padding: 0;
    margin: 0;
    display: flex;

    li{
      background: #F3F6F8;
      color: #999;
      padding: 5px 2px;
      list-style: none;
      cursor: pointer;
      font-size: 12px;
      text-align: center;
      flex: 2;
      &.tab-active{
        background: #fff;
        color: $blue-text-color;
      }
    }
  }
}


//Re-route session
.re-route-session{
  color: $blue-text-color;
  background: transparent;
  padding: 0;
  font-size: 11px;
  width: 30px !important;
  min-width: 26px;
  height: 12px;
  line-height: 12px;
  border-radius: 0;
  border-bottom: 1px solid $blue-text-color;
  margin-left: 12px;
}
button.re-route-trigger {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  background: #fcfcfc;
}

//Confirmation Dialog
.confirmation-header {
  background: $main-color;
  height: 36px;
  line-height: 36px;

  h3 {
    font-size: 14px;
    margin: 0;
    color: #ffffff;
    text-align: center;
    line-height: 36px;
    height: 36px;
    text-transform: uppercase;
  }

}

.confirmation-content {
  padding: 15px 10px;
  text-align: center;

  p {
    margin: 0;
    padding: 15px;
    text-align: center;
    color: #707070;
    font-size: 14px;
  }
}

.confirmation-action {
  button {
    font-size: 14px;
    margin: 0 5px;
    padding: 0 14px;
    background: #919191;
    color: #fff;
    min-width: 70px;
    text-transform: capitalize;

    &.confirm-btn {
      background: $blue-text-color;;
    }
  }
}

ul.channel-info-list {
  margin: 0 10px 0 0;
  li {
    display: inline-flex;
    font-size: 10px;
    font-weight: 500;
    margin: 0 0 0 10px;
    vertical-align: middle !important;
    text-align: center;

    mat-icon{
      font-size: 15px;
      line-height: 30px;
      height: 30px;
      width: auto;
      color: $blue-text-color;
    }
    img{
      vertical-align: middle;
      border-style: none;
      max-height: 16px;
      max-width: 16px;
      width: 100%;
      height: 100%;
    }
  }
}
a{
  color: white;
}


.lang-bar{
  font-weight: 700 !important;
    font-size: 15px !important;
    color: #4773B5;
}
//conversation View data
.conversation-data-panel{
  mat-panel-title{
    small{
      color: $theme-green;
      margin-left: 10px;
    }
  }
}
.conversation-data-main{
  ul{
    padding: 0;
    margin:15px;
    list-style: none;
    li {
      display: flex;
      padding: 2px 0;
      font-size: 12px;
      flex-flow: row;
      flex-wrap: nowrap;
      label{
        flex: 0 0 35%;
        margin-right: 10%;
        margin-bottom: 0;
        position: relative;
        color: #787878;

        &:after{
          content: ':';
          position: absolute;
          right: 0;
          color: #303030;
        }
      }
      span{
        color: #303030;
      }
    }
  }
}
//conversation View data
.conversation-data-panel{
  mat-panel-title{
    small{
      color: $theme-green;
      margin-left: 10px;
    }
  }
}
.conversation-data-main{
  ul{
    padding: 0;
    margin:15px;
    list-style: none;
    li {
      display: flex;
      padding: 2px 0;
      font-size: 12px;
      flex-flow: row;
      flex-wrap: nowrap;
      label{
        flex: 0 0 35%;
        margin-right: 10%;
        margin-bottom: 0;
        position: relative;
        color: #787878;

        &:after{
          content: ':';
          position: absolute;
          right: 0;
          color: #303030;
        }
      }
      span{
        color: #303030;
      }
    }
  }
}


//Activity panel
.activity-main-panel {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;

  span {
    height: 20px;
    //margin: 0 5px;
    font-size: 12px;
  }

  .activity-icon {
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    margin: 0;

    mat-icon {
      color: #CE0101;
      font-size: 16px;
      width: 22px;
      height: 22px;
      line-height: 22px;

    }
  }

  .activity-time {
    border-radius: 15px;
    padding: 0 10px;
    background: #fff;
    margin: 0 0 0 3px;
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
  }

  .activity-actions {
    margin-left: 0;
    margin-right: 10px;
    span {
      border-bottom: 1px solid #000;
      font-size: 10px;
      margin: 0;
      &:hover{
        &.delete-activity{
          color: #CE0101;
          border-color: #CE0101;
        } &.reschedule-activity{
          color: #567E00;
          border-color: #567E00;
        }
      }

      &:first-child {
        position: relative;
        margin-right: 9px;

        &:after {
          content: "";
          background: #1D1D1D;
          position: absolute;
          width: 1px;
          right: -5px;
          top: 2px;
          height: 10px;
        }
      }
    }
  }

}
.scheduled-activity-panel {
  .scheduled-activity-data ul {
    margin: 0;

    li label {

      margin-right: 10px;
    }
  }

  mat-expansion-panel-header {
    padding: 0 5px !important;
    border-radius: 5px;
  }

  span.mat-expansion-indicator {
    border: 1px solid rgb(204, 204, 204);
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: relative;
    border-radius: 100%;
  }

  .activity-detail-main {
    .activity-detail {
      strong {
        color: $blue-text-color;
        font-size: 12px;
      }

      p {
        font-size: 14px;
        margin-bottom: 8px;
      }
    }
  }
}
  .activity-notify {
    font-weight: normal;
    background: $red-color;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    text-align: center;
    font-size: 10px;
    color: #fff;
    line-height: 13px;
    border: 1px solid #fff;
    position: relative;
    right: 3px;
    top: -6px;
    box-shadow: 0 0 4px #999;
  }
.panel-content-main{
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
}

