<!--Right Sidebar trigger area-->
<div class="right-info-bar">
  <button mat-raised-button (click)="sidenav.toggle(); customerInfoToggle()">
    <mat-icon>{{barOpened ? 'navigate_next' : 'navigate_before'}}</mat-icon>
  </button>
</div>


<!--Right sidebar-->
<mat-sidenav-container class="right-side-bar-main" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose position="end">
    <div class="bar-content">

      <mat-accordion class="right-drag-accordion" cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="right-drag-content">

          <!--          <mat-expansion-panel class="drag-expansion-panel" *ngIf="acc == 'media_channel'" cdkDrag>-->
          <!--            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">-->
          <!--              <mat-panel-title><span class="material-icons drag-icon">more_vert</span>Media Channels-->
          <!--              </mat-panel-title>-->
          <!--            </mat-expansion-panel-header>-->

          <!--            <ul class="channel-list">-->
          <!--              <li>-->
          <!--                <img src="assets/images/landline-phone-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>+4466985845</strong>-->
          <!--                  <small>Landline Business</small>-->
          <!--                </p>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <img src="assets/images/phone-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>+446698988</strong>-->
          <!--                  <small>Mobile Personal</small>-->
          <!--                  <span class="channel-list-action">-->
          <!--                    <button mat-icon-button (click)="openDialog(callingTemplate, '+446698988')"><mat-icon>call</mat-icon></button>-->
          <!--                    <button mat-icon-button><mat-icon>message</mat-icon></button>-->
          <!--                    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          <!--                  </span>-->
          <!--                </p>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <img src="assets/images/whatsapp-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>+446698985</strong>-->
          <!--                  <small>Whatsapp Personal</small>-->
          <!--                  <span class="channel-list-action">-->
          <!--                    <button mat-icon-button><mat-icon>call</mat-icon></button>-->
          <!--                    <button mat-icon-button><mat-icon>message</mat-icon></button>-->
          <!--                    &lt;!&ndash;<button mat-icon-button><mat-icon>mail</mat-icon></button>&ndash;&gt;-->
          <!--                    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          <!--                    </span>-->
          <!--                </p>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <img src="assets/images/envelope-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>a.stanler@skytechinc.com</strong>-->
          <!--                  <small>Email Business</small>-->
          <!--                  <span class="channel-list-action">-->
          <!--                  <button mat-icon-button><mat-icon>mail</mat-icon></button>-->
          <!--                  <button mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          <!--                  </span>-->
          <!--                </p>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <img src="assets/images/facebook-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>Skytech Inc.</strong>-->
          <!--                  <small>Facebook Business</small>-->
          <!--                  <span class="channel-list-action">-->
          <!--                  <button mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          <!--                  </span>-->
          <!--                </p>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <img src="assets/images/skype-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>adam.reedsuk</strong>-->
          <!--                  <small>Landline Residence</small>-->
          <!--                  <span class="channel-list-action">-->
          <!--                    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          <!--                    </span>-->
          <!--                </p>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <img src="assets/images/safari-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>Desktop Browser 1</strong>-->
          <!--                  <small>Landline Residence</small>-->
          <!--                  <span class="channel-list-action">-->
          <!--                    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          <!--                    </span>-->
          <!--                </p>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <img src="assets/images/chrome-colored.svg"/>-->
          <!--                <p>-->
          <!--                  <strong>Desktop Browser 2</strong>-->
          <!--                  <small>Landline Residence</small>-->
          <!--                  <span class="channel-list-action">-->
          <!--                    <button mat-icon-button><mat-icon>more_vert</mat-icon></button>-->
          <!--                    </span>-->
          <!--                </p>-->
          <!--              </li>-->

          <!--            </ul>-->
          <!--          </mat-expansion-panel>-->

          <mat-expansion-panel class="drag-expansion-panel" cdkDrag>
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
              <mat-panel-title><span class="material-icons drag-icon">more_vert</span>
                <div class="profile-area">
                  <h3>{{customer.firstName | getFirstTwoLetters}}
                  </h3>
                  <h5 class="user-name">{{customer.firstName}}
                    <!--                    <p class="user-from">London, United Kingdom</p>-->
                  </h5>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!--            <div class="profile-area">-->
            <!--              <h3>{{customer.info.name | slice :0 :2 |uppercase}}</h3>-->
            <!--              <h5 class="user-name">{{conversation}}-->
            <!--                <p class="user-from">London, United Kingdom</p>-->
            <!--              </h5>-->
            <!--            </div>-->
            <div class="custom-tab-area">
              <ul>
                <li (click)="displayProfile = true; displayCustomerChannels = false"
                  [ngClass]="{'tab-active' : displayProfile}">Customer Profile</li>
                <li (click)="displayProfile = false; displayCustomerChannels = true"
                  [ngClass]="{'tab-active' : displayCustomerChannels}">Media Channels</li>
              </ul>
            </div>
            <div class="user-pre-detail">
              <div *ngFor="let data of customerProfileFormData">

                <div class="user-detail-area">
                  <label>{{data.key | sentenceCase}}:</label>
                  <p class="label-detail">{{data.value}}</p>
                </div>

              </div>

              <div class="crm-trigger">
                <p>Not a correct customer profile?</p>
                <button mat-raised-button>
                  <a routerLink="/customers/phonebook" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    [queryParams]="{ 'q': 'linking', 'topicId':topicId }">Re-link Customer
                    Profile</a>
                </button>
                <button *ngIf="false" mat-raised-button>link CRM</button>
              </div>
            </div>
            <ul class="channel-list" *ngIf="displayCustomerChannels">
              <li>
                <img src="assets/images/landline-phone-colored.svg" />
                <p>
                  <strong>+4466985845</strong>
                  <small>Landline Business</small>
                </p>
              </li>
              <li>
                <img src="assets/images/phone-colored.svg" />
                <p>
                  <strong>+446698988</strong>
                  <small>Mobile Personal</small>
                  <span class="channel-list-action">
                    <button mat-icon-button (click)="openDialog(callingTemplate, '+446698988')">
                      <mat-icon>call</mat-icon>
                    </button>
                    <button mat-icon-button>
                      <mat-icon>message</mat-icon>
                    </button>
                    <button mat-icon-button>
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </span>
                </p>
              </li>
              <li>
                <img src="assets/images/whatsapp-colored.svg" />
                <p>
                  <strong>+446698985</strong>
                  <small>Whatsapp Personal</small>
                  <span class="channel-list-action">
                    <button mat-icon-button>
                      <mat-icon>call</mat-icon>
                    </button>
                    <button mat-icon-button>
                      <mat-icon>message</mat-icon>
                    </button>
                    <!--<button mat-icon-button><mat-icon>mail</mat-icon></button>-->
                    <button mat-icon-button>
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </span>
                </p>
              </li>
              <li>
                <img src="assets/images/envelope-colored.svg" />
                <p>
                  <strong>a.stanler@skytechinc.com</strong>
                  <small>Email Business</small>
                  <span class="channel-list-action">
                    <button mat-icon-button>
                      <mat-icon>mail</mat-icon>
                    </button>
                    <button mat-icon-button>
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </span>
                </p>
              </li>
              <li>
                <img src="assets/images/facebook-colored.svg" />
                <p>
                  <strong>Skytech Inc.</strong>
                  <small>Facebook Business</small>
                  <span class="channel-list-action">
                    <button mat-icon-button>
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </span>
                </p>
              </li>
              <li>
                <img src="assets/images/skype-colored.svg" />
                <p>
                  <strong>adam.reedsuk</strong>
                  <small>Landline Residence</small>
                  <span class="channel-list-action">
                    <button mat-icon-button>
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </span>
                </p>
              </li>
              <li>
                <img src="assets/images/safari-colored.svg" />
                <p>
                  <strong>Desktop Browser 1</strong>
                  <small>Landline Residence</small>
                  <span class="channel-list-action">
                    <button mat-icon-button>
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </span>
                </p>
              </li>
              <li>
                <img src="assets/images/chrome-colored.svg" />
                <p>
                  <strong>Desktop Browser 2</strong>
                  <small>Landline Residence</small>
                  <span class="channel-list-action">
                    <button mat-icon-button>
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </span>
                </p>
              </li>

            </ul>

          </mat-expansion-panel>

          <!-- customer Suggestions Tab start-->
          <mat-expansion-panel class="drag-expansion-panel" *ngIf="customerSuggestions.length != 0" cdkDrag>
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
              <mat-panel-title><span class="material-icons drag-icon">more_vert</span>Link Profile
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="linked-area">
              <h5>{{customerSuggestions.length}} profiles matches this
                customer data.</h5>
              <ul class="match-content">
                <li *ngFor="let customer of customerSuggestions">
                  {{customer.firstName}}
                  <button (click)="linkCustomer(customer.id)" mat-icon-button class="waves-effect">
                    <mat-icon>insert_link</mat-icon>
                  </button>
                </li>
              </ul>

              <div class="linked-action">
                <p>You may link customer to appropriate profile or create a new customer</p>

                <button mat-raised-button>
                  <a routerLink="/customers/phonebook" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}" [queryParams]="{ 'q': 'linking','topicId':topicId }">View
                    all contacts</a>
                </button>
                <button mat-raised-button>Create New Customer</button>

              </div>
            </div>

          </mat-expansion-panel>

          <!-- customer Suggestions Tab end-->


          <mat-expansion-panel class="drag-expansion-panel" cdkDrag>
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
              <mat-panel-title><span class="material-icons drag-icon">more_vert</span>Active Channels
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="profile-area multi-channel-area">
              <mat-accordion>

                <mat-expansion-panel *ngFor="let channelSession of activeChannelSessions">
                  <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                    <div class="channel-icon-area">
                      <span
                        class="channel-icon"><img
                          src="{{channelSession.channel.channelConnector.channelType.channelLogo | channelLogo | async}}"></span>
                      <label>{{channelSession.channel.channelConnector.channelType.typeName | titlecase}}
                        Channel</label>

                      <button (click)="moveSession($event)" mat-button [matMenuTriggerFor]="rerouteMenu"
                        class="re-route-session">Move</button>
                      <mat-menu #rerouteMenu="matMenu">
                        <button class="re-route-trigger" (click)="reRouteDialog(reRouteSessionConfirmation, 're-route')"
                          mat-menu-item>Re-route Session</button>
                        <button class="re-route-trigger"
                          (click)="reRouteDialog(reRouteSessionConfirmation, 're-assign')" mat-menu-item>Re-assign to
                          self</button>
                      </mat-menu>

                    </div>
                  </mat-expansion-panel-header>
                  <ul class="requested-channel-content">
                    <li>
                      <label>Customer Identifier</label>
                      {{channelSession.channelData.channelCustomerIdentifier}}
                    </li>
                    <li>
                      <label>Service Identifier</label>
                      {{channelSession.channelData.serviceIdentifier}}
                    </li>
                  </ul>
                  <!-- <ul class="requested-channel-content"
                    *ngFor="let attr of channelSession.channelData.additionalAttributes">
                    <li>
                      <label>{{attr.key | sentenceCase}}</label>
                      {{attr.value}}
                    </li>
                  </ul> -->
                </mat-expansion-panel>

              </mat-accordion>
            </div>

          </mat-expansion-panel>

        </div>
      </mat-accordion>
    </div>


  </mat-sidenav>

  <!--  <mat-sidenav-content>-->
  <!--    <p>hi </p>-->
  <!--  </mat-sidenav-content>-->
</mat-sidenav-container>

<ng-template #callingTemplate>
  <div class="calling-dialog-main">
    <div class="dialog-main-content">
      <div class="row m-0">
        <div class="call-content">
          <div class="call-icon">
            <mat-icon>phone</mat-icon>
          </div>
          <div class="call-detail">
            <p>initiate outgoing call to</p>
            <h4>Stacy Miller</h4>
            <strong>{{outgoingCallingNumber}}</strong>
            <small>(Mobile)</small>
          </div>
        </div>
      </div>
    </div>

    <div class="call-trigger">
      <button mat-button [mat-dialog-close]="true" class="call-btn" cdkFocusInitial>Call</button>
      <button mat-button mat-dialog-close class="cancel-call">Cancel</button>
    </div>
  </div>
</ng-template>

<ng-template #reRouteSessionConfirmation>
  <div class="confirmation-dialog">
    <div class="confirmation-header">
      <h3>{{reRouteText}} Chat Session</h3>
    </div>
    <div class="confirmation-content">
      <p>{{reRouteText == 're-assign' ? 'Are you sure You want re-assign chat session to your self?' : 'Are you sure You
        want re-route Whatsapp chat session to another agent?'}}</p>
      <div class="confirmation-action">
        <button mat-raised-button class="close-btn" mat-dialog-close>Cancel</button>
        <button mat-raised-button class="confirm-btn">Confirm</button>
      </div>
    </div>
  </div>
</ng-template>