@import "src/app/shared/globalVariables";

.right-info-bar {
  height: 100%;
  width: 0;
  //border-left: 2px solid lighten($blue-text-color, 42%);
  min-width: 0;
  position: absolute;
  right: 0;
  background: #fff;
  z-index: 2;
  button {
    position: absolute;
    z-index: 999;
    padding: 0;
    min-width: 20px;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background: #fff;
    color: $blue-text-color;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px 0 0 5px;
  }
}



//Multi Channel Area.customer-highlight
.right-drag-accordion {
  mat-expansion-panel {
    margin: 5px !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  .right-drag-content {
    .material-icons.drag-icon {
      text-shadow: -6px 0px 0px lighten($dark-gray-color, 70%);
      color: lighten($dark-gray-color, 70%);
      font-size: 16px;
      margin-right: 5px;

    }
    ul{
      padding: 0 5px;
      clear: both;
    }
    mat-expansion-panel-header {
      background: $header-gray-color !important;
      padding-left: 8px !important;
      padding-right: 10px;

      mat-panel-title {
        font-size: 13px;
        color: lighten($dark-gray-color, 40%);
        font-weight: 400;
        align-items: center;
      }
    }
  }
  .multi-channel-area{
    mat-expansion-panel {
      margin: 5px -5px !important;
      box-shadow: none !important;
      border-radius: 0;
      &.chat-channel-area {
        //border: 1px solid #c0ecf9;
        background: lighten($dark-gray-color, 60%);

        mat-expansion-panel-header{
          border-top: 0 !important;
          border-left: 0;
          border-right: 0;
        }
      }

      mat-expansion-panel-header{
        background: #ecf7fd !important;
        border: 1px solid #c0ecf9;
        padding: 0 15px;
        position: relative;
      }
      .mat-expansion-panel-body{
        border: none !important;
      }
    }

    .channel-icon-area {
      span {
        background: $blue-text-color;
        width: 22px;
        height: 22px;
        line-height: 22px;
        border-radius: 100%;
        text-align: center;
        display: inline-block;
        margin-right: 8px;
      }
      .call-time {
        background: #fff !important;
        width: inherit !important;
        padding: 0 5px !important;
        border-radius: 5px !important;
        height: 18px !important;
        line-height: 18px !important;
        top: -1px;
        position: relative;
      }

      label{
        color: lighten($dark-gray-color, 60%);
        font-size: 11px;
        margin: 0;
      }
      &.facebook-channel span{
        background: $facebook-color;

      }
      &.whatsapp-channel span{
        background: $whatsapp-color;

      }
      &.sms-channel span{
        background: $sms-color;

      }
      &.viber-channel span{
        background: $viber-color;

      }
      img{
        width: 12px;
        height: 12px;
      }

      i {
        position: absolute;
        right: 23px;
        border-right: 1px solid #D0E9FA;
        border-left: 1px solid #D0E9FA;
        color: #A5A5A5;
        font-weight: 100;
        height: 30px;
        line-height: 30px;
        padding: 0 ;
        font-size: 19px;
        min-width: 30px;
        text-align: center;
        top: 0;
      }
    }

    .channel-inner-content{
      //border: 1px solid #c0ecf9;

      mat-expansion-panel{
        margin: 0 !important;
        border-radius: 0 !important;

        mat-expansion-panel-header{
          background: #fff !important;
          padding: 0 5px;
          border-radius: 0 !important;

          &.mat-expanded {
            label {
              color: $blue-text-color;
            }
          }
        }
      }
    }

    .requested-channel-content {
      margin: 0;
      padding: 0 5px;

      li{
        font-size: 11px;
        color: lighten($dark-gray-color, 30%);
        line-height: 15px;
        padding: 10px 0;
        border-bottom: 1px dotted #ccc;
        label{
          display: block;
          font-size: 10px;
          color:  lighten($dark-gray-color, 70%);
          margin: 0;
        }
      }
    }
  }
}



.profile-area {
  padding: 0;

  h3 {
    text-align: center;
    margin: 0;
    font-size: 14px;
    width: 30px;
    height: 30px;
    background: #fff;
    color: $blue-text-color;
    line-height: 30px;
    border-radius: 100%;
    float: left;
    top: 2px;
    position: relative;
  }

  .user-name {
    font-size: 16px;
    color: $blue-text-color;
    text-align: left;
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
    display: inline-block;
    line-height: 30px;
    padding-left: 10px;
  }

  p.user-from {
    font-size: 12px;
    text-align: left;
    margin: 0px 0;
    font-weight: 500;
    color: lighten($dark-gray-color, 50%);
    line-height: 12px;
  }
}

.user-pre-detail {
  margin-top: 15px;
  padding: 10px 15px;

  .user-detail-area {
    border-bottom: 1px dotted lighten($dark-gray-color, 60%);
    margin-bottom: 8px;

    &:last-child {
      border-bottom: 0;
    }

    .label-detail {
      margin: 0 0 3px;
      font-size: 12px;
      color: lighten($dark-gray-color, 30%);
    }

    label {
      font-size: 9px;
      color: lighten($dark-gray-color, 70%);
      font-weight: 600;
    }
  }
}

.channel-list {
  li{
    width: 100%;
    margin: 6px 0;
    background: lighten($dark-gray-color, 100%);
    position: relative;
    border-radius: 3px;
    padding: 5px 8px;
    &:hover{
      background: #F3F6F8;
      .channel-list-action{
        display: block;
        transition: all .2s;
      }
    }
  }
  img {
    float: left;
    height: 25px;
    width: 25px;
    margin: 6px 0;
  }
  p {
    display: inline-block;
    width: calc(100% - 36px);
    margin: 0;
    padding-left: 8px;
    font-size: 14px;
    color: lighten($dark-gray-color, 60%);
    line-height: 18px;
    strong {
      display: block;
      font-size: 12px;
    }
    small {
      position: relative;
      top: -1px;
      color: #BEBEBE;
    }
    .channel-list-action{
      position: absolute;
      right: 0;
      top: 6px;
      display: none;
      //transition: all.2s;
      button {
        display: inline-block;
        width: 33px;
        height: 33px;
        text-align: center;
        line-height: 36px;
        border-radius: 0;
        //transition: all.2s;

        &:hover {
          background: #D4F5FB;
          mat-icon{
            color: $blue-text-color;
          }
        }
        mat-icon {
          font-size: 18px;
          color: lighten($blue-text-color, 20%);
        }
      }
    }
  }
}
.channel-selection {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 80px;
  padding: 20px 0;
  width: 70px;
  color: lighten($dark-gray-color, 70%);
  .channel-cover{
    text-align: center;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;

    img {
      height: 17px;
      max-width: 20px;
    }
  }

  .channel-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  button {
    width: 50px;
    color: lighten($dark-gray-color, 80%);
    &:focus, &:hover{
      background: transparent !important;
    }
  }
}

//Profile Linking area

.linked-area {
  height: calc(100% - 20px);

  h5 {
    color: $blue-text-color;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin: 15px auto;
  }

  .match-content {
    display: block;
    width: 100%;
    margin: 0;
    height: calc(100% - 115px);
    overflow: auto;

    li {
      display: block;
      padding: 8px 15px;
      border-bottom: 1px solid lighten($dark-gray-color, 80%);
      color: lighten($dark-gray-color, 60%);
      position: relative;
      font-size: 12px;

      &:hover {
        background: lighten($blue-text-color, 50%);

        button {
          display: block !important;
        }
      }

      button {
        background: lighten($dark-gray-color, 100%);
        position: absolute;
        right: 10px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        top: 5px;
        display: none;

        mat-icon {
          color: $blue-text-color;
          font-size: 18px;
          line-height: 22px !important;
        }
      }
    }
  }

}
.linked-action{
  text-align: center;

  p{
    display: block;
    text-align: center;
    padding: 10px 0;
    color: #5B5B5B;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
  }
  button {
    background: $blue-text-color;
    color: lighten($dark-gray-color, 100%);
    font-size: 10px;
    padding: 0;
    min-width: 115px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 3px 10px;
  }
}
.crm-trigger{
  @extend .linked-action;
  button {
    min-width: 150px;
  }
}

//Calling Dialog
.calling-dialog-main {
  padding: 20px;
  .call-content {
    text-align: center;
    width: 100%;

    .call-icon {
      width: 80px;
      margin: 0 auto;
      border: 1px solid lighten($blue-text-color, 30%);
      height: 80px;
      line-height: 80px;
      border-radius: 100%;
      text-align: center;
      padding: 0;

      mat-icon {
        color: $red-color;
        font-size: 34px;
        height: 80px;
        line-height: 80px;
        width: 80px;
      }
    }

    .call-detail {
      margin-top: 20px;
      color: lighten($dark-gray-color, 40%);

      p {
        font-size: 12px;
        margin: 0;
      }

      h4 {
        color: $blue-text-color;
        font-size: 22px;
        margin: 0;
      }

      strong {
        font-size: 15px;
        display: block;
      }
    }
  }
  .call-trigger {
    button {
      width: 100%;
      color: lighten($dark-gray-color, 40%);
      padding: 0;
      height: 30px;
      line-height: 30px;
      border: 1px solid lighten($dark-gray-color, 40%);
      opacity: 1;

      &.call-btn {
        background: $green-color;
        color: #ffffff;
        border-color: $green-color;
        margin: 8px 0;
      }
    }
  }
}

.custom-tab-area{
  margin: 3px 0;
  ul{
    padding: 0;
    margin: 0;
    display: flex;

    li{
      background: #F3F6F8;
      color: #999;
      padding: 5px 2px;
      list-style: none;
      cursor: pointer;
      font-size: 12px;
      text-align: center;
      flex: 2;
      &.tab-active{
        background: #fff;
        color: $blue-text-color;
      }
    }
  }
}


//Re-route session
.re-route-session{
  color: $blue-text-color;
  background: transparent;
  padding: 0;
  font-size: 11px;
  width: 30px !important;
  min-width: 26px;
  height: 12px;
  line-height: 12px;
  border-radius: 0;
  border-bottom: 1px solid $blue-text-color;
  margin-left: 12px;
}
button.re-route-trigger {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  background: #fcfcfc;
}

//Confirmation Dialog
.confirmation-header {
  background: $blue-text-color;
  height: 36px;
  line-height: 36px;

  h3 {
    font-size: 14px;
    margin: 0;
    color: #ffffff;
    text-align: center;
    line-height: 36px;
    height: 36px;
    text-transform: uppercase;
  }

}

.confirmation-content {
  padding: 15px 10px;
  text-align: center;

  p {
    margin: 0;
    padding: 15px;
    text-align: center;
    color: #707070;
    font-size: 14px;
  }
}

.confirmation-action {
  button {
    font-size: 14px;
    margin: 0 5px;
    padding: 0 14px;
    background: #919191;
    color: #fff;
    min-width: 70px;
    text-transform: capitalize;

    &.confirm-btn {
      background: $blue-text-color;;
    }
  }
}
