<div class="page-header row m-0" *ngIf="!listPreview">
    <div class="page-heading col-md-6 col-sm-6">
        <h4>Subscribed Lists</h4>
    </div>
    <div class="create-label col-md-6 col-sm-6">
        <button (click)="updateSubscribeList(updateList)" mat-button class="add-new">Manage Subscriptions</button>
    </div>
</div>

<div class="container-fluid" *ngIf="!listPreview">


    <!---->
    <div class="table-container manage-dashboard">
        <div class="active-subscribed-list-area">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>

                    <tr (click)="listPreview = true; listId=list.id " *ngFor="let list of _pullModeservice.subscribedList">
                        <td>{{list.name}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

<ng-template #updateList>
    <div class="note-dialog-main transfer-dialog">
        <div class="dialog-header">
            <h4 mat-dialog-title>Subscribe/Unsubscribe List
                <button mat-button mat-dialog-close>
                    <mat-icon>close</mat-icon>
                </button>
            </h4>
        </div>
        <div class="dialog-main-content">
            <div class="row m-0">
                <div class="col-md-12">
                    <label>Select list to subscribe</label>


                    <div class="subscribe-list-area">
                        <!-- <mat-checkbox aria-label="Select All" color="primary" [checked]="isChecked()"
                            [indeterminate]="isIndeterminate()" (change)="$event ? toggleAll($event) : null">
                            Select All
                        </mat-checkbox> -->
                    </div>
                    <div class="row">
                        <div class="col-md-6 subscribe-list-check-box" *ngFor="let item of _pullModeservice.pullModeList">
                            <mat-checkbox (click)="$event.stopPropagation()" [checked]="isChecked(item.id)" color="primary"
                                (change)="toggle(item, $event)">
                                {{ item.name }}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- <div class="action-trigger text-right">
            <button mat-button mat-dialog-close class="close-btn">Cancel</button>
            <button mat-button (click)="subscribeToLists()" [mat-dialog-close]="true" class="success-btn"
                cdkFocusInitial>Done
            </button>
        </div> -->
    </div>
</ng-template>

<!--Queue chat  -->
<div *ngIf="listPreview" class="active-chat-area  list-view-area">
    <app-subscribed-list-preview [filterListId]="listId" (expandCustomerInfo)="eventFromChild($event)"></app-subscribed-list-preview>
</div>
