.grafana{
    position: fixed;
    width: calc(100% - 10px);
    height: calc(100% - 50px);
    overflow: hidden;
iframe{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: -webkit-fill-available;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
}
}
