<div class="label-main page-header row m-0">
  <div class="customer-heading page-heading col-md-6"><h4>Customer Attributes</h4></div>
</div>


<div class="main-content container">
  <div cdkDropListGroup>
    <div class="schema-container">
      <div cdkDropList [cdkDropListData]="schema2" class="schema-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of schema2; let i = index;">
          <div  [ngClass]="{'schema-detail-check': showDetails && divId == item._id}" (click)="openDetails(item._id)" class="schema-box" cdkDrag>
<!--            <span class="list-count">{{i + 1}}</span>-->
            <mat-icon class="shadow">more_vert</mat-icon>
            <span class="heading">{{item.label}}</span><span
            class="steric" *ngIf="item.is_required">*</span>
            <span class="field-type">({{ item.type == 'string' ? 'Text' :  item.type}})</span>
            <ul class="available-channel-list" *ngIf="item.type == 'phone'">
              <li matTooltip="phone"><img src="assets/images/phone-colored.svg" alt="phone"> </li>
              <li matTooltip="whatsapp"><img src="assets/images/whatsapp-colored.svg" alt="whatsapp"> </li>
              <li matTooltip="facebook"><img src="assets/images/facebook-colored.svg" alt="facebook"> </li>
              <li matTooltip="skype"><img src="assets/images/skype-colored.svg" alt="viber"> </li>
            </ul>

            <mat-icon *ngIf="item.is_deletable != false" matTooltip="Options"
                       class="delete-btn box-options" [matMenuTriggerFor]="boxOptions" (click)="displayMenu($event)">more_vert
            </mat-icon>

            <mat-menu #boxOptions="matMenu" yPosition="below" panelClass="custom" [overlapTrigger]="false">
              <button mat-menu-item class="channel-selection-list" (click)="addAttr()">
                Edit
              </button>
              <button mat-menu-item class="channel-selection-list" (click)="delete(item.label,item._id)">
                Delete
              </button>

            </mat-menu>


          </div>
          <div class="schema-details" *ngIf="showDetails && divId == item._id">
            <div class="row m-0">
              <div class="input-align col-md-6 pr-0">
                <strong> Label </strong> : <span class="un-edit">{{item.label}}</span>

              </div>
              <div class="input-align col-md-6 pr-0">
                <strong> Type </strong> : <span class="un-edit"> {{ item.type}}</span>
              </div>
              <div *ngIf="item.type == 'string' || item.type == 'url' " class="input-align col-md-6 pr-0">
                <strong> Range </strong>:
                <!--                <inline-editor [ngClass]="{'uneditable': item.is_deletable == false || item.type == 'url' }"-->
                <!--                               [disabled]="item.is_deletable == false || item.type == 'url'"-->
                <!--                               pattern="^([1-9][0-9]{0,2}|1000)$"-->
                <!--                               class="cover-spaces" type="text" [(ngModel)]="item.characters"-->
                <!--                               (onSave)="saveEditable($event, item._id,'schema2')" name="characters"-->
                <!--                               (onError)="myHandleError($event,'char')">-->

                <!--                </inline-editor>-->
              </div>
              <div class="input-align col-md-6 pr-0">
                <strong> Mandatory </strong>:
                <!--                <inline-editor [ngClass]="{'uneditable': item.is_deletable == false }"-->
                <!--                               [disabled]='item.is_deletable == false' class="cover-spaces" type="select"-->
                <!--                               [(ngModel)]="item.is_required"-->
                <!--                               name="is_required" [options]="editableSelectOptions">-->
                <!--                </inline-editor>-->

              </div>

              <div class="input-align col-md-6 pr-0">
                <strong> Description </strong>:
                <!--                <inline-editor [ngClass]="{'uneditable': item.is_deletable == false }"-->
                <!--                               [disabled]='item.is_deletable == false' min="1" max="100" class="cover-spaces"-->
                <!--                               type="textarea" [(ngModel)]="item.desc"-->
                <!--                               (onSave)="saveEditable($event, item._id,'schema2')"-->
                <!--                               name="desc" (onError)="myHandleError($event,'desc')">-->

                <!--                </inline-editor>-->


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="schema-container">
      <div cdkDropList [cdkDropListData]="schema1" class="schema-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of schema1; let i = index">
          <div [ngClass]="{'schema-detail-check': showDetails && divId == item._id}" (click)="openDetails(item._id)"
               class="schema-box" cdkDrag>
<!--            <span class="list-count">{{i + 1 + schema2.length}}</span>-->
            <mat-icon class="shadow">more_vert</mat-icon>
            <span class="heading">{{item.label}}</span>

            <span class="steric" *ngIf="item.is_required">*</span>
            <span class="field-type">({{ item.type == 'string' ? 'Text' :  item.type}})</span>

            <ul class="available-channel-list" *ngIf="item.type == 'phone'">
              <li matTooltip="phone"><img src="assets/images/phone-colored.svg" alt="phone"> </li>
              <li matTooltip="whatsapp"><img src="assets/images/whatsapp-colored.svg" alt="whatsapp"> </li>
              <li matTooltip="facebook"><img src="assets/images/facebook-colored.svg" alt="facebook"> </li>
              <li matTooltip="skype"><img src="assets/images/skype-colored.svg" alt="viber"> </li>
            </ul>
            <mat-icon *ngIf="item.is_deletable != false" matTooltip="option"
                       class="delete-btn box-options"  [matMenuTriggerFor]="searchChannelSelection" (click)="displayMenu($event)">more_vert
            </mat-icon>

            <mat-menu #searchChannelSelection="matMenu" yPosition="below" panelClass="custom" [overlapTrigger]="false">
              <button mat-menu-item class="channel-selection-list" (click)="addAttr()">
                Edit
              </button>
              <button mat-menu-item class="channel-selection-list" (click)="delete(item.label,item._id)">
                Delete
              </button>

            </mat-menu>

          </div>
          <div class="schema-details" *ngIf="showDetails && divId == item._id">
            <div class="row m-0">
              <div class="input-align col-md-6 pr-0">
                <strong> Label </strong> : <span class="un-edit">{{item.label}}</span>

              </div>

              <div class="input-align col-md-6 pr-0">
                <strong> Type </strong> : <span class="un-edit"> {{ item.type}}</span>
              </div>
              <div *ngIf="item.type == 'string' || item.type == 'url'" class="input-align col-md-6 pr-0">
                <strong> Range </strong>:
                <!--                <inline-editor [ngClass]="{'uneditable': item.is_deletable == false || item.type == 'url' }"-->
                <!--                               [disabled]="item.is_deletable == false || item.type == 'url' "-->
                <!--                               pattern="^([1-9][0-9]{0,2}|1000)$"-->
                <!--                               class="cover-spaces" type="text" [(ngModel)]="item.characters"-->
                <!--                               (onSave)="saveEditable($event, item._id,'schema1')" name="characters"-->
                <!--                               (onError)="myHandleError($event,'char')">-->

                <!--                </inline-editor>-->
              </div>

              <div class="input-align col-md-6 pr-0">
                <strong> Mandatory </strong>:
                <!--                <inline-editor [ngClass]="{'uneditable': item.is_deletable == false }"-->
                <!--                               [disabled]='item.is_deletable == false' class="cover-spaces" type="select"-->
                <!--                               [(ngModel)]="item.is_required"-->
                <!--                               name="is_required" [options]="editableSelectOptions"-->
                <!--                               >-->

                <!--                </inline-editor>-->

              </div>
              <div class="input-align col-md-6 pr-0">
                <strong> Description </strong>:
                <!--                <inline-editor [ngClass]="{'uneditable': item.is_deletable == false }"-->
                <!--                               [disabled]='item.is_deletable == false' min="1" max="100" class="cover-spaces"-->
                <!--                               type="textarea" [(ngModel)]="item.desc"-->

                <!--                               name="desc" >-->

                <!--                </inline-editor>-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="schema1" class="create-attribute">
    <button mat-button (click)="addAttr()" class="create-new-attribute">Create new Attribute</button>
    <button mat-button (click)="onClick()" class="float-right">Save Order</button>
  </div>

</div>

