<div class="page-header row m-0" [ngClass]="{'summary-view' : mainSummaryView}">
  <button *ngIf="mainSummaryView == false" mat-button class="back-to-chat" (click)="queueView = false; activeChatView = false; mainSummaryView = true"></button>
  <div class="page-heading col-md-6">
    <h4>Supervisor Dashboard</h4>
  </div>
</div>

<div class="container-fluid main-supervisor-area">
  <div *ngIf="mainSummaryView" class="supervisor row">
    <div class="supervisor-table active-chat col-md-12">
      <h4>Active Chat  <span (click)="queueView = false; activeChatView = true; mainSummaryView = false">View All</span></h4>

      <div class="main-table supervisor-table-search">
        <mat-form-field class="col search-field" appearance="outline">
          <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="col">

          <ng-container matColumnDef="handRaise">
            <th mat-header-cell *matHeaderCellDef></th>

            <td mat-cell *matCellDef="let element">
              <button *ngIf="element.handRaise" mat-icon-button color="primary" class="agent-help">
                <mat-icon class="material-icons hand-icon blink">
                  pan_tool
                </mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title</th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>

          <ng-container matColumnDef="agent">
            <th mat-header-cell *matHeaderCellDef> Agent</th>
            <td mat-cell *matCellDef="let element"> {{element.agent}} </td>
          </ng-container>

          <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef> Team</th>
            <td mat-cell *matCellDef="let element"> {{element.team}} </td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time</th>
            <td mat-cell *matCellDef="let element"> {{element.time}} </td>
          </ng-container>

          <ng-container matColumnDef="channel">
            <th mat-header-cell *matHeaderCellDef> Channel</th>
            <td mat-cell *matCellDef="let element"> {{element.channel}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

      </div>
    </div>

    <div class="table-area">
      <div class="supervisor-table queue-stats col-md-12">
        <div class="table-container">
          <div class="supervisor-table search-table queue-stats">
            <div class="expand-area" [ngClass]="{'info-expanded': queueStatsInfo}">
              <h4>Queue Stats <span class="info-icon"
                                    (click)="infoBar('queueStats')"><img
                src="assets/images/information-button.svg"></span>  <span (click)="queueView = true; activeChatView = false; mainSummaryView = false">View All</span>
              </h4>
              <div class="supervisor-info-panel" *ngIf="queueStatsInfo">
                    <span class="info-panel-close" (click)="infoBar('queueStats')">
                        <mat-icon>close</mat-icon>
                    </span>
                <ul class="info-list">
                  <li><span>Name</span> - Name of the queue</li>
                  <li><span>Chats</span> - No of chats in the queue</li>
                  <li><span>Max Time</span> - Max time for a chat in the queue</li>
                  <li><span>Active</span> - Agents in active state</li>
                  <li><span>Busy</span> - Agents in busy state</li>
                  <li><span>Ready</span> - Agents in ready state</li>
                  <li><span>Not Ready</span> - Agents in not ready state</li>
                </ul>
              </div>
              <button mat-button (click)="toggleExpand()"
                      class="expand-all">{{ isAllExpanded ? "Collapse All" : "Expand All" }}</button>
            </div>

            <mat-accordion multi>
              <div class="active-chats-supervisor">
                <div class="main-table-area">
                  <div class="panel-table-header">
                    <table>
                      <thead>
                      <tr>
                        <td>No</td>
                        <td>Name</td>
                        <td>Count</td>
                        <td>Max Time</td>
                        <td>Active</td>
                        <td>Busy</td>
                        <td>Ready</td>
                        <td>Not Ready</td>
                      </tr>
                      </thead>
                    </table>
                  </div>
                  <mat-expansion-panel *ngFor="let data of queueStatsData">
                    <mat-expansion-panel-header [collapsedHeight]="'32px'" [expandedHeight]="'32px'"
                                                [ngClass]="{'no-sub-data':data.labels.length < 1}">
                      <div class="supervisor-queue-stats">
                        <table>
                          <tbody>
                          <tr>
                            <td>{{data.sr}}</td>
                            <td>{{data.queue}}</td>
                            <td>{{data.count}}</td>
                            <td>{{data.maxTime}}</td>
                            <td>{{data.active}}</td>
                            <td>{{data.busy}}</td>
                            <td>{{data.ready}}</td>
                            <td>{{data.not_ready}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </mat-expansion-panel-header>
                    <div class="panel-body-area">
                      <div class="supervisor-queue-stats">
                        <table>
                          <tbody>
                          <!-- do not remove empty <td>, they maintain the table alignment -->
                          <tr *ngFor="let label of data.labels;let i = index">
                            <td></td>
                            <td><span class="chip">{{label.name}}</span></td>
                            <td>{{label.count}}</td>
                            <td>{{label.maxTime}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>
                  </mat-expansion-panel>
                </div>
              </div>
            </mat-accordion>

          </div>
        </div>
      </div>

    </div>
  </div>



<!--Active chat  -->
  <div *ngIf="activeChatView" class="active-chat-area  list-view-area">
    <app-active-chats></app-active-chats>
  </div>

  <!--Queue chat  -->
  <div *ngIf="queueView" class="active-chat-area  list-view-area">
    <app-queue-chats></app-queue-chats>
  </div>
</div>
