<div *ngIf="" class="loading-area">
  <mat-spinner></mat-spinner>
</div>
<div class="container-fluid auth-section">
  <div class="row">
    <div class="main-inner-section login-area form-section valign-wrapper col-md-6">
      <div class="login-inner">
        <div class="login-heading">
          <h3>{{'login.login'  | translate }}</h3>
          <span>{{'login.valid-credentials'  | translate }}</span>
        </div>
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label class="text-left">{{'login.username'  | translate }}</label>
            <input formControlName="username" id="username" type="text" class="form-control" name="agentId">
          </div>
          <div class="form-group password-privacy-icon">
            <label class="text-left">{{'login.password'  | translate }}</label>
            <input [type]="hide ? 'password' : 'text'" formControlName="password" id="password" class="form-control"
            name="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </div>
          <!-- <div class="form-group">
            <label class="text-left">Extension</label>
            <input formControlName="extention" id="extension" type="text" class="form-control"  name="extension">
          </div> -->
          <div class="clearfix"></div>
          <!-- <div class="input-field radio-field">
          <mat-checkbox >Keep me logged in</mat-checkbox>
      </div> -->
          <div class="form-group login-trigger">
            <button [disabled]="!loginForm.valid" (click)="login()" class="button flip-in-ver-right form-control">{{'login.login'  | translate }}</button>
          </div>
        </form>
        <!-- <button *ngIf="_appConfigService.config.ENV == 'development'" (click)="bypassLogin()">bypass Login</button> -->

      </div>

    </div>
    <div class="main-inner-section logo-area col-md-6">
      <div class="main-area-right">
        <img src="assets/images/chat-logo.png" alt="Agent Gadget">
        <div class="heading-area">
          <h2>{{'login.agent-desk'  | translate }}</h2>
          <p>{{'login.call-center-experts'  | translate }}</p>
        </div>

      </div>
    </div>
    <div class="brand-logo col-md-6 offset-md-6">
      <img src="assets/images/expertflow-logo.png" alt="ExpertFlow">
    </div>
  </div>
</div>
