//File use only for variables, colors, font-sizes etc...

$white-color: #ffffff;
$header-gray-color: #F3F6F8;
$light-gray-color: #F5F5F5;
$blue-text-color: #25AFCB;
$dark-gray-color: #000000;
$red-color: #E03636;
$green-color: #25CB8D;
$text-color: #707070;

//Multi Channel colors
$web-color: #3FABF3;
$facebook-color: #3B5998;
$whatsapp-color: #25d366;
$sms-color: #ffa200;
$viber-color: #8e24aa;
$call-color: #F50000;
