.main-notification-area {
  position: fixed;
  z-index: 9999;
  right: 2em;
  max-width: 490px;
  //width: 100%;

  .notification-panel {
    margin: 0 0 5px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    min-height: 35px;
    padding: 0;
    display: table;
    float: right;
    clear: both;
    min-width: 360px;
    text-align: left;
    max-width: 490px;
  }

  mat-card {
    width: 100%;

    mat-card-content {
      display: flex !important;
      height: 100%;
      border-radius: 3px;
      border: 1px solid rgba(0,0,0,.2);

      .chat-request {
        width: 50px;
        border-right: 1px solid rgba(0,0,0,.2);
        display: inline-flex;
        justify-content: center;
        //border-radius: 120px;

        p {
          text-align: center;
          margin: auto;
          width: 30px;
          height: 30px;
          border-radius: 100%;
          display: inline-flex;
          justify-content: center;

          img{
            max-height: 15px;
            width: 100%;
            max-width: 15px;
            align-self: center;

          }
        }
      }

      .requested-name {
          flex: 2;
          margin: 0 5px;
          align-self: center;
          padding: 5px;
        p {
          margin: 0;
          font-size: 12px;
          color: #fff;
          //max-width: 235px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: pre-line;
          font-weight: normal;
        }
      }
      .notification-trigger {
        margin-right: 10px;
        align-self: center;
        button{
          background: #5D6367;
          font-size: 11px;
          color: #fff;
          height: 30px;
          width: 75px;
          line-height: 30px;
          margin: 5px;
        }
      }

      &.new-announcement-notification {
        background: #0068d429 !important;

        .channel-icon{
            width: 38px !important;
            height: 38px !important;
          img{
            max-height: 28px !important;
            max-width: 28px !important;
          }
        }
      }

      &.consult-notification {
        background: #F6BF2C;
        &.conference-request{
          background: #9BD9DE !important;
        }

        &.transfer-notification{
          background: #66B254;

          strong, p{
            color: #fff !important;
          }
          .channel-icon {
            background: #3e3e3ea1 !important;
          }
        }
        .channel-icon{
          background: #3E3E3E;
          mat-icon{
            color: #fff;
            font-size: 20px;
            line-height: 30px;
          }
        }
        strong {
          //white-space: pre;
          font-size: 12px;
          font-weight: 600;
          color: #000000;
          max-width: 330px;
          display: inline-block;
          //overflow: hidden;
          //text-overflow: ellipsis;
        }

        .requested-name p {
          color: #000000;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          position: relative;
          width: fit-content;
          padding-right: 8px;
          font-weight: normal;
          font-size: 12px;

          // &:before{
          //   // content: open-quote;
          // }
          &:after{
            // content: close-quote;
            position: absolute;
            right: 0;
            bottom: 0;
          }

          span {
            display: block;
          }
        }

        .notification-trigger {
          button {
            background: #3E3E3E;
          }
        }
      }

    }
  }
}
.identified{
  background: #25CB8D;

}
.un-identified{
  background: #ff3e3e;

}


.pull-notification-main {
  position: relative;
  margin-top: 25px;
  padding: 4px;
  &.notification-area-main{
    background: rgba(0,0,0,.2);
  }


  .notification-area.pull-request-notifications {
    .mat-card-content {
      background: #EAF3FA;
      padding: 3px 0;

      img{
        max-width: 25px !important;
        height: 23px !important;
        align-self: center  !important;
        width: auto !important;
      }

      p {
        color: #333;
        display: flex;
        flex-wrap: wrap;

        span{
          max-width: 170px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;
          margin: 0 4px;
          white-space: nowrap;
        }

      }
    }
    button{
      width: 30px !important;
      background: transparent !important;
      //height: 23px !important;
      margin: 0 !important;
      mat-icon{
        font-size: 14px;
        color: #A5BAC9;
        line-height: 22px;
        padding: 0;
        width: 23px;
        height: 23px;
        border: 1px solid #A5BAC9;
        border-radius: 50%;
        //margin-top: -1px;
      }
    }
  }
  .dismiss-notifications{
    float: right;
    background: #4B4B4B;
    color: #fff;
    border-radius: 18px;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    font-weight: 400;

    &:hover{
      background: #FF1C1C;
    }
  }
}

.notify-inner {
  max-height: 200px;
  overflow: auto;
}
