@import "src/app/shared/globalVariables";

.main-notification-area {
  position: fixed;
  z-index: 9999;
  right: 1em;
  min-width: 350px;

  .notification-panel {
    margin: 0 0 5px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    min-height: 35px;
    padding: 0;
    display: table;
    float: right;
    clear: both;
    min-width: 320px;
    text-align: left;
  }

  mat-card {
    width: 100%;

    mat-card-content {
      display: flex !important;
      height: 100%;
      border-radius: 3px;
      border: 1px solid rgba(0 ,0 ,0 ,.1);
      min-height: 35px;

      .chat-request {
        width: 40px;
        border-right: 1px solid #ccc;
        display: inline-flex;
        justify-content: center;
        //border-radius: 120px;

        p {
          text-align: center;
          margin: auto;
          width: 25px;
          height: 25px;
          background: rgba(0,0,0,.4);
          border-radius: 100%;
          display: inline-flex;
          justify-content: center;

          img{
            max-height: 15px;
            width: 100%;
            max-width: 13px;
            align-self: center;
          }
        }
      }

      .requested-name {
        flex: 2;
        margin: 0 5px;
        align-self: center;

        p {
          margin: 0;
          font-size: 12px;
          color: #fff;
          font-weight: normal;
        }
      }
      .notification-trigger {
        margin-right: 0;
        align-self: center;
        button{
          background: #343434;
          font-size: 11px;
          color: #fff;
          height: 23px;
          width: 75px;
          line-height: 23px;
          margin: 5px;
        }
      }

    }
  }
}
.identified{
  background: $theme-green;

}
.un-identified{
  background: #ff3e3e;

}

.pull-notification-main {
  position: relative;
  margin-top: 25px;
  padding: 4px;
  &.notification-area-main{
    background: rgba(0,0,0,.2);
  }


  .notification-area.pull-request-notifications {
    .mat-card-content {
      background: #EAF3FA;

      p {
        color: #333 !important;

      }
    }
    button{
      width: 23px !important;
      background: transparent !important;
      height: 23px !important;
      mat-icon{
        font-size: 14px;
        color: #A5BAC9;
        line-height: 23px;
        padding: 0;
        width: 23px;
        height: 23px;
        border: 1px solid #A5BAC9;
        border-radius: 50%;
        margin-top: -1px;
      }
    }
  }
  .dismiss-notifications{
    float: right;
    background: #4B4B4B;
    color: #fff;
    border-radius: 18px;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    font-weight: 400;

    &:hover{
      background: #FF1C1C;
    }
  }
}

.notify-inner {
  max-height: 200px;
  overflow: auto;
}
