<div class="main-notification-area">
  <!--  Push mode notifications-->
  <div class="notification-area" *ngFor="let request of pushModeRequests">
    <div *ngIf="request?.taskDirection != 'DIRECT_TRANSFER' && request?.taskDirection != 'DIRECT_CONFERENCE'" class="row main-panel">
      <mat-card class="notification-panel mat-card">
        <mat-card-content [ngClass]="request.channelSession.customer.isAnonymous == true ? 'un-identified' : 'identified'" class="mat-card-content">
          <div class="chat-request">
            <p class="channel-icon"><img [src]="request.channelSession.channel.channelType.channelLogo | channelLogo | async" /></p>
          </div>
          <div class="requested-name">
            <p
              matTooltip="{{
                request.channelSession.customer.firstName
                  ? ('customer' | authPipe: 'view_pii')
                    ? request.channelSession.customer.firstName
                    : (request.channelSession.customer.firstName | maskPIIAttribute: ('firstName' | returnSchemaByKey))
                  : ('globals.UNIDENTIFIED-CUSTOMER' | translate)
              }}"
            >
              {{
                request.channelSession.customer.firstName
                  ? ("customer" | authPipe: "view_pii")
                    ? request.channelSession.customer.firstName
                    : (request.channelSession.customer.firstName | maskPIIAttribute: ("firstName" | returnSchemaByKey))
                  : ("globals.UNIDENTIFIED-CUSTOMER" | translate)
              }}
            </p>
            <p *ngIf="request?.cisco_data">
              {{
                request.channelSession.channelData.channelCustomerIdentifier
                  ? request.channelSession.channelData.channelCustomerIdentifier
                  : ("globals.not-applicable" | translate)
              }}
            </p>
          </div>
          <div class="notification-trigger">
            <button (click)="onAcceptCallback(request?.roomId, request?.taskId, null)" class="mat-flat-button" mat-button>
              {{ "globals.accept" | translate }}
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="request?.taskDirection == 'DIRECT_TRANSFER' || request?.taskDirection == 'DIRECT_CONFERENCE'" class="row main-panel m-0">
      <mat-card class="notification-panel mat-card">
        <mat-card-content
          class="mat-card-content identified consult-notification"
          [ngClass]="{
            'conference-request': request?.taskDirection == 'DIRECT_CONFERENCE',
            'transfer-notification': request?.taskDirection == 'DIRECT_TRANSFER'
          }"
        >
          <div class="chat-request">
            <p class="channel-icon">
              <img [src]="request.channelSession.channel.channelType.channelLogo | channelLogo | async" />
              <!-- <mat-icon>question_answer</mat-icon> -->
            </p>
          </div>
          <div class="requested-name">
            <strong
              >{{ "globals.chat" | translate }}
              {{ (request?.taskDirection == "DIRECT_CONFERENCE" ? "globals.conference" : "globals.transfer") | translate }}
              {{ "globals.request-from" | translate }} '{{ request?.requestedBy | titlecase }}' {{ "globals.with-customer" | translate }} '{{
                ("customer" | authPipe: "view_pii")
                  ? (request?.channelSession?.customer.firstName | titlecase)
                  : (request?.channelSession?.customer.firstName | maskPIIAttribute: ("firstName" | returnSchemaByKey))
              }}'</strong
            >
            <p *ngIf="request?.note">
              {{ request?.note }}
            </p>
          </div>
          <div class="notification-trigger">
            <button (click)="onAcceptCallback(request?.roomId, request?.taskId, request?.taskDirection)" class="mat-flat-button" mat-button>
              {{ "globals.accept" | translate }}
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!--  Pull mode notifications-->
  <div *ngIf="pullModeRequests.length > 0" class="pull-notification-main" [ngClass]="{ 'notification-area-main': notificationArea }">
    <div class="notify-inner">
      <div class="notification-area pull-request-notifications" *ngFor="let request of pullModeRequests">
        <div class="row main-panel m-0">
          <mat-card class="notification-panel mat-card">
            <mat-card-content class="mat-card-content identified">
              <div class="chat-request">
                <p class="channel-icon"><img [src]="request.channelSession.channel.channelType.channelLogo | channelLogo | async" /></p>
              </div>
              <div class="requested-name">
                <p>
                  {{ "globals.new-chat-message" | translate }}
                  <span>{{
                    ("customer" | authPipe: "view_pii")
                      ? request?.channelSession?.customer?.firstName
                      : (request?.channelSession?.customer?.firstName | maskPIIAttribute: ("firstName" | returnSchemaByKey))
                  }}</span>
                  {{ "globals.in" | translate }}
                  <span>'{{ _pullModeservice.listNames[request.listId] ? _pullModeservice.listNames[request.listId] : "-" }}'</span>
                </p>
              </div>
              <div class="notification-trigger">
                <button (click)="removePullModeRequestFromRequestArray(request.id)" mat-icon-button class="mat-flat-button" mat-button>
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <button
      *ngIf="pullModeRequests.length > 1"
      (mouseenter)="notificationArea = true"
      (mouseleave)="notificationArea = false"
      (click)="pullModeRequests = []"
      class="dismiss-notifications mat-flat-button"
      mat-button
    >
      {{ "globals.dismiss-all" | translate }}
    </button>
  </div>

  <!--  External/Voice mode notifications-->
  <div class="notification-area" *ngFor="let request of externalModeRequests">
    <div class="row main-panel">
      <mat-card class="notification-panel mat-card">
        <mat-card-content
          *ngIf="request?.customer"
          [ngClass]="request?.customer && request?.customer?.isAnonymous == true ? 'un-identified' : 'identified'"
          class="mat-card-content"
        >
          <div class="chat-request">
            <p class="channel-icon"><img [src]="voiceChannelType?.channelLogo | channelLogo | async" /></p>
          </div>
            <div class="requested-name">
            <p
              matTooltip="{{
                request?.customer?.firstName
                  ? ('customer' | authPipe: 'view_pii')
                    ? request?.customer?.firstName
                    : (request?.customer?.firstName | maskPIIAttribute: ('firstName' | returnSchemaByKey))
                  : ('globals.UNIDENTIFIED-CUSTOMER' | translate)
              }}"
            >
              <span *ngIf="request.isOutbound">{{ "snackbar.Calling" | translate }} </span>
              <span class="voice-customer">
                {{
                  request?.customer?.firstName
                    ? ("customer" | authPipe: "view_pii")
                      ? request?.customer?.firstName
                      : (request?.customer?.firstName | maskPIIAttribute: ("firstName" | returnSchemaByKey))
                    : ("globals.UNIDENTIFIED-CUSTOMER" | translate)
                }}</span
              >
              <span *ngIf="request.isOutbound" class="dot-container">
                <span class="dot"></span> <span class="dot"></span> <span class="dot"></span>
              </span>
            </p>
            <p class="voice-customer">{{ request?.identifier ? request?.identifier : "N/A" }}</p>
          </div>
          <div *ngIf="!request?.isOutbound" class="notification-trigger">
            <button [disabled]="isCallAcceptClicked" (click)="onExternalRequestAccept(request)" class="mat-flat-button" mat-button>
              {{ "globals.accept" | translate }}
            </button>
          </div>
        </mat-card-content>

        <mat-card-content
          *ngIf="!request?.customer"
          class="mat-card-content identified consult-notification"
          [ngClass]="{
            'conference-request': request?.taskDirection == 'DIRECT_CONFERENCE',
            'transfer-notification': request?.taskDirection == 'DIRECT_TRANSFER'
          }"
        >
          <div class="chat-request">
            <p class="channel-icon"><img [src]="voiceChannelType?.channelLogo | channelLogo | async" /></p>
          </div>
          <div class="requested-name">
            <p>
              Incoming call from : <strong>{{ request?.identifier }}</strong>
            </p>
            <!-- <strong>{{'globals.chat'}} {{ (request?.taskDirection == 'DIRECT_CONFERENCE' ? 'globals.conference' :
              'globals.transfer') | translate}} {{'globals.request-from' | translate }}
              '{{request?.requestedBy | titlecase}}' {{'globals.with-customer' | translate }}
              '{{request?.channelSession?.customer?.firstName | titlecase }}'</strong> -->
            <!-- <p *ngIf="request?.note">
              {{request?.note}}
            </p> -->
          </div>
          <div class="notification-trigger">
            <button (click)="onExternalRequestAccept(request)" class="mat-flat-button" mat-button>{{ "globals.accept" | translate }}</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!--  New Announcement notifications-->
  <div *ngFor="let announcementNotification of this._announcementService.announcementNotificationList">
    <div class="notification-area">
      <div class="row main-panel m-0">
        <mat-card class="notification-panel mat-card">
          <mat-card-content class="mat-card-content identified consult-notification new-announcement-notification">
            <div class="chat-request">
              <p class="channel-icon">
                <img src="assets/images/megaphone.svg" alt="Announcement" />
              </p>
            </div>
            <div class="requested-name">
              <strong>New Announcement by {{ announcementNotification.supervisorName }}</strong>
              <p>
                {{ announcementNotification.announcementText }}
              </p>
            </div>
            <div class="notification-trigger">
              <button class="mat-flat-button" (click)="onDismiss(announcementNotification)" mat-button>Dismiss</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <!--  Consult/Conference request notifications-->
  <!-- <div class="notification-area" *ngIf="_sharedService.consultRequestSend == true">
    <div class="row main-panel m-0">
      <mat-card class="notification-panel mat-card">
        <mat-card-content class="mat-card-content identified consult-notification"
          [ngClass]="{'conference-request': (_sharedService.requestAction | lowercase) == 'conference'}">
          <div class="chat-request">
            <p class="channel-icon">
              <mat-icon *ngIf="(_sharedService.requestAction | lowercase) !== 'conference'">question_answer</mat-icon>
              <img *ngIf="(_sharedService.requestAction | lowercase) == 'conference'" src="assets/images/facebook.svg"
                alt="facebook">

            </p>
          </div>
          <div class="requested-name">
            <strong>{{_sharedService.requestAction}} request from 'Henry Williams' with customer 'John Taylor'</strong>
            <p>
              Hello Adam. I need your assistance regarding upgrade of the customers account. Can you please guide
              through the process.
            </p>
          </div>
          <div class="notification-trigger">
            <button (click)="_sharedService.consultRequestSend = false; consultRequestAccept()" class="mat-flat-button"
              mat-button>Accept</button>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div> -->

  <!--  Transfer request notifications-->
  <!-- <div class="notification-area" *ngIf="_sharedService.transferRequestSend == true">
    <div class="row main-panel m-0">
      <mat-card class="notification-panel mat-card">
        <mat-card-content
          class="mat-card-content identified consult-notification transfer-notification">
          <div class="chat-request">
            <p class="channel-icon"><mat-icon>question_answer</mat-icon>
            </p>
          </div>
          <div class="requested-name">
            <strong>Chat transfer request from Henry Williams</strong>
            <p>
              Hello. I customer query needs to be addressed by the marketing department . Can you please guide the customer through the process.
            </p>
          </div>
          <div class="notification-trigger">
            <button (click)="_sharedService.transferRequestSend = false" class="mat-flat-button"
                    mat-button>Accept</button>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div> -->
</div>
