@import "src/app/shared/globalVariables";

.profile-detail {
  //position: fixed;
  //top: 0;
  //z-index: 999;
  //background-color: #fff;
  //padding: 2px 0 2px !important;
  //height: 45px;
  //border-bottom: inset 5px #E2E2E2;

  .right-profile-area {
    //float: right;
    //position: relative;
    //text-align: right;
    .theme-switcher {
      line-height: normal;
      display: inline-flex;
      mat-icon {
        color: #1e1e34;
        transition: all 0.3s;
        cursor: pointer;
      }
    }
    .info {
      //padding-left: 5px !important;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      min-height: 40px;

      span.agent-time {
        color: #818181;
        font-size: 10px;
        position: relative;
        top: -2px;
      }

      .multi-language {
        .language-trigger {
          min-width: 95px;
          height: 22px;
          line-height: 14px;
          position: relative;
          text-align: left;
          margin: 0;
          padding: 0 5px;
          color: #707070;
          font-weight: 500;
          font-size: 11px;
          background: #ecf7fb;
          border-radius: 5px;
        }
        img {
          width: 14px !important;
          margin-right: 5px;
          position: relative;
          top: -1px;
        }
        i {
          width: 13px;
          text-align: center;
          position: absolute;
          right: 10px;
          display: block;
          top: -1px;
        }
      }
    }

    h3.agent_name {
      font-size: 13px;
      font-weight: 500;
      margin: 0;
      display: inline-block;
      color: #25afcb;
      text-align: left;

      p {
        display: inline-block;
        margin: 0;
      }

      span {
        color: #929292;
        font-size: 11px;
        margin-left: 3px;
      }
      @media (max-width: 420px) {
        span {
          margin-left: 0;
          display: block;
        }
      }
    }

    .agent-state {
      display: inline-block;
      border-left: 1px solid #f1f1f1;
      border-right: 1px solid #f1f1f1;
      padding-left: 16px;
      margin-left: 5px;
      min-width: 190px;

      span.state {
        color: #d4d4d4;
        font-size: 11px;
      }
      .time_state {
        font-size: 11px;
        color: #929292;
        min-width: 50px;
        display: inline-block;
        text-align: left;
      }
    }
  }
  .vert-dropdown {
    display: inline-block;
  }
}
.agent-showcase-mini {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  border-radius: 100%;
  position: relative;

  mat-icon {
    position: absolute;
    right: -5px;
    top: -4px;
    font-size: 15px;
    transform: rotate(5deg);
    color: #ccc;
    text-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    &.ready {
      color: $green-color !important;
    }
    &.active {
      color: #fdb635 !important;
    }
    &.not_ready {
      color: #b4b4b4 !important;
    }
    &.pending_not_ready {
      color: purple !important;
    }
    &.interrupted,
    &.busy,
    &.unknown {
      color: #cb2525 !important;
    }
    //&.busy {
    //  color: #CB2525 !important;
    //}
    //&.unknown {
    //  color: #CB2525 !important;
    //}
  }
  img {
    width: 100%;
    max-height: 26px;
    max-width: 26px;
    vertical-align: initial;
  }
}

.main-showcase {
  padding: 15px 10px 0;
  text-align: center;

  .agent-showcase {
    width: 64px;
    height: 64px;
    overflow: hidden;
    margin: 0 auto 5px;
    border-radius: 100%;

    img {
      width: 65px;
      max-height: 65px;
    }
  }
  h4 {
    font-size: 14px;
    color: $blue-text-color;
    margin: 0;
  }
  span {
    font-size: 11px;
    color: #929292;
  }
}
.agent-current-state {
  background: #cccccc0d;
  top: 0;
  display: inline-block;
  margin: 0 5px;
  button {
    padding: 0 22px 0 5px;
    height: 22px;
    line-height: 22px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 5px;
    color: #ffffff;
    background: #fdb635;
    text-align: left;
    min-width: 100px;
    border: 0px;
    box-shadow: none;
    position: relative;
    span {
      font-weight: 500;
      line-height: 14px;
      display: inline-block;
    }
    //&.false{
    //  background: #999 !important;
    //}
    //&.ready {
    //  background: $green-color;
    //}
    //&.active {
    //  background: #fdb635;
    //}
    //&.not_ready {
    //  background: #b4b4b4;
    //}
    //
    //
    //&.interrupted {
    //  background: #CB2525;
    //}
    //&.busy {
    //  background: #CB2525;
    //}
    //&.unknown {
    //  background: #CB2525
    //}

    i {
      position: absolute;
      right: 0;
      top: -2px;
    }
  }
}

#avatar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;

  &.false {
    border: 1px solid #999 !important;
    color: #999 !important;

    mat-icon {
      color: #999 !important;
    }
  }
  &.ready {
    border: 1px solid $green-color;
    mat-icon {
      color: $green-color !important;
    }
  }
  &.active {
    @extend .ready;
    mat-icon {
      color: $green-color !important;
    }
  }
  &.not_ready {
    border: 1px solid #b4b4b4;
    mat-icon {
      color: #b4b4b4 !important;
    }
  }
  &.pending_not_ready {
    @extend .not_ready;
    mat-icon {
      color: purple !important;
    }
  }

  &.interrupted,
  &.busy,
  &.unknown {
    border: 1px solid #cb2525;
  }
  //&.busy {
  //  border: 1px solid #CB2525;
  //}
  //&.unknown {
  //  border: 1px solid #CB2525
  //}

  .false {
    border: 1px solid grey;
  }
}

.info {
  .agent_name {
    color: black;
    font-weight: 300;
    font-size: 15px;
  }
  .timer_state {
    font-size: 12px;
  }
  .time_state {
    font-size: 13px;
    font-weight: 400;
  }
  .subtitle {
    font-size: 15px !important;
    color: black;
  }
}

.timer {
  display: inline-flex;
  font-size: 12px;
  font-weight: 300;
  padding-top: 13px;
  i {
    font-size: 18px;
    color: #09ba07;
  }
}

/////////////// button ///////////////////
.btn-ready {
  color: #09ba07;
}

.btn-notReady {
  color: red;
}

.vert-button {
  width: 35px !important;
  max-width: 40px;
  min-width: 40px;
  padding: 0;
  color: #929292;
  position: relative;
  &:focus {
    outline: none;
    background-color: transparent !important;
  }
}

.menu-toggle {
  padding: 9px 16px;
  .mat-slide-toggle {
    padding-left: 10px;
  }
}

.mat-menu-item {
  line-height: 25px !important;
  height: 29px !important;
  padding: 0 11px !important;
  color: #535353;
  font-size: 11px;
  background: #fdfdfd;
  position: relative;
  padding-left: 26px !important;

  &.state-trigger {
    min-width: 160px;
  }

  &:hover {
    background: darken(#f2f2f2, 10%);
  }
}
.supervisor-heading {
  display: inline-block;
  font-size: 18px;
  color: #dfdfdf;
  margin: 0 10px 0;
  text-transform: uppercase;
  font-weight: 100;
}

.main-logo {
  align-self: center;

  img {
    //width: 120px;
    height: 27px;
  }
}
button.main-menu {
  position: relative;
  top: -2px;
  margin-right: 10px;
  mat-icon {
    color: #b4b4b4;
    font-size: 28px;
  }
}
button.main-menu-item {
  border-bottom: 1px dashed rgba(122, 116, 116, 0.17);

  &.active {
    background: #d9d9d9;
    cursor: default;
  }
  &:last-child {
    border: none;
  }
}
.supervisor-trigger {
  display: inline-block;
  padding-left: 20px;
  position: relative;
  top: -2px;

  button {
    background: #f5f5f5;
    color: #929292;
    font-size: 10px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    min-width: 100px;
    height: 29px;
    line-height: 25px;
    border-bottom: 4px solid #ffffff;
    border-radius: 0;
    text-transform: uppercase;
    margin: 0 1px;

    &.active {
      background: #ecf7fb;
      border-color: #ecf7fb;
    }
  }
}

//@media(max-width: 768px){
//  .agent-current-state{
//
//    span.mat-button-wrapper {
//      background: #fdb635;
//      color: transparent;
//      width: 10px;
//      height: 10px;
//      display: inline-block;
//      border-radius: 10px;
//      color: transparent;
//    }
//
//
//    button{
//
//      background: #cccccc;
//      width: 38px !important;
//      min-width: inherit;
//      line-height: 6px;
//
//      &:before {
//        content: '';
//        background: #fdb635;
//        width: 10px;
//        height: 10px;
//        position: absolute;
//        border-radius: 100%;
//        top: 9px;
//      }
//      &.ready{
//        &:before {
//        background: $green-color;
//      }
//      }
//
//      i{
//        position: absolute;
//        right: 0;
//        top: 2px;
//        color: #999;
//      }
//
//
//    }
//  }
//}

.supervisor-tab-trigger {
  background: #f5f5f5;
  position: relative;
  z-index: 101;
  top: 40px;
  display: none;
}

.state-trigger mat-icon {
  font-size: 12px;
  display: inline-block;
  line-height: 24px;
  transform: rotate(1deg);
  position: absolute;
  left: 4px;
  border-radius: 100%;
  color: #b4b4b4;
}
.state-trigger-main {
  mat-icon {
    font-size: 13px !important;
    width: 13px;
    height: 13px;
    line-height: 13px;
  }

  &:disabled {
    background: #e6e6e6 !important;
  }
}

//@media(max-width: 990px) {

.supervisor-tab-trigger {
  .supervisor-trigger {
    button {
      border-bottom: 0 !important;
      position: relative;
      top: 2px;
      text-transform: uppercase;
      float: left;
      border-right: 1px solid #fff !important;

      &.active {
        position: relative;
        top: 2px;
      }
    }
  }
}

.agent_name {
  font-size: 11px !important;
  span {
    font-size: 10px !important;
  }
}

.menu-trigger-custom {
  display: block;
  margin: 0;
  min-width: 200px;
  padding: 5px 8px;
  height: 40px;
  line-height: 35px;
  font-size: 11px;
  color: #171717;
  text-align: right;

  &.logged-time {
    text-align: right;
    max-width: 160px;
    min-width: 160px;
    padding-top: 0;
    color: #818181;
    padding-bottom: 0 !important;
    height: 25px;
    line-height: 25px;
  }

  .inner-btn {
    float: left;
    small {
      color: gray;
      margin-left: 5px;
    }
  }
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    width: 140px;
  }

  &.state-trigger {
    button:after {
      color: #fff;
    }
  }

  button {
    height: 25px !important;
    line-height: 24px !important;
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0 5px;
    color: #fff;
    font-weight: 500;
    font-size: 11px;
    background: #f1f1f1;
    border-radius: 3px;
    display: inline-block !important;
    min-width: 160px;
    cursor: pointer;
    border: 0;

    &:after {
      transform: rotate(90deg);
      top: 9px;
      right: 11px;
    }

    //&.ready {
    //  background: $green-color;
    //  border-color: $green-color;
    //}
    //&.active {
    //  background: #fdb635;
    //  border-color: #fdb635;
    //}
    //&.pending_not_ready {
    //  background: purple;
    //  border-color: purple;
    //}
    //&.not_ready {
    //  background: #00000033 !important;
    //  border-color: #00000033 !important;
    //}
    //
    //
    //&.interrupted {
    //  background: #CB2525;
    //  border-color: #CB2525;
    //}
    //
    //&.busy {
    //  background: #CB2525;
    //  border-color: #CB2525;
    //}
    //&.false{
    //  border-color: #999 !important;
    //  background: #999 !important;
    //}
  }

  .language-trigger {
    background: transparent;
    color: #171717;
    position: relative;
    padding: 0;
    max-width: fit-content !important;
    min-width: fit-content;
    padding-right: 40px;

    mat-icon {
      position: absolute;
      right: 0;
      color: #c8c8c8;
    }
  }

  img {
    width: 15px !important;
    margin-right: 5px;
    position: relative;
    top: -1px;
  }

  &.logged-out-trigger {
    margin: 0;
    border-top: 1px dashed rgba(160, 160, 160, 0.7);
    padding: 0;

    button.mat-menu-item {
      height: 38px !important;
      background: transparent;
      font-size: 11px;
      color: #171717;
      font-weight: 400;
      padding: 0 10px !important;

      &:disabled {
        background: #cccccc;
      }
      &:hover {
        background: #f1f1f1;
      }

      .mat-icon {
        float: right;
        margin: 0;
        top: 3px;
        position: relative;
      }
    }
  }

  span.time_state {
    position: absolute;
    right: 20px;
    font-size: 11px;
    color: #25afcb;
  }
}

//}

//MRD states
.mrd-states {
  background: #f3f6f8;

  .mrd-text {
    display: block;
    background: #fff;
    padding: 0 10px;
    border-top: 1px dashed rgb(160 160 160 / 70%);
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    color: #818181;
    letter-spacing: 1px;
  }

  .select-state {
    margin: 0 10px;
    border-bottom: 1px solid #4d4d4d54;
    font-size: 11px;
    color: #171717;
    padding: 5px 0;
  }
}
.state-main-wrapper {
  &:last-child {
    .select-state {
      border: 0;
    }
  }
}

@media (max-width: 420px) {
  .right-canned-message-list.mat-drawer-opened.announcement-tab {
    height: calc(100% - 70px) !important;
    top: 70px;
  }
  // .profile-detail {
  //   //height: 70px;

  //   //.left-logo-area, .right-profile-area {
  //   //  width: 100% !important;
  //   //  min-width: 100%;
  //   //  float: none !important;
  //   //}
  // }
  .supervisor-tab-trigger {
    top: 70px;
  }
}
.menu-list-content {
  position: relative;
  min-width: 275px !important;

  .language-change-list {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    background: #fff;
    height: 100%;
    z-index: 9;

    p {
      margin: 0;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      position: relative;
      font-size: 11px;
      color: #818181;
      border-bottom: 1px dashed rgba(160, 160, 160, 0.7);
      mat-icon {
        position: absolute;
        right: 0;
        font-size: 18px;
        top: 12px;
        cursor: pointer;
      }
    }

    .logout-reason-inner {
      display: block;

      mat-checkbox {
        width: 100% !important;
        display: block;
        font-size: 13px;
        color: #171717;
        padding: 4px 10px;
        &:hover {
          background: #f1f1f1;
        }
      }
    }
    .main-logout {
      background: #f3f6f8;
      margin: 5px 10px;
      width: calc(100% - 20px);
      color: #c41a1a;
      font-size: 14px;
      position: sticky;
      bottom: 0;
    }

    .language-selection {
      font-size: 13px;
      color: #171717;
      height: 40px !important;
      line-height: 40px !important;
      position: relative;
      padding-right: 15px;
      background: transparent;

      &:hover {
        background: #f1f1f1;
      }

      &.selected-language {
        &:after {
          font-family: "Material Icons";
          content: "check";
          font-weight: normal;
          font-style: normal;
          font-size: 20px;
          letter-spacing: normal;
          white-space: nowrap;
          word-wrap: normal;
          -webkit-font-smoothing: antialiased;
          position: absolute;
          color: #25cb8d !important;
          right: 10px;
          top: 0;
        }
      }
    }
  }
}

/** Announcement Area Style **/

@media (max-width: 990px) {
  .right-profile-area {
    padding-left: 0;
    h3.agent_name {
      p {
        text-overflow: ellipsis;
        max-width: 100px;
        overflow: hidden;
        white-space: pre;
        display: inline-block;
        margin: 0;
        position: relative;
        top: 2px;
      }
    }

    .announcement-trigger-area {
      border: 0 !important;
    }
  }
}
@media (max-width: 575px) {
  .right-profile-area {
    width: calc(100% - 230px) !important;
  }
}
@media (max-width: 520px) {
  h3.agent_name {
    span {
      display: block;
      margin: 0 !important;
    }
    p {
      max-width: 80px;
    }
  }
}

.announcement-trigger-area {
  padding: 0 10px;
  position: relative;
  width: 40px;

  button {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #f1f1f1;
    overflow: hidden;
    transition: all 0.2s;

    img {
      position: relative;
      top: -11px;
      width: 12px;
      transition: all 0.2s;
    }

    &:hover,
    &.announcement-tab-opened {
      background: #d4f5fb;
      transition: all 0.2s;
      img {
        top: 5px;
        transition: all 0.2s;
      }
    }
  }

  .notification-hint {
    position: absolute;
    background: red;
    width: 13px;
    height: 13px;
    display: block;
    z-index: 9;
    font-size: 9px;
    color: #fff;
    line-height: 13px;
    text-align: center;
    right: 4px;
    top: -4px;
    font-weight: 600;
    border-radius: 100%;
  }
}

.right-canned-message-list.mat-drawer-opened.announcement-tab {
  opacity: 1;
  height: calc(100% - 135px) !important;
  overflow: inherit;
  top: 50px;
  width: 320px;
  position: fixed;
  right: 0;
  z-index: 99;

  .mat-sidenav {
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 320px;
  }
}

.announcement-tab-header h4 {
  font-size: 13px;
  margin: 0;
  padding: 10px 5px;
  color: #d4d4d4;
}

.back-to-interaction {
  span {
    font-size: 22px;
    color: $green-color;
    transition: all 0.2s;
    margin-right: 3px;
    vertical-align: bottom;
    cursor: pointer;
    &:hover {
      transition: all 0.2s;
      color: darken($green-color, 10%);
    }
  }
}

//new style
button.language-selection img {
  width: 20px;
  position: relative;
  left: -5px;
  box-shadow: 0 0 0 1px #ccc;
  border-radius: 100%;
}

//
//.announcement-trigger-area{
//  padding: 0 10px;
//  margin-right: 15px;
//  position: relative;
//  width: 40px;
//
//  button{
//    width: 20px;
//    height: 20px;
//    line-height: 20px;
//    background: #f1f1f1;
//    overflow: hidden;
//    transition: all .2s;
//
//    img{
//      position: relative;
//      top: -11px;
//      width: 12px;
//      transition: all .2s;
//    }
//
//    &:hover, &.announcement-tab-opened{
//      background: #D4F5FB;
//      transition: all .2s;
//      img{
//        top: 5px;
//        transition: all .2s;
//      }
//    }
//  }
//
//  .notification-hint{
//    position: absolute;
//    background: red;
//    width: 13px;
//    height: 13px;
//    display: block;
//    z-index: 9;
//    font-size: 9px;
//    color: #fff;
//    line-height: 13px;
//    text-align: center;
//    right: 4px;
//    top: -4px;
//    font-weight: 600;
//    border-radius: 100%;
//  }
//}

button {
  &.ready {
    background: $green-color !important;
    border-color: $green-color;
  }
  &.active {
    background: #fdb635 !important;
    border-color: #fdb635;
  }
  &.pending_not_ready {
    background: purple !important;
    border-color: purple;
  }
  &.not_ready {
    background: #00000033 !important;
    border-color: #00000033 !important;
  }

  &.interrupted,
  &.busy,
  &.unknown {
    background: #cb2525 !important;
    border-color: #cb2525;
  }
  &.false {
    border-color: #999 !important;
    background: #999 !important;
  }
}
.ellipsis
{
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  width: 140px;
}