<div class="profile-detail container-fluid">
  <div class="row main-header">
    <div class="main-logo col-md-4">
      <button class="main-menu" mat-icon-button [matMenuTriggerFor]="mainMenu" aria-label="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #mainMenu="matMenu">
        <button routerLink="/supervisor/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  mat-menu-item class="main-menu-item">
          <span>Dashboard</span>
        </button>
        <button routerLink="/supervisor/announcement"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item class="main-menu-item">
          <span>Team Announcements </span>
        </button>
        <button routerLink="/customers/chats"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item class="main-menu-item">
          <span>Customer Conversation View</span>
        </button>
        <button routerLink="/customers/phonebook"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item class="main-menu-item">
          <span>Customer List View</span>
        </button>
      </mat-menu>

      <img src="assets/images/expertflow-logo.png">
    </div>
    <div class="col-md-8 right-profile-area">
      <div class="info">
        <!--      <div (click)="openOutboundMsgDialog()" *ngIf="config._EnableOutboundSms" class="message-trigger-area">-->
        <!--        <button mat-button class="chat-message-trigger" >-->
        <!--          <span class="material-icons">textsms</span>-->
        <!--        </button>-->
        <!--      </div>-->

        <!--      <h3 class="supervisor-heading" *ngIf="supervisor">Supervisor</h3>-->
        <div class="avatar ready {{_cacheService.agent.presence.agentState | lowercase}}" id="avatar">
          <mat-icon>person</mat-icon>
        </div>
        <h3 class="agent_name">
          <p [matTooltip]="_cacheService.agent.details.username">{{_cacheService.agent.details.username ? _cacheService.agent.details.username: 'Bryan Miller'}}</p>
          <span>
            (Ext: {{agent.extension}})
          </span>
        </h3>
        <div class="agent-state-small">
          <span class="agent-state-icon {{_cacheService.agent.presence.agentState | lowercase}} material-icons">
            radio_button_checked
          </span>
        </div>

        <div class="agent-state">
          <span class="state">State</span>

          <div class="agent-current-state">
            <button mat-button [matMenuTriggerFor]="state" class="ready {{_cacheService.agent.presence.agentState | lowercase}}">
              <span>{{_cacheService.agent.presence.agentState | removeUnderscore }} Ready</span>

              <i class="material-icons">
                arrow_drop_down
              </i>
            </button>

            <mat-menu class="matMenu" #state="matMenu" yPosition="below" panelClass="custom" [overlapTrigger]="false">
              <button (click)="changeState(1)" mat-menu-item class="state-trigger-main">
                <mat-icon style="color: limegreen;font-size: 20px">radio_button_checked</mat-icon>
                READY
              </button>

              <button (click)="changeState(0)" mat-menu-item class="state-trigger-main">
                <mat-icon style="color:orange; font-size: 20px" *ngIf="isConnected">radio_button_checked</mat-icon>
                NOT READY
              </button>
            </mat-menu>
          </div>

          <span class="time_state">{{display | date :"HH:mm:ss":'UTC'}}</span>

        </div>
        <div class="announcement-trigger-area" >
          <span class="notification-hint">2</span>
          <button mat-icon-button class="announcement-trigger"
                  [ngClass]="{'announcement-tab-opened': sidenav.opened}"
                  (click)="sidenav.toggle()"> <img src="assets/images/announcement.svg"></button>

        </div>

        <div class="multi-language">
          <button mat-button [matMenuTriggerFor]="languageSelection" class="language-trigger">
            <img src="assets/flags/{{languageFlag}}" width="20" onError="this.src='assets/flags/generic.png';">
            {{languageName}} <i class="material-icons">
              arrow_drop_down
            </i></button>

          <mat-menu #languageSelection="matMenu" yPosition="below" panelClass="custom" [overlapTrigger]="false">
            <button mat-menu-item class="language-selection" (click)="lang(language.code)"
              *ngFor="let language of languages">
              <img src="assets/flags/{{language.flag}}" width="20"
                onError="this.src='assets/flags/generic.png';">{{language.name}}
            </button>

          </mat-menu>

          <mat-menu #agentState="matMenu" yPosition="below" panelClass="custom" [overlapTrigger]="false">
            <button (click)="changeState(1)" mat-menu-item class="state-trigger">

              <mat-icon style="color: limegreen;font-size: 20px">radio_button_checked
              </mat-icon>
              READY
            </button>
            <button (click)="changeState(0)" mat-menu-item class="state-trigger">
              <mat-icon style="color:orange; font-size: 20px">
                radio_button_checked
              </mat-icon>
              NOT READY
            </button>
          </mat-menu>
        </div>


        <div class="vert-dropdown">
          <button mat-button [matMenuTriggerFor]="menu" class="vert-button">
            <i class="material-icons">
              more_vert
            </i>
          </button>
          <mat-menu class="matMenu" #menu="matMenu" backdropClass="main-menu-list" [xPosition]="'before'">
            <div class="menu-list-content">

              <p class="menu-trigger-custom state-trigger">
                <span class="inner-btn">STATE</span>

                <button mat-menu-item class="{{_cacheService.agent.presence.agentState | lowercase}} mat-menu-item-submenu-trigger"
                  [matMenuTriggerFor]="agentState">
                  <span>{{ _cacheService.agent.presence.agentState | removeUnderscore }}</span>

                </button>
              </p>
              <p class="menu-trigger-custom logged-time ">{{display | date :"HH:mm:ss":'UTC'}}
                <span class="time_state">11:12</span>
              </p>

              <p class="menu-trigger-custom select-language">
                <span class="inner-btn ">Language</span>

                <button mat-menu-item [matMenuTriggerFor]="languageSelection" class="language-trigger">
                  <img src="assets/flags/{{languageFlag}}" width="20"
                    onError="this.src='assets/flags/generic.png';">{{languageName}} </button>
              </p>


              <p class="menu-trigger-custom logged-out-trigger">
                <button mat-menu-item>
                  Logout
                  <mat-icon style="color: gray;font-size: 20px;">exit_to_app</mat-icon>
                </button>
              </p>
            </div>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>

  <mat-sidenav-container (backdropClick)="close()"  hasBackdrop="true"  class="right-canned-message-list announcement-tab"
                         [ngClass]="{'mat-drawer-opened': sidenav?.opened}">
    <mat-sidenav #sidenav position="end"  (keydown.escape)="close()" mode="over" disableClose mode="over">


      <div class="announcement-tab-header">
        <h4>Announcements</h4>
      </div>
      <app-agent-announcements></app-agent-announcements>

    </mat-sidenav>

  </mat-sidenav-container>
</div>
