.profile-detail {
  //position: fixed;
  //top: 0;
  //z-index: 999;
  //background-color: #fff;
  //padding: 2px 0 2px !important;
  //height: 45px;
  //border-bottom: inset 5px #E2E2E2;

  .right-profile-area{
    //float: right;
    //position: relative;
    //text-align: right;
    .info{
      //padding-left: 5px !important;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      min-height: 40px;

      .agent-state{
        display: inline-block;
      }
      .multi-language{
        display: inline-block;

        .language-trigger{
          min-width: 95px;
          height: 22px;
          line-height: 14px;
          position: relative;
          text-align: left;
          margin: 0;
          padding: 0 5px;
          color: #707070;
          font-weight: 500;
          font-size: 11px;
          background: #ECF7FB;
          border-radius: 5px;
        }
        img{
          width: 14px!important;
          margin-right: 5px;
          position: relative;
          top: -1px;
        }
        i{
          width: 13px;
          text-align: center;
          position: absolute;
          right: 10px;
          display: block;
          top: -1px;
        }
      }
    }

    h3.agent_name {
      font-size: 13px;
      font-weight: 500;
      margin: 0;
      display: inline-block;
      color: #25AFCB;
      text-align: left;

      p{
        display: inline-block;
        margin: 0;
      }

      span {
        color: #929292;
        font-size: 11px;
        margin-left:3px;
      }
      @media(max-width: 420px){
        span{
          margin-left: 0;
          display: block;
        }
      }
    }

    .agent-state{
      display: inline-block;
      border-left: 1px solid #f1f1f1;
      border-right: 1px solid #f1f1f1;
      padding-left: 16px;
      margin-left: 5px;
      min-width: 190px;

      span.state {
        color: #D4D4D4;
        font-size: 11px;
      }
      .time_state{
        font-size: 11px;
        color: #929292;
        min-width: 50px;
        display: inline-block;
        text-align: left;
      }
    }
  }
  .vert-dropdown {
    display: inline-block;
  }

}
.agent-current-state{
  background: #cccccc0d;
  top: 0;
  display: inline-block;
  margin: 0 5px;
  button{
    padding: 0 22px 0 5px;
    height: 22px;
    line-height: 22px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 5px;
    color: #ffffff;
    background: #fdb635;
    text-align: left;
    min-width: 100px;
    border: 0px;
    box-shadow: none;
    position: relative;
    span{
      font-weight: 500;
      line-height: 14px;
      display: inline-block;
    }
    &.false{
      background: #999 !important;
    }
    &.ready {
      background: #25CB8D;
    }
    &.active {
      background: #25CB8D;
    }
    &.not_ready {
      background: #fdb635;
    }


    &.interrupted {
      background: #448aff;
    }
    &.busy {
      background: #CB2525;
    }
    &.unknown {
      background: #000
    }

    i{
      position: absolute;
      right: 0;
      top: -2px;
    }
  }
}

#avatar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;

  &.false{
    border: 1px solid #999 !important;
    color: #999 !important;

    mat-icon{
      color: #999 !important;
    }
  }
  &.ready {
    border: 1px solid #25CB8D;
    mat-icon{
      color: #25CB8D !important;
    }
  }
  &.active {
    @extend .ready;
    mat-icon{
      color: #25CB8D !important;
    }
  }
  &.not_ready {
    border: 1px solid #fdb635;
    mat-icon{
      color: #fdb635 !important;
    }
  }
  &.pending_not_ready {
    @extend .not_ready;
    mat-icon{
    color: #fdb635 !important;
  }
  }

  &.interrupted {
    border: 1px solid #448aff;
  }
  &.busy {
    border: 1px solid #CB2525;
  }
  &.unknown {
    border: 1px solid #000
  }

  .false {
    border: 1px solid grey
  }
}

.info {
  .agent_name {
    color: black;
    font-weight: 300;
    font-size: 15px;
  }
  .timer_state {
    font-size: 12px;

  }
  .time_state {
    font-size: 13px;
    font-weight:400;
  }
  .subtitle {
    font-size: 15px !important;
    color: black;

  }
}

.timer {
  display: inline-flex;
  font-size: 12px;
  font-weight: 300;
  padding-top: 13px;
  i {
    font-size: 18px;
    color: #09ba07;
  }
}

/////////////// button ///////////////////
.btn-ready {
  color: #09ba07;
}

.btn-notReady {
  color: red;
}

.vert-button {
  width: 35px !important;
  max-width: 35px;
  min-width: 35px;
  padding: 0;
  color: #929292;
  &:focus {
    outline: none;
    background-color: transparent !important;
  }
}

.menu-toggle {
  padding: 9px 16px;
  .mat-slide-toggle {
    padding-left: 10px;
  }
}

.mat-menu-item {
  line-height: 25px !important;
  height: 29px !important;
  padding: 0 11px !important;
  color: #827e7e;
  font-size: 12px;
  background: #fdfdfd !important;

  &:hover{
    background: darken(#f2f2f2, 10%) !important;
  }

}
.supervisor-heading {
  display: inline-block;
  font-size: 18px;
  color: #DFDFDF;
  margin: 0 10px 0 ;
  text-transform: uppercase;
  font-weight: 100;
}

.main-logo {
  align-self: center;

   img {
     //width: 120px;
    height: 32px;
  }
}
button.main-menu {
  position: relative;
  top: -2px;
  margin-right: 10px;
  mat-icon{
    color: #b4b4b4;
    font-size: 28px;
  }
}
button.main-menu-item{
  border-bottom: 1px dashed #ccc;

  &.active{
    background: #d9d9d9 !important;
    cursor: default;
  }
  &:last-child{
    border-color: transparent;
  }
}
.supervisor-trigger{
  display: inline-block;
  padding-left: 20px;
  position: relative;
  top: -2px;

  button{
    background: #F5F5F5;
    color: #929292;
    font-size: 10px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    min-width: 100px;
    height: 29px;
    line-height: 25px;
    border-bottom: 4px solid #ffffff;
    border-radius: 0;
    text-transform: uppercase;
    margin: 0 1px;

    &.active{
      background: #ECF7FB;
      border-color: #ecf7fb;
    }
  }
}


//@media(max-width: 768px){
//  .agent-current-state{
//
//    span.mat-button-wrapper {
//      background: #fdb635;
//      color: transparent;
//      width: 10px;
//      height: 10px;
//      display: inline-block;
//      border-radius: 10px;
//      color: transparent;
//    }
//
//
//    button{
//
//      background: #cccccc;
//      width: 38px !important;
//      min-width: inherit;
//      line-height: 6px;
//
//      &:before {
//        content: '';
//        background: #fdb635;
//        width: 10px;
//        height: 10px;
//        position: absolute;
//        border-radius: 100%;
//        top: 9px;
//      }
//      &.ready{
//        &:before {
//        background: #25CB8D;
//      }
//      }
//
//      i{
//        position: absolute;
//        right: 0;
//        top: 2px;
//        color: #999;
//      }
//
//
//    }
//  }
//}

.state-trigger, .logged-time, .select-language{
  display: none;
}
.agent-state-small{
  display: none;
}
.supervisor-tab-trigger {
  background: #F5F5F5;
  position: relative;
  z-index: 101;
  top: 40px;
  display: none;
}
.logged-out-trigger{
  button{
    background: #EEEEEE;
    font-size: 12px;
    width: 100% !important;
    border-radius: 0 !important;
    left: 0;
    bottom: 0;
    margin: 0;
    color: #929292 !important;
    text-transform: uppercase;
    &:disabled{
      background: #cccccc !important;
    }

    .mat-icon {
      float: right;
      margin: 0;
      top: 3px;
      position: relative;
    }
  }
}
.state-trigger mat-icon {
  font-size: 14px !important;
  width: 12px;
  height: 12px;
  display: inline-block;
  line-height: 12px;
}
.state-trigger-main{
  mat-icon {
    font-size: 13px !important;
    width: 13px;
    height: 13px;
    line-height: 13px;
  }

  &:disabled{
    background: #e6e6e6!important;
  }
}

@media(max-width: 990px) {
  .vert-button{
    position: relative;
    top: -2px;
  }
  .state-trigger, .logged-time, .select-language{
    display: block;
  }
  .supervisor-tab-trigger {
    display: block;

    .supervisor-trigger {
      display: block !important;

      button {
        border-bottom: 0 !important;
        position: relative;
        top: 2px;
        text-transform: uppercase;
        float: left;
        border-right: 1px solid #fff !important;


        &.active {
          position: relative;
          top: 2px;
        }
      }
    }
  }


  .multi-language,.supervisor-heading,.supervisor-trigger, .agent-state{
    display: none !important;
  }

  .agent_name{
    font-size: 11px !important;
    span{
      font-size: 10px !important;
    }
  }
  .agent-state-small{
    display: inline-block;
    border-left: 1px solid #ccc;
    margin-left: 5px;
    padding-left: 5px;
    position: absolute;
    right: 40px;
    top: 4px;
    line-height: 24px;
    height: 22px;
    .agent-current-state{
      color: #A6AEB7;
      font-size: 11px;
    }

    .agent-state-icon{
      font-size: 13px;
      border-radius: 100%;
      width: 12px;
      height: 12px;
      line-height: 11px;
      text-align: center;
      display: inline-block;
      position: relative;
      top: 2px;
      &.ready,&.active {
        color:  #25CB8D;
      }

      &.not_ready,&.pending_not_ready {
        color:  #fdb635;
      }


      &.interrupted {
        color:  #448aff;
      }
      &.busy {
        color:  #CB2525;
      }
      &.unknown {
        color:  #000;
      }
      &.false{
        color: #999 !important;
      }

    }
  }
  .profile-detail {

    .right-profile-area {
      .info {
        justify-content: flex-start;
        margin-top: 3px;
      }
    }

    .vert-dropdown{
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .menu-trigger-custom {
    display: block;
    margin: 0;
    min-width: 200px;
    padding: 5px 8px;
    height: 35px;
    line-height: 25px;
    font-size: 10px;
    color: #929292;
    text-transform: uppercase;

    &.state-trigger {
      button:after {
        color: #fff;
      }
    }

    button {
      height: 25px !important;
      line-height: 24px !important;
      position: relative;
      text-align: left;
      margin: 0 8px 0;
      padding: 0 5px;
      color: #fff;
      font-weight: 500;
      font-size: 11px;
      background: #f1f1f1;
      border-radius: 3px;
      display: inline-block !important;
      width: 90px;
      cursor: pointer;
      border: 0;

      &:after {
        transform: rotate(90deg);
        top: 9px;
        right: 11px;
      }

      &.ready {
        background: #25CB8D;
        border-color: #25CB8D;
      }
      &.active {
        background: #25CB8D;
        border-color: #25CB8D;
      }
      &.pending_not_ready {
        background: #fdb635;
        border-color: #fdb635;
      }
      &.not_ready {
        background: #fdb635;
        border-color: #fdb635;
      }


      &.interrupted {
        background: #448aff;
        border-color: #448aff;
      }

      &.busy {
        background: #CB2525;
        border-color: #CB2525;
      }
      &.false{
        border-color: #999 !important;
        background: #999 !important;
      }
    }

    .language-trigger {
      background: #ECF7FB;
      color: #707070;

    }

    img {
      width: 15px !important;
      margin-right: 5px;
      position: relative;
      top: 3px;
    }


    &.logged-out-trigger {
      margin: 0;

      button.mat-menu-item {

        border-radius: 0 !important;
        position: absolute !important;
        left: 0;
        bottom: 0;
        margin: 0;

      }
    }

    span.time_state {
      position: absolute;
      right: 20px;
      font-size: 11px;
      color: #25AFCB;
    }
  }

}


@media (max-width:420px) {

  .right-canned-message-list.mat-drawer-opened.announcement-tab {
    height: calc(100% - 70px) !important;
    top: 70px;
  }
  .profile-detail {
    height: 70px;

    .left-logo-area, .right-profile-area {
      width: 100% !important;
      min-width: 100%;
      float: none !important;
    }
  }
  .supervisor-tab-trigger{
    top: 70px;
  }

}
.menu-list-content {
  position: relative;
}

/** Announcement Area Style **/

@media (max-width: 990px) {

  .right-profile-area{
    padding-left: 0;
    h3.agent_name{
      p{
        text-overflow: ellipsis;
        max-width: 100px;
        overflow: hidden;
        white-space: pre;
        display: inline-block;
        margin: 0;
        position: relative;
        top: 2px;
      }
    }

    .announcement-trigger-area {
      position: absolute;
      right: 103px;
      top: 8px;
      border: 0 !important;
    }


  }

}

@media (max-width: 520px) {
  h3.agent_name{
    span{
      display: block;
      margin: 0 !important;
    }
    p{
      max-width: 80px;
    }
  }
}

.announcement-trigger-area{
  border-right: 1px solid #f1f1f1;
  padding: 0 10px;
  margin-right: 15px;
  position: relative;
  width: 40px;

  button{
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #f1f1f1;
    overflow: hidden;
    transition: all .2s;

    img{
      position: relative;
      top: -11px;
      width: 12px;
      transition: all .2s;
    }

    &:hover, &.announcement-tab-opened{
      background: #D4F5FB;
      transition: all .2s;
      img{
        top: 5px;
        transition: all .2s;
      }
    }
  }

  .notification-hint{
    position: absolute;
    background: red;
    width: 13px;
    height: 13px;
    display: block;
    z-index: 9;
    font-size: 9px;
    color: #fff;
    line-height: 13px;
    text-align: center;
    right: 4px;
    top: -4px;
    font-weight: 600;
    border-radius: 100%;
  }
}

.right-canned-message-list.mat-drawer-opened.announcement-tab {
  opacity: 1;
  height: calc(100% - 135px) !important;
  overflow: inherit;
  top: 50px;
  width: 320px;
  position: fixed;
  right: 0;
  z-index: 99;

  .mat-sidenav{
    top: 0;
    height:100% ;
    width: 100%;
    max-width: 320px;
  }
}

.announcement-tab-header h4 {
  font-size: 13px;
  margin: 0;
  padding: 10px 5px;
  color: #D4D4D4;
}

.message-trigger-area{
  margin-right: 10px;
  border-right: 1px solid #f1f1f1;

  button.chat-message-trigger.mat-button {
    background: #a3a3a3 !important;
    min-width: 24px;
    height: 24px;
    line-height: 17px;
    padding: 0 !important;
    max-width: 20px !important;
    border-radius: 100%;
    transition: all .2s;
    margin-right: 10px;
    span{
      font-size: 15px;
      color: #fff;
    }
    &:hover{
      transition: all .2s;
      background: #D4F5FB !important;

      span{
        color: #25AFCB;
      }
    }
  }
}


//new style
button.language-selection img {
  width: 14px;
  position: relative;
  left: -5px;
}


.announcement-trigger-area{
  border-right: 1px solid #f1f1f1;
  padding: 0 10px;
  margin-right: 15px;
  position: relative;
  width: 40px;

  button{
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #f1f1f1;
    overflow: hidden;
    transition: all .2s;

    img{
      position: relative;
      top: -11px;
      width: 12px;
      transition: all .2s;
    }

    &:hover, &.announcement-tab-opened{
      background: #D4F5FB;
      transition: all .2s;
      img{
        top: 5px;
        transition: all .2s;
      }
    }
  }

  .notification-hint{
    position: absolute;
    background: red;
    width: 13px;
    height: 13px;
    display: block;
    z-index: 9;
    font-size: 9px;
    color: #fff;
    line-height: 13px;
    text-align: center;
    right: 4px;
    top: -4px;
    font-weight: 600;
    border-radius: 100%;
  }
}
