<div class="profile-detail container-fluid">
  <div class="row main-header">
    <div class="main-logo col-md-4">
      <button class="main-menu" mat-icon-button [matMenuTriggerFor]="mainMenu" aria-label="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #mainMenu="matMenu">
        <button routerLink="/supervisor/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  mat-menu-item class="main-menu-item">
          <span>Dashboard</span>
        </button>
        <button routerLink="/supervisor/announcement"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item class="main-menu-item">
          <span>Team Announcements </span>
        </button>
        <button routerLink="/customers/chats"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item class="main-menu-item">
          <span>Customer Conversation View</span>
        </button>
        <button routerLink="/customers/phonebook"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item class="main-menu-item">
          <span>Customer List View</span>
        </button>
        <button routerLink="/label"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item class="main-menu-item">
          <span>Customer Labels</span>
        </button>
        <button routerLink="/customer-schema"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item class="main-menu-item">
          <span>Customer Schema</span>
        </button>
      </mat-menu>

      <img src="assets/images/expertflow-logo.png">
    </div>
    <div class="col-md-8 right-profile-area pr-1">
      <div class="info">
              <div  class="back-to-interaction">
                <span  routerLink="/customers/chats" class="material-icons">question_answer</span>
              </div>

        <!--      <h3 class="supervisor-heading" *ngIf="supervisor">Supervisor</h3>-->
<!--        <div class="avatar ready {{_cacheService.agent.presence.agentState | lowercase}}" id="avatar">-->
<!--          <mat-icon>person</mat-icon>-->
<!--        </div>-->
<!--        <h3 class="agent_name">-->
<!--          <p [matTooltip]="_cacheService.agent.details.username">{{_cacheService.agent.details.username ? _cacheService.agent.details.username: 'Bryan Miller'}}</p>-->
<!--          <span>-->
<!--            (Ext: {{agent.extension}})-->
<!--          </span>-->
<!--        </h3>-->


        <div class="announcement-trigger-area" >
          <span class="notification-hint">2</span>
          <button mat-icon-button class="announcement-trigger"
                  [ngClass]="{'announcement-tab-opened': sidenav.opened}"
                  (click)="sidenav.toggle()"> <img src="assets/images/announcement.svg"></button>

        </div>

        <div class="multi-language">

          <mat-menu #languageSelection="matMenu" yPosition="above" panelClass="custom" [overlapTrigger]="false">
            <button mat-menu-item class="language-selection" (click)="lang(language.code)"
              *ngFor="let language of languages">
              <img src="assets/flags/{{language.flag}}" width="20"
                onError="this.src='assets/flags/generic.png';">{{language.name}}
            </button>

          </mat-menu>

          <mat-menu #agentState="matMenu" yPosition="below" [xPosition]="'before'" panelClass="custom" [overlapTrigger]="false">
            <button (click)="$event.stopPropagation() ;changeState(1)" mat-menu-item class="state-trigger">

              <mat-icon style="color: limegreen">lens
              </mat-icon>
              Ready
            </button>
            <button (click)="$event.stopPropagation(); changeState(0)" mat-menu-item class="state-trigger">
              <mat-icon style="color:orange">
                lens
              </mat-icon>
              Not Ready
            </button>
            <button (click)="$event.stopPropagation(); changeState(0)" mat-menu-item class="state-trigger">
              <mat-icon>
                lens
              </mat-icon>
              Out of Office
            </button>
            <button (click)="$event.stopPropagation(); changeState(0)" mat-menu-item class="state-trigger">
              <mat-icon>
                lens
              </mat-icon>
              Lunch Break
            </button>
          </mat-menu>
        </div>


        <div class="vert-dropdown">
          <button mat-button [matMenuTriggerFor]="menu" class="vert-button">
            <div class="agent-showcase-mini">
              <mat-icon class="active">lens</mat-icon>
              <img src="assets/images/agent-avatar.png" alt="Agent">
            </div>
          </button>
          <span class="agent-time">(04:31:44)</span>

          <mat-menu class="matMenu" (click)="$event.stopPropagation()" #menu="matMenu"   class="custom-user-menu"  xPosition="after">
            <div class="menu-list-content" (click)="$event.stopPropagation()">
              <div class="main-showcase">
              <div class="agent-showcase">
                <img src="assets/images/agent-avatar.png" alt="Agent">
              </div>
                <h4 [matTooltip]="_cacheService.agent.details.username">{{_cacheService.agent.details.username ? _cacheService.agent.details.username: 'Bryan Miller'}}</h4>
                <span>(Ext: {{agent.extension}})</span>
              </div>

              <p class="menu-trigger-custom state-trigger">
                <span class="inner-btn">State</span>

<!--                <button mat-menu-item class="{{_cacheService.agent.presence.agentState | lowercase}} mat-menu-item-submenu-trigger"-->
<!--                  [matMenuTriggerFor]="agentState">-->
<!--                  <span>{{ _cacheService.agent.presence.agentState | removeUnderscore }}</span>-->

<!--                </button>-->
                <button mat-button [matMenuTriggerFor]="agentState" (click)="$event.stopPropagation()" class="ready {{_cacheService.agent.presence.agentState | lowercase}} mat-menu-item-submenu-trigger">
                  <span>{{_cacheService.agent.presence.agentState | removeUnderscore }} Ready</span>
                </button>
              </p>
              <p class="menu-trigger-custom logged-time ">{{display | date :"HH:mm:ss":'UTC'}}
              </p>

              <div class="mrd-states" (click)="$event.stopPropagation()">
                <span class="mrd-text">Change MRD State</span>
                <p class="menu-trigger-custom select-state active"><span class="inner-btn ">Voice Call</span>
                  <mat-slide-toggle color="primary"></mat-slide-toggle>
                </p>
                <p class="menu-trigger-custom select-state active"><span class="inner-btn ">Chat <small>(3)</small></span>
                  <mat-slide-toggle color="primary"></mat-slide-toggle>
                </p>
                <p class="menu-trigger-custom select-state active"><span class="inner-btn ">Email <small>(4)</small></span>
                  <mat-slide-toggle color="primary"></mat-slide-toggle>
                </p>
              </div>

              <p class="menu-trigger-custom select-language">
                <span class="inner-btn">Selected Language</span>

<!--                <button mat-menu-item [matMenuTriggerFor]="languageSelection" class="language-trigger">-->
<!--                  <img src="assets/flags/{{languageFlag}}" width="20"-->
<!--                    onError="this.src='assets/flags/generic.png';">{{languageName}} </button>-->



                <button (click)="$event.stopPropagation(); updateLanguage()" mat-button class="language-trigger">
                  <img src="assets/flags/{{languageFlag}}" width="20" onError="this.src='assets/flags/generic.png';">
                  {{languageName}} <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
              </p>


              <p class="menu-trigger-custom logged-out-trigger">
                <button mat-menu-item (click)="logout()">
                  Logout
                  <mat-icon style="color: gray;font-size: 20px;">exit_to_app</mat-icon>
                </button>
              </p>


              <!-- Language list -->
              <div *ngIf="changeLanguage" class="language-change-list" (click)="$event.stopPropagation()" >
                <p>Select language <mat-icon (click)="changeLanguage = false">close</mat-icon>
                </p>
                <button mat-menu-item class="language-selection" [ngClass]="{'selected-language': language.code == changeLanguageCode}" *ngFor="let language of languages" (click)="lang(language.code)">
                  <img src="assets/flags/{{language.flag}}" width="20"
                       onError="this.src='assets/flags/generic.png';">{{language.name}}
                </button>
              </div>

              <div *ngIf="logoutReasonList" class="language-change-list" (click)="$event.stopPropagation()">
                <p>Select language
                  <mat-icon (click)="logoutReasonList = false">close</mat-icon>
                </p>
                <span *ngFor="let reason of logoutReasons" class="logout-reason-inner"><mat-checkbox color="primary"
                                                                                                     labelPosition="after">{{reason}}</mat-checkbox></span>
                <button mat-button class="main-logout">Logout</button>
              </div>





            </div>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>

  <mat-sidenav-container  hasBackdrop="true"  class="right-canned-message-list announcement-tab"
                         [ngClass]="{'mat-drawer-opened': sidenav?.opened}">
    <mat-sidenav #sidenav position="end"  mode="over" disableClose mode="over">


      <div class="announcement-tab-header">
        <h4>Announcements</h4>
      </div>
      <app-agent-announcements></app-agent-announcements>

    </mat-sidenav>

  </mat-sidenav-container>
</div>
