<div class="profile-detail container-fluid">
  <div class="row main-header">
    <div class="main-logo col-md-4 col-sm-5">
      <button class="main-menu" mat-icon-button [matMenuTriggerFor]="mainMenu" aria-label="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #mainMenu="matMenu">
        <!--        <button routerLink="/supervisor/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"-->
        <!--          mat-menu-item class="main-menu-item">-->
        <!--          <span>Dashboard</span>-->
        <!--        </button>-->
        <!--        <button routerLink="/supervisor/announcement" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"-->
        <!--          mat-menu-item class="main-menu-item">-->
        <!--          <span>Team Announcements </span>-->
        <!--        </button>-->
        <button *ngIf="('customer-conversation-view' | authPipe : 'view') as result" routerLink="/customers/chats"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item class="main-menu-item">
          <span>Customer Conversation View</span>
        </button>
        <button *ngIf="('customer-list' | authPipe : 'view') as result" routerLink="/customers/phonebook"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item class="main-menu-item">
          <span>Customer List View</span>
        </button>
        <button  *ngIf="('customer-labels' | authPipe : 'view') as result" routerLink="/label" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLinkActiveOptions]="{exact:true}"
         mat-menu-item class="main-menu-item">
          <span>Customer Labels</span>
        </button>
        <button *ngIf="('subscribed-list' | authPipe : 'view') as result" routerLink="/subscribed-list"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item class="main-menu-item">
          <span>Subscribed Lists</span>
        </button>
        <button *ngIf="('customer-schema' | authPipe : 'view') as result" routerLink="/customer-schema"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item class="main-menu-item">
          <span>Customer Schema</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="supervisor"
          *ngIf="('supervisor-dashboard' | authPipe : 'view') as result" mat-menu-item class="main-menu-item">
          <span>Dashboard</span>
        </button>
      </mat-menu>
      <mat-menu #supervisor="matMenu">
        <button routerLink="/supervisor/dashboards" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
          mat-menu-item class="main-menu-item">
          <span>Summary Dashboard</span>
        </button>
        <button routerLink="/supervisor/active-chats" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
          mat-menu-item class="main-menu-item">
          <span>Active Conversations Detail</span>
        </button>
        <button routerLink="/supervisor/queue-chats" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
          mat-menu-item class="main-menu-item">
          <span>Queued Conversations Detail
          </span>
        </button>
      </mat-menu>

      <img src="assets/images/expertflow-logo.png">
    </div>
    <div class="col-md-8 col-sm-7 right-profile-area">

      <div class="info">
<!--        <span class="theme-switcher">-->
<!--          <mat-icon (click)="themeSwitch()"-->
<!--            matTooltip="{{isdarkMode ? 'Switch to light mode' : 'Switch to dark mode'}}">-->
<!--            {{isdarkMode ? 'brightness_7' : 'brightness_4'}}</mat-icon>-->
<!--        </span>-->
        <!-- <div class="back-to-interaction"><span class="notification-hint">3</span><span class="material-icons"
            routerlink="/customers/chats">question_answer</span></div> -->
        <!--      <div (click)="openOutboundMsgDialog()" *ngIf="config._EnableOutboundSms" class="message-trigger-area">-->
        <!--        <button mat-button class="chat-message-trigger" >-->
        <!--          <span class="material-icons">textsms</span>-->
        <!--        </button>-->
        <!--      </div>-->

        <!--      <h3 class="supervisor-heading" *ngIf="supervisor">Supervisor</h3>-->
        <!-- <div class="avatar {{_cacheService.agentPresence.state.name | lowercase}}" id="avatar">
          <mat-icon>person</mat-icon>
        </div>
        <h3 class="agent_name">
          <p [matTooltip]="_cacheService.agent.username">{{_cacheService.agent.username}}</p>
          <span>
            (Ext: {{agent.extension}})
          </span>
        </h3> -->

        <!-- <div class="agent-state">
          <span class="state">State</span>

          <div class="agent-current-state">
            <button mat-button [matMenuTriggerFor]="state" class="{{_cacheService.agentPresence.state.name | lowercase}}">
              <span>{{_cacheService.agentPresence.state.name | removeUnderscore }}</span>

              <i class="material-icons">
                arrow_drop_down
              </i>
            </button>


          </div>

          <span class="time_state">{{display | date :"HH:mm:ss":'UTC'}}</span>

        </div> -->
        <!-- <div class="announcement-trigger-area" >
          <span class="notification-hint">2</span>
          <button mat-icon-button class="announcement-trigger"
                  [ngClass]="{'announcement-tab-opened': sidenav.opened}"
                  (click)="sidenav.toggle()"> <img src="assets/images/announcement.svg"></button>

        </div> -->

        <!-- <div class="multi-language">
          <button mat-button [matMenuTriggerFor]="languageSelection" class="language-trigger">
            <img src="assets/flags/{{languageFlag}}" width="20" onError="this.src='assets/flags/generic.png';">
            {{languageName}} <i class="material-icons">
              arrow_drop_down
            </i></button>

          <mat-menu #languageSelection="matMenu" yPosition="below" panelClass="custom" [overlapTrigger]="false">
            <button mat-menu-item class="language-selection" (click)="lang(language.code)"
              *ngFor="let language of languages">
              <img src="assets/flags/{{language.flag}}" width="20"
                onError="this.src='assets/flags/generic.png';">{{language.name}}
            </button>

          </mat-menu>


        </div> -->

        <div class="vert-dropdown">
          <button mat-button [matMenuTriggerFor]="menu" class="vert-button">
            <div class="agent-showcase-mini">
              <mat-icon class="material-icons {{_cacheService.agentPresence.state.name | lowercase}}">lens</mat-icon>
              <img src="assets/images/dummy-user.svg" alt="Agent">
            </div>
          </button>
          <!-- <span class="agent-time">{{display | date :"HH:mm:ss":'UTC'}}</span> -->
          <span>
            <countup-timer class="agent-time" [countUpTimerConfig]="timerConfigs"></countup-timer>
          </span>



          <mat-menu (click)="$event.stopPropagation()" #menu="matMenu" class="custom-user-menu matMenu"
            xPosition="after">
            <div class="menu-list-content" (click)="$event.stopPropagation()">
              <div *ngIf="stateView">
                <div class="main-showcase">
                  <div class="agent-showcase">
                    <img src="assets/images/dummy-user.svg" alt="Agent">
                  </div>
                  <h4 [matTooltip]="_cacheService.agent.username">{{_cacheService.agent.username}}</h4>
                  <span>(Ext: {{agent.extension}})</span>
                </div>

                <p *ngIf="('state-change' | authPipe : 'view') as result" class="menu-trigger-custom state-trigger">
                  <span class="inner-btn">State</span>

                  <button mat-button #stateTrigger="matMenuTrigger" [matMenuTriggerFor]="agentState"
                    (click)="$event.stopPropagation()"
                    class="{{_cacheService.agentPresence.state.name | lowercase}} mat-menu-item-submenu-trigger">
                    <span>{{(_cacheService.agentPresence.state.name | removeUnderscore | titlecase) +
                      (_cacheService.agentPresence.state.reasonCode != null ?' - '+
                      _cacheService.agentPresence.state.reasonCode.name :
                      '') }}</span>
                  </button>
                </p>
                <!-- <p class="menu-trigger-custom logged-time ">{{display | date :"HH:mm:ss":'UTC'}} -->
                <!-- <p class="menu-trigger-custom logged-time "><countup-timer [countUpTimerConfig]="timerConfigs"></countup-timer></p> -->



                <div *ngIf="('state-change' | authPipe : 'view') as result" class="mrd-states"
                  (click)="$event.stopPropagation()">
                  <span class="mrd-text">Change MRD State</span>
                  <div class="state-main-wrapper"
                    *ngFor="let agentMrdState of _cacheService.agentPresence.agentMrdStates">
                    <p class="menu-trigger-custom select-state {{agentMrdState.state | lowercase}}">
                      <span class="inner-btn ">{{agentMrdState.mrd.name}}<small>({{agentMrdState.state}})</small></span>
                      <mat-slide-toggle (change)="changeMRD($event,agentMrdState)"
                        [checked]="agentMrdState.state | getmrdswitches" color="primary"></mat-slide-toggle>
                    </p>
                  </div>
                </div>

                <p class="menu-trigger-custom select-language">
                  <span class="inner-btn">Selected Language</span>

                  <!--                <button mat-menu-item [matMenuTriggerFor]="languageSelection" class="language-trigger">-->
                  <!--                  <img src="assets/flags/{{languageFlag}}" width="20"-->
                  <!--                    onError="this.src='assets/flags/generic.png';">{{languageName}} </button>-->



                  <button (click)="$event.stopPropagation(); updateLanguage()" mat-button class="language-trigger">
                    <img src="assets/flags/{{languageFlag}}" width="20" onError="this.src='assets/flags/generic.png';">
                    {{languageName}} <mat-icon>keyboard_arrow_right</mat-icon>
                  </button>
                </p>

                <p class="menu-trigger-custom logged-out-trigger">
                  <button mat-menu-item  class="theme-switcher" (click)="themeSwitch()"
                          matTooltip="{{isdarkMode ? 'Switch to light mode' : 'Switch to dark mode'}}">
                    <span class="theme-sub-text">Theme<small>(Light or dark)</small></span>
                    <mat-icon>
                      {{isdarkMode ? 'brightness_7' : 'brightness_6'}}</mat-icon>
                  </button>
                </p>


                <p *ngIf="_finesseService.finesseAgent.loginId == ''" class="menu-trigger-custom logged-out-trigger">
                  <button mat-menu-item (click)="logoutReasonList = true; stateView = false;">
                    Logout
                    <mat-icon style="color: gray;font-size: 20px;">exit_to_app</mat-icon>
                  </button>
                </p>
              </div>

              <!-- Language list -->
              <div *ngIf="changeLanguage" class="language-change-list" (click)="$event.stopPropagation()">
                <p>Select language <mat-icon (click)="changeLanguage = false; stateView = true">close</mat-icon>
                </p>
                <button mat-menu-item class="language-selection"
                  [ngClass]="{'selected-language': language.code == changeLanguageCode}"
                  *ngFor="let language of languages" (click)="lang(language.code)">
                  <img src="assets/flags/{{language.flag}}" width="20"
                    onError="this.src='assets/flags/generic.png';">{{language.name}}
                </button>
              </div>

              <div *ngIf="logoutReasonList" class="language-change-list" (click)="$event.stopPropagation()">
                <p>Select Reason
                  <mat-icon (click)="logoutReasonList = false; stateView = true">close</mat-icon>
                </p>
                <div *ngFor="let reason of reasonCodes; let i = index">
                  <span *ngIf="(reason.type | lowercase ) == 'logout'" class="logout-reason-inner">
                    <mat-checkbox [checked]="selected === i" (change)="selected = i; onChange(reason)" color="primary"
                      labelPosition="after">{{reason.name}}</mat-checkbox>
                  </span>
                </div>
                <button (click)="logout()" mat-button class="main-logout">Logout</button>
              </div>

            </div>
          </mat-menu>
          <mat-menu #agentState="matMenu" yPosition="below" panelClass="custom" [overlapTrigger]="false">
            <button (click)="changeState(1); $event.stopPropagation(); closeStateMenu(stateTrigger)" mat-menu-item
              class="state-trigger">

              <mat-icon style="color: limegreen !important;">lens
              </mat-icon>
              Ready
            </button>
            <button (click)="changeState(0); $event.stopPropagation(); closeStateMenu(stateTrigger)" mat-menu-item
              class="state-trigger">
              <mat-icon style="color:#b4b4b4;">
                lens
              </mat-icon>
              Not Ready
            </button>
            <div *ngFor="let reason of reasonCodes">
              <button *ngIf="(reason.type | lowercase) == 'not_ready'"
                (click)="changeState(reason); $event.stopPropagation(); closeStateMenu(stateTrigger)" mat-menu-item
                class="state-trigger">
                <mat-icon style="color:#b4b4b4;">
                  lens
                </mat-icon>
                {{reason.name}}
              </button>
            </div>
          </mat-menu>
        </div>

      </div>
    </div>
  </div>



  <!--  <mat-sidenav-container (backdropClick)="close()" hasBackdrop="true" class="right-canned-message-list announcement-tab"-->
  <!--    [ngClass]="{'mat-drawer-opened': sidenav?.opened}">-->
  <!--    <mat-sidenav #sidenav position="end" (keydown.escape)="close()" mode="over" disableClose mode="over">-->


  <!--      <div class="announcement-tab-header">-->
  <!--        <h4>Announcements</h4>-->
  <!--      </div>-->

  <!--    </mat-sidenav>-->

  <!--  </mat-sidenav-container>-->
</div>
