<div class="page-header row m-0">
  <div class="page-heading col-md-6 col-sm-4">
    <h4>{{'app-header.active-agents-detail' | translate | titlecase}}</h4>
  </div>
</div>

<div class="container-fluid">
  <div class="table-container manage-dashboard">
    <div class="active-chat-list-area">
      <div class="filter-area d-flex">
        <div class="create-label col pl-0">
          <div class="search-wrapper">
            <input type="text" placeholder="{{'supervisor.search-agent' | translate | titlecase}}" (click)="$event.stopPropagation()" [(ngModel)]="agentSearch" />
            <mat-icon>search</mat-icon>
          </div>

          <mat-form-field appearance="outline" class="selection-trigger chat-selection">
            <mat-select [(value)]="queueSelected" (selectionChange)="filterData()">
              <mat-option value="all">{{ "supervisor.all-queues" | translate }}</mat-option>
              <mat-option *ngFor="let item of queuesList" [value]="item.id">{{ item.name }} </mat-option>
            </mat-select>
          </mat-form-field>

          <!--          <mat-form-field appearance="outline" class="selection-trigger chat-selection">-->
          <!--            <mat-select [(ngModel)]="filterAgenStates">-->
          <!--              <mat-option value='all'>All Agents State</mat-option>-->
          <!--              <mat-option value="ready">Ready</mat-option>-->
          <!--              <mat-option value="not_ready">Not Ready</mat-option>-->
          <!--              <mat-option value="busy">Busy</mat-option>-->
          <!--            </mat-select>-->
          <!--          </mat-form-field>-->
        </div>

        <div class="mrd-stats-label">
          <span>{{ 'supervisor.mrd-states' | translate | titlecase }}</span>
          <ul>
            <li><span class="busy-label"></span> {{ 'supervisor.busy' | translate | titlecase }}</li>
            <li><span class="active-label"></span> {{ 'supervisor.active' | translate | titlecase }}</li>
            <li><span class="ready-label"></span> {{ 'supervisor.ready' | translate | titlecase }}</li>
            <li><span class="p-not-ready-label"></span> {{ 'supervisor.pending-not-ready' | translate | titlecase }}</li>
            <li><span class="not-ready-label"></span>{{ 'supervisor.not-ready' | translate | titlecase }}</li>
          </ul>
        </div>
      </div>

      <table class="table active-agent-table">
        <thead>
          <tr>
            <th class="status-data" scope="col" matTooltip="{{ 'supervisor.agent(s)' | translate | titlecase }}">{{ 'supervisor.agent(s)' | translate | titlecase }}</th>
            <!-- <th scope="col">State</th> -->
            <th scope="col" matTooltip="{{ 'supervisor.active-conversation' | translate | titlecase }}">{{ 'supervisor.active-conversation' | translate | titlecase }}</th>
            <!--          <th scope="col">Queue(s)</th>-->
            <th scope="col" class="mrd-status-cell" matTooltip="{{ mrd?.name }}"  *ngFor="let mrd of MRDsList">
              {{ mrd.name }}
            </th>
          </tr>
        </thead>
        <tbody *ngIf="(activeAgentsDetails | json) != '{}'">
          <tr *ngFor="let agent of (activeAgentsDetails.agents ? activeAgentsDetails.agents:[] ) | LockFilter: agentSearch">
            <td class="stats-agent-name {{ agent.state | lowercase }}">
              {{ agent.name }}
            </td>
            <!-- <td>
              {{ agent.state.replace('_',' ') | titlecase }}
            </td> -->
            <td>
              {{ agent.activeChatsCount }}
            </td>
            <!--          <td>-->
            <!--            <span class="agent-current-queue" *ngFor="let agentQueue of agent.agentQueues">{{agentQueue}}</span>-->
            <!--          </td>-->

            <ng-container *ngFor="let col of MRDsList">
              <ng-container *ngFor="let agentMRD of agent.mrds">
                <td class="mrd-status-cell" *ngIf="col.id==agentMRD.id">
                  <span class="mrd-current-status {{ agentMRD.state | lowercase }}"></span>
                </td>
              </ng-container>
            </ng-container>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
