<div class="page-header row m-0">
  <button  mat-button class="back-to-chat" (click)="listPreviewToggle()"></button>
  <div class="page-heading col-md-6">
    <h4>Inbox</h4>
  </div>
  <div class="create-label col-md-6 text-right">
    <button class="add-new" mat-button>Active</button>
    <button class="add-new" mat-button>Inactive</button>
    <button class="add-new" mat-button>Unread</button>
      <mat-form-field appearance="outline" class="selection-trigger">
        <mat-select [(value)]="FilterSelected">
          <mat-option value="all">All Queues</mat-option>
          <mat-option value="software">Software Queue</mat-option>
          <mat-option value="marketing">Marketing Queue</mat-option>
          <mat-option value="sales">Sales Queue</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
</div>
<div class="container-fluid">

<div class="table-container manage-dashboard">
  <div class="active-chat-list-area">
    <table class="table">
      <thead>
      <tr>
        <th class="status-data" scope="col">Status</th>
        <th scope="col">Customer</th>
        <th scope="col">Time</th>
        <th scope="col">List</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let chat of activeChatList">
        <td class="status-data"><span class="status-icon" [style.backgroundColor]="chat.status_color"></span></td>
        <td #customerCell><span class="channel-icon {{chat.channel}}"><img
          src="assets/images/{{chat.flag}}"></span> {{chat.customerName}} <small class="customer_identy">({{chat.identy}})</small>    <ul class="customer-labels"><li matTooltip="Marketing" style="background: #32b67a;" ></li><li matTooltip="Corporate" style="background: #f34f1b;" ></li><li matTooltip="Product Support" style="background: #536ce8;" ></li></ul>
<span  class="last-message">{{chat.last_message}}</span>
        </td>
        <td><small>less than</small> {{chat.activeTime}} min</td>
        <td>{{chat.queue}}</td>
        <span class="table-trigger">
          <button mat-button class="chat-btn" matTooltip="Chat">Join</button>
          <button mat-button class="close-btn"(click)="closeChat()" matTooltip="Close">Close</button>
      </span>
      </tr>
      </tbody>
    </table>

  </div>
</div>


</div>
