{
    "GAT_URL" : "${GAT_URL}",
    "SOCKET_URL" : "${SOCKET_URL}",
    "FILE_SERVER_URL" : "${FILE_SERVER_URL}",
    "CIM_CUSTOMER_URL": "${CIM_CUSTOMER_URL}",
    "CIM_REPORTING_URL":"${CIM_REPORTING_URL}",
    "ENV" : "${ENV}",
    "BOT_FRAMEWORK_URL":"${BOT_FRAMEWORK_URL}",
    "GRAFANA_DASHBOARD_URL":"${GRAFANA_DASHBOARD_URL}",
    "domain": "${domain}",
    "boshUrl": "${boshUrl}",
    "finesseFlavor": "${finesseFlavor}",
    "callVariable": "${callVariable}",
    "inboundTypeCCE": "${inboundTypeCCE}",
    "inboundTypeCCX": "${inboundTypeCCX}",
    "directType": "${directType}",
    "outboundType": "${outboundType}",
    "outboundType2": "${outboundType2}",
    "outboundCampaignType": "${outboundCampaignType}",
    "outboundPreviewCampaignTypeCCX": "${outboundPreviewCampaignTypeCCX}",
    "outboundPreviewCampaignTypeCCE": "${outboundPreviewCampaignTypeCCE}",
    "directTransferTypeCCE": "${directTransferTypeCCE}",
    "directTransferTypeCCX": "${directTransferTypeCCX}",
    "consultType": "${consultType}",
    "consultTransferTypeCCE": "${consultTransferTypeCCE}",
    "consultTransferTypeCCX": "${consultTransferTypeCCX}",
    "conferenceType": "${conferenceType}",
    "Rona_State_On_Cisco":"${Rona_State_On_Cisco}"
}
