{
    "GAT_URL" : "${GAT_URL}",
    "SOCKET_URL" : "${SOCKET_URL}",
    "FILE_SERVER_URL" : "${FILE_SERVER_URL}",
    "CIM_CUSTOMER_URL": "${CIM_CUSTOMER_URL}",
    "CCM_URL": "${CCM_URL}",
    "CIM_REPORTING_URL":"${CIM_REPORTING_URL}",
    "UNIFIED_ADMIN_URL":"${UNIFIED_ADMIN_URL}",
    "ROUTING_ENGINE_URL":"${ROUTING_ENGINE_URL}",
    "TEAM_ANNOUNCEMENT_URL":"${TEAM_ANNOUNCEMENT_URL}",
    "ENV" : "${ENV}",
    "CONVERSATION_MANAGER_URL":"${CONVERSATION_MANAGER_URL}",
    "domain": "${domain}",
    "subDomain" : "${subDomain}",
    "ctiParam": "${ctiParam}",
	"ctiParam2": "${ctiParam2}",
    "boshUrl": "${boshUrl}",
    "subBoshUrl" : "${subBoshUrl}",
    "finesseFlavor": "${finesseFlavor}",
    "callVariable": "${callVariable}",
    "getQueuesDelay": ${getQueuesDelay},
    "ssoBackendUrl": "${ssoBackendUrl}",
	"isGadget": ${isGadget},
    "inboundTypeCCE": "${inboundTypeCCE}",
    "inboundTypeCCX": "${inboundTypeCCX}",
    "directType": "${directType}",
    "outboundType": "${outboundType}",
    "outboundType2": "${outboundType2}",
    "outboundCampaignType": "${outboundCampaignType}",
    "outboundPreviewCampaignTypeCCX": "${outboundPreviewCampaignTypeCCX}",
    "outboundPreviewCampaignTypeCCE": "${outboundPreviewCampaignTypeCCE}",
    "directTransferTypeCCE": "${directTransferTypeCCE}",
    "directTransferTypeCCX": "${directTransferTypeCCX}",
    "consultType": "${consultType}",
    "consultTransferTypeCCE": "${consultTransferTypeCCE}",
    "consultTransferTypeCCX": "${consultTransferTypeCCX}",
    "conferenceType": "${conferenceType}",
    "silentMonitorType": "${silentMonitorType}",
	"bargeInType": "${bargeInType}",
    "ronaStateOnCisco":"${ronaStateOnCisco}",
    "isCiscoEnabled":${isCiscoEnabled},
    "isCxVoiceEnabled":${isCxVoiceEnabled},
    "CISCO_CC_MRD":"${CISCO_CC_MRD}",
    "CX_VOICE_MRD":"${CX_VOICE_MRD}",
    "SIP_SOCKET_URL": "${SIP_SOCKET_URL}",
    "SIP_URI": "${SIP_URI}",
    "EXT_STATIC": "${EXT_STATIC}",
    "ENABLE_SIP_LOGS": ${ENABLE_SIP_LOGS},
    "STATIC_QUEUE_TRANSFER_DN":"${STATIC_QUEUE_TRANSFER_DN}",
    "AUTO_CALL_ANSWER_TIMER":${AUTO_CALL_ANSWER_TIMER},
    "DASHBOARD_REFRESH_TIME" : ${DASHBOARD_REFRESH_TIME}
}
