@import "src/app/shared/globalVariables";
//.phonebook-main-area {
//  border: 5px solid #E2E2E2;
//  height: calc(100% - 42px);
//}
.phonebook-main {
  background: $bubble-background;
  margin-bottom: 15px !important;
  min-height: 50px;
  padding-right: 10px;
  position: relative;
  padding-left: 50px;
  .back-to-chat{
    background: lighten($blue-text-color, 40%);
    height: 50px;
    width: 50px !important;
    position: absolute;
    left: 0;
    border-radius: 0;
    min-width: inherit;
    padding: 0;
    text-align: center;
    &:after {
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      left: 22px;
      top: 16px;
      transform: rotate(45deg);
      border-left: 2px solid $blue-text-color;
      border-bottom: 2px solid $blue-text-color;
    }
  }
  .customer-heading{
    align-self: center;

    h4{
      font-size: 16px;
      color: #999;
      margin: 0;
      display: inline-block;
      line-height: 30px;
    }
  }
  .filter-selection{
    display: inline-block;
    margin-left: 10px;

    mat-chip {
      background: #fff !important;
      border: 1px solid #c7c7c7;
      color: #9f9f9f !important;
      min-height: 26px;
      font-size: 12px;
      padding: 5px 5px 5px 10px !important;
      span{
        color: #049be6 !important;
        margin-left: 3px;
      }
    }
  }
  .right-actions{
    align-self: center;

    button{
      font-size: 13px;
      background: $main-color;
      color: rgb(255, 255, 255);
      border: 0;
      height: 32px;
      line-height: 32px;
      margin-left: 5px;
      margin-right: 5px;
      &:hover{
        background: darken($main-color, 10%);
      }
      img{
        position: relative;
        top: -1px;
        margin-left: 4px;
      }
    }
  }
}







.action-trigger{
  display: none !important;
}
.hover{
  color: darken(#c5c5c5, 20%);
  transition: all .3s;
}
span.filter-icon {
  position: relative;
  top: -1px;
  color: #c5c5c5;
  cursor: pointer;
  transition: all .3s;
  &:hover{
    @extend .hover;
  }
}
span.sorting-icons {
  float: right;
  top: 7px;
  width: 22px;
  color: #c5c5c5;
  transition: all .3s;
  cursor: pointer;
  margin-right: 3px;
  &:hover{
    @extend .hover;
  }
  span {
    width: 7px;
  }
}
.drag-icon {
  float: left;
  text-shadow: -5px 0 0 #C5C5C5;
  color: #C5C5C5;
  font-size: 16px !important;
  text-align: center;
  width: 18px !important;
  line-height: 20px !important;
  cursor: pointer;
  transition: all .3s;
  height: 20px;
  margin-bottom: 8px;
  margin-left: 5px;
  &:hover{
    @extend .hover;
    text-shadow: -5px 0 0 darken(#c5c5c5, 20%);
  }
}


.customer-search{
  padding: 5px;
  position: relative;
  background: #F2F2F2;
  border-top: 1px solid #efefef;

  input{
    width: 100%;
    border: 1px solid #efefef;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    color: gray;
    padding: 0 19px 0 5px;
  }

  .close-filter {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 8px;
    top: 12px;
    cursor: pointer;

    mat-icon{
      font-size: 14px;
      color: #DBDBDB;
      transition: all .3s;
    }
    &:hover{
      mat-icon{
        color: #707070;
        transition: all .3s;
      }
    }
  }
}

.categorize-selection{
  min-width: 320px;
}
tr.slide-in-left:hover {
  background: #f9f9f9 !important;
}

.lbl-filter-search.custom-dropdown {
  display: inline-block;
  min-width: 206px;
  position: relative;
  height: 30px;
  border-radius: 5px;
  line-height: 30px;
  width: auto;
  vertical-align: middle;
  background: #fff;

  .dot-in-filter {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    bottom: -5px;
    margin-left: 4px;
  }

  .lbl-search-lbl {
    background: transparent;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    text-align: left;
    overflow: hidden;
    white-space: pre;
    position: absolute;
    font-weight: 500;
    padding: 0 10px;
    left: 0;
  }
}


.check-menu {
  width: 280px;

  .col-list {
    float: left;
    width: 48%;
    overflow: hidden;
    margin: 2px;
  }
}

span.field-channel {
  margin-left: 10px;
  img{
    margin: 0 2px 1px 0;
    max-height: 15px;
  }

}
.color {
  color: #179ead !important;
}

.k-i-sort-desc-sm:hover{
  color: coral;
}

.k-i-sort-asc-sm:hover{
  color: coral;
}


.lblswithname {

  .dot {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #fff;
  }
}

.lblswithname {
  top: 9px;
  position: absolute;
  left: 62%;
  direction: rtl;

  span:nth-child(odd) {
    position: relative;
    left: 5px;
    margin-left: -10px;
  }

  span:nth-child(even) {
    position: relative;
    margin-left: 0;
  }
}

.dot-in-tool {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.lbl-tooltip {
  position: fixed;
  z-index: 1;
  top: 3px;
  left: 162px;
  background: #ffffff;
  padding: 2px 3px 2px 3px;
  border: 1px solid #ccc;
  width: auto;
  border-radius: 2px;
  min-width: max-content;

  div {
    display: inline-block;
    padding: 0px 3px;
  }
}


.dot-in-filter {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin-right: 5px;
  bottom: -5px;
  margin-left: 4px;
}
.add-new{
  cursor: pointer;
  font-size: 13px;
  min-width: 25px;
  background-color: $main-color;
  color: #fff;
  text-align: center;

  &:hover{
    background: darken($main-color, 10%);
  }
}