<div class="header">
  <div class="headerName">Add label</div>
  <mat-icon (click)="onNoClick()" class="closeBtn">close</mat-icon>
</div>

<div class="label-create-area">

  <div class="form-group label-name">
    <label class="text-left">Label</label>
    <mat-form-field class="field" appearance="outline">
      <input matInput>
    </mat-form-field>
  </div>

  <span (click)="open = true" class="opener">
    <span [ngStyle]="{'background-color':currentColor}" class="dot">
    </span>
    <span>
      <mat-icon>arrow_drop_down</mat-icon>
    </span>
  </span>
  <span *ngIf="open" class="clr-pkr scale-up-center">
    <span (click)="currentColor = colorCode; open = false" [ngStyle]="{'background-color': colorCode}"
      *ngFor="let colorCode of labelColorCode" class="dots">
    </span>
  </span>


  <div class="btns">
    <button (click)="onNoClick()" class="cancel-btn">Cancel</button>
    <button (click)="makeObject()" class="save-btn">Create</button>
  </div>

</div>

