@import "src/app/shared/globalVariables";

.form-group {
  label {
    display: block;
    margin: 0;
    font-size: 12px;
  }
}

::ng-deep .mat-dialog-container {
  //box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  //display: block;
  //padding: 24px
  // border-radius: 8px;
  //box-sizing: border-box;
  overflow: visible;
  //outline: 0;
  //width: 100%;
  //height: 100%;
  //padding: 0px;
}

.header {
  color: $white-color;
  background: $main-color;
  padding: 0 10px;
  height: 40px;
  border-radius: 4px 4px 0 0;

 h3{
   font-size: 14px;
   margin: 0;
   line-height: 40px;
 }

  .closeBtn {
    float: right;
    cursor: pointer;
    right: 10px;
    font-size: 18px;
    padding: 1px 0px 0px 1px;
    top: -25px;
    color: #aeb7bb;
    border: 2px solid;
    border-radius: 15px;
    position: relative;
  }
}


.opener {
  cursor: pointer;
  border: 1px solid #e3e3e3;
  height: 34px;
  border-radius: 4px;
  width: 60px;
  text-align: center;
  padding: 3px 0;
  display: inline-block;
  position: relative;
  top: 7px;
  margin-left: 18px;

  .dot {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px;
  }

  mat-icon {
    top: 2px;
    left: 4px;
    color: #9f9e9f;
    position: relative;
  }
}

.clr-pkr {
  width: 60px;
  height: 168px;
  position: absolute;
  border-radius: 4px;
  z-index: 2;
  background: white;
  padding: 6px 0 0 4px;
  box-shadow: 1px 1px 10px 0 grey;
  right: 13px;
}

.label-create-area {
  padding: 15px 15px 0 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  .label-name {
    width: 100%;

    mat-form-field{
      width: calc(100% - 80px) !important;
    }
  }

  .lbl {
    text-align: left;
    color: #616161;
    font-size: 14px;
    margin-left: 2px;
  }


}


.btns {
  text-align: right;
  width: 100%;
  padding: 0 0 15px 0;

  button {
    height: 32px;
    width: auto;
    min-width: 70px;
    padding: 0 10px;
    outline: none;
    background: #919191;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    font-weight: 500;

    &.save-btn {
      background: $blue-text-color;
      margin-left: 8px;
    }
  }
}

.dots {
  height: 21px;
  width: 21px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;
  margin-right: 5px;
  cursor: pointer;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.label-expire{
  align-self: flex-end;
}
