.main-top-bar-area{
  height: 45px;
}

.child-notification{
  display: list-item;
    margin-bottom: 20px;
}

.parent-notification{
  position: absolute;
  top: 100px;
}

.main-app-area {
  border: 5px solid #E2E2E2;
  min-height: calc(100% - 42px);
}
