@import "src/app/shared/globalVariables";


.wrap-main-dialog{
  background: $white-color;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.action-trigger {
  padding: 15px 10px;
  button{
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    min-width: 90px;
    background: #919191;
    color: $white-color;

    &.success-btn{
      background: $blue-text-color;
      margin-left: 12px;
    }
  }

}


.dialog-main-content {
  margin-top: 18px;
  label {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}

.categories-label {
  height: 100%;
  max-height: 200px;
  overflow: auto;
  border: 1px solid #D4D4D4;
  border-radius: 0 0 3px 3px;
  min-height: 200px;


  .categories-search{
    position: relative;
    input{
      //background: #f3f6f9;
      height: 25px;
      line-height: 25px;
      border-radius: 5px;
      width: 100%;
      //padding: 0 15px 0 5px;
      font-size: 12px;
      color: #555;
      outline: none !important;
      //border: 1px solid transparent;
      // &:focus{
        //border-color: #ccc !important;
      // }
    }


  }

  ul {
    padding: 0;
    list-style: none;

    li {
      font-size: 12px;
      margin: 5px 0;
      color: $dark-gray-color;
      padding: 0 5px;
      cursor: pointer;
      text-transform: capitalize;
      &:hover{
        background: #f1f1f1;
      }
    }
  }
}

.selected-area {
  border-bottom: 1px solid #D4D4D4;
  padding: 0 5px;
  min-height: 55px;
  border-radius: 3px 3px 0 0;
  max-height: 75px;
  overflow: auto;

  mat-chip {
    min-height: 20px;
    line-height: 20px;
    font-size: 12px;
    position: relative;
    padding-right: 24px;
    padding-left: 6px;
    font-weight: 400;
    background: $main-color;
    color: lighten($blue-text-color, 100%);
    margin: 3px;

    mat-icon {
      font-size: 13px;
      position: absolute;
      height: 15px;
      line-height: 15px;
      right: 4px;
      width: 15px;
      border-radius: 100%;
      text-align: center;
      color: $white-color;
      cursor: pointer;
      opacity: 0.6;

      &:hover{
        opacity: .8;
      }
    }
  }
}
.selected-wrap-code {
  span {
    font-size: 13px;
    color: #333;
  }
}
.wrap-code-area{
  .categories-label-area mat-chip {
    background: #F3F6F8;
    color: #4E4E4E ;
    font-size: 12px;
    height: 20px;
    line-height: 20px !important;
    padding: 0 5px !important;
    min-height: 20px;
    font-weight: 400;
    cursor: pointer;
  }
}
.note-area {
  margin-top: 8px;
  textarea {
    width: 100%;
    border: 1px solid #807f7f42;
    resize: none;
    min-height: 65px;
    border-radius: 3px;
  }
}

.wrap-options {
  height: 30px !important;
  line-height: 30px !important;
  font-size: 13px !important;
}

.btn-disable-background{
  background: rgba(0, 0, 0, 0.26) !important;
}

.right-align-view{
  .wrap-dialog-header{
    direction: rtl;
    text-align: right;

    .selected-wrap-code{
      text-align: right !important;
      &.text-right{
        text-align: left !important;
      }
    }
  }

  .wrap-code-selected, .note-area{
    text-align: right;
    direction: rtl;
  }


}
.dialog-header {
  h4{
    display: flex;
    justify-content: space-between;
  }
  .wrap-timer {
    position: relative;
    width: 45px;
    height: 37px;
    line-height: 30px;
    min-width: inherit;
    text-align: center;

    span.wrap-time-count {
      line-height: 25px;
      font-size: 10px;
      font-weight: 500;
      width: 24px;
      height: 24px;
      background: #fff;
      display: inline-block;
      color: #333;
      border-radius: 100%;
      position: relative;
      right: 0;
      top: 4px;
    }
  }
  circle-progress{
    position: absolute;
    right: 0;
    top: -3px;
  }
}
