<!--<div class="call-control-box call-controls-view box-view {{fullView ? 'expand-view-controls'  : ''}}" cdkDrag cdkDragRootElement=".cdk-overlay-pane">-->
<!--<div class="call-control-box call-controls-view box-view" cdkDrag cdkDragRootElement=".cdk-overlay-pane">-->
<!--  <mat-icon class="drag-controls" cdkDragHandle>more_vert</mat-icon>-->

<!--  <div class="right-call-controls">-->
<!--    &lt;!&ndash;    <mat-icon class="control-adjust" *ngIf="fullView"  (click)="cancel()">picture_in_picture</mat-icon>&ndash;&gt;-->
<!--    <div class="main-showcase customer-info-dp">-->
<!--      <div class="agent-showcase">-->
<!--        <img src="assets/images/dummy-user.svg" alt="Customer">-->
<!--        <mat-icon routerLink="/customers/chats">flip_to_back</mat-icon>-->
<!--      </div>-->
<!--      &lt;!&ndash; <h4 matTooltip="{{customerNumber}}">{{customerNumber}}<span class="timer-call"><ng-container-->
<!--            *ngIf="hours && hours > 0">{{ hours | number: '2.0' }}:</ng-container>{{ minutes | number: '2.0' }}:{{-->
<!--          seconds |-->
<!--          number: '2.0' }}</span>-->
<!--      </h4> &ndash;&gt;-->
<!--      <h4 matTooltip="{{customerNumber}}">{{customerNumber}}<span class="timer-call">{{timer}}</span>-->
<!--      </h4>-->
<!--    </div>-->

<!--    <ul class="assistance-actions">-->
<!--      &lt;!&ndash;      <li><button mat-fab><img src="assets/images/chat1.svg"></button></li>&ndash;&gt;-->
<!--      &lt;!&ndash;      <li><button mat-fab (click)="fullView = !fullView"><mat-icon>{{fullView ? 'fullscreen_exit'  : 'fullscreen'}}</mat-icon></button></li>&ndash;&gt;-->

<!--      &lt;!&ndash; <li><button mat-fab><img src="assets/images/consult-colored.svg"></button></li>-->
<!--      <li><button mat-fab><img src="assets/images/transfer-colored.svg"></button></li>-->
<!--      <li><button mat-fab><img src="assets/images/conference-colored.svg"></button></li> &ndash;&gt;-->
<!--    </ul>-->

<!--    <ul class="call-actions">-->
<!--      <li><button mat-fab (click)="cancel()"><mat-icon>picture_in_picture</mat-icon></button></li>-->
<!--      <li><button matTooltip="{{_sipService.isMuted == false ? ('globals.mute' | translate) : ('globals.unMute' | translate)}}" (click)="muteUnmuteCall()" mat-fab><mat-icon>-->
<!--            <ng-container *ngIf="_sipService.isMuted == false">mic</ng-container>-->
<!--            <ng-container *ngIf="_sipService.isMuted == true">mic_off</ng-container>-->
<!--          </mat-icon></button></li>-->
<!--      <li matTooltip="{{('globals.hold' | translate)}}" *ngIf="_sipService.isCallHold == false"><button (click)="holdCallOnSip()"-->
<!--          mat-fab><mat-icon>pause</mat-icon></button></li>-->
<!--      <li matTooltip="{{('globals.resume' | translate)}}" *ngIf="_sipService.isCallHold == true"><button (click)="resumeCallOnSip()"-->
<!--          mat-fab><mat-icon>pause_circle_filled</mat-icon></button></li>-->
<!--      <li><button (click)="endCallOnSip()" class="end-call" mat-fab><mat-icon>call_end</mat-icon></button></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<div class="call-control-box call-controls-view box-view expand-view-controls" cdkDrag cdkDragRootElement=".cdk-overlay-pane">

<div class="call-controls-view call-controls-area {{!_sharedService.isCompactView ? 'expand-view-controls call-control-box box-view'  : 'call-control-bar'}}" cdkDrag cdkDragRootElement=".cdk-overlay-pane">

  <mat-icon class="drag-controls" cdkDragHandle>more_vert</mat-icon>

  <div class="right-call-controls">
    <!--    <mat-icon class="control-adjust" (click)="fullView = !fullView">{{fullView ? 'fullscreen_exit'  : 'fullscreen'}}</mat-icon>-->
    <div class="mini-audio-call">
      <div class="main-showcase customer-info-dp">
        <h3 *ngIf="isCalling">{{ "call-controls.initiating-audio-call" | translate }}</h3>
        <div class="agent-showcase {{ isCalling ? 'calling' : '' }}">
          <!--          <img src="assets/images/user11.png" alt="customer">-->
          <img src="assets/images/dummy-user.svg" alt="Customer" />
          <mat-icon routerLink="/customers/chats">flip_to_back</mat-icon>
        </div>

        <h4>
          {{ customer?.firstName }}
          <span class="timer-call" class="timer-call"> {{ customerNumber}}</span>
          <span *ngIf="!isCalling" class="timer-call">{{ timer }}</span>
        </h4>
      </div>

      <ul *ngIf="!isCalling" class="assistance-actions call-actions">
        <!--        <li><button mat-fab (click)="cancel()"><mat-icon>picture_in_picture</mat-icon></button></li>-->

        <li>
          <button
            matTooltip="{{ _sipService.isMuted == false ? ('globals.mute' | translate) : ('globals.unMute' | translate) }}"
            (click)="muteUnmuteCall()"
            mat-fab
          >
            <mat-icon>
              <!--          <ng-container *ngIf="_sipService.isMuted == false">mic</ng-container>-->
              <!--          <ng-container *ngIf="_sipService.isMuted == true">mic_off</ng-container>-->
              {{ _sipService.isMuted ? "mic_off" : "mic" }}
            </mat-icon>
          </button>
        </li>
        <li matTooltip="{{ 'globals.hold' | translate }}" *ngIf="_sipService.isCallHold == false">
          <button (click)="holdCallOnSip()" mat-fab><mat-icon>pause</mat-icon></button>
        </li>
        <li matTooltip="{{ 'globals.resume' | translate }}" *ngIf="_sipService.isCallHold == true">
          <button (click)="resumeCallOnSip()" mat-fab><mat-icon>pause_circle_filled</mat-icon></button>
        </li>
        <li>
          <button (click)="endCallOnSip()" class="end-call" mat-fab><mat-icon>call_end</mat-icon></button>
        </li>
      </ul>

      <button (click)="endCallOnSip()" *ngIf="isCalling" class="initial-trigger" mat-button><mat-icon>call_end</mat-icon></button>
    </div>


    <!-- <ul class="assistance-actions"> -->

<!--    <ul class="assistance-actions">-->


<!--    <ul class="assistance-actions">-->

      <!--      <li><button mat-fab><img src="assets/images/chat1.svg"></button></li>-->
      <!--      <li><button mat-fab (click)="fullView = !fullView"><mat-icon>{{fullView ? 'fullscreen_exit'  : 'fullscreen'}}</mat-icon></button></li>-->

      <!-- <li><button mat-fab><img src="assets/images/consult-colored.svg"></button></li>
      <li><button mat-fab><img src="assets/images/transfer-colored.svg"></button></li>
      <li><button mat-fab><img src="assets/images/conference-colored.svg"></button></li> -->

    <!-- </ul> -->

    <!-- <ul class="call-actions">
      <li><button mat-fab (click)="cancel()"><mat-icon>picture_in_picture</mat-icon></button></li>
<!-   </ul>-->

    <!-- <ul class="call-actions">

      <li><button matTooltip="{{_sipService.isMuted == false ? ('globals.mute' | translate) : ('globals.unMute' | translate)}}" (click)="muteUnmuteCall()" mat-fab><mat-icon>
            <ng-container *ngIf="_sipService.isMuted == false">mic</ng-container>
            <ng-container *ngIf="_sipService.isMuted == true">mic_off</ng-container>
          </mat-icon></button></li>

      <li matTooltip="{{('globals.hold' | translate)}}" *ngIf="_sipService.isCallHold == false"><button (click)="holdCallOnSip()"
          mat-fab><mat-icon>pause</mat-icon></button></li>

      <li class="resume-icon" matTooltip="{{('globals.resume' | translate)}}" *ngIf="_sipService.isCallHold == true"><button (click)="resumeCallOnSip()"
          mat-fab><mat-icon>pause_circle_filled</mat-icon></button></li>

      <li matTooltip="{{('globals.resume' | translate)}}" *ngIf="_sipService.isCallHold == true"><button (click)="resumeCallOnSip()"
          mat-fab><mat-icon>phone_paused</mat-icon></button></li>

      <li matTooltip="{{('globals.resume' | translate)}}" *ngIf="_sipService.isCallHold == true"><button (click)="resumeCallOnSip()"
          mat-fab><mat-icon>phone_paused</mat-icon></button></li>
      <li><button (click)="endCallOnSip()" class="end-call" mat-fab><mat-icon>call_end</mat-icon></button></li>
    </ul> -->
  </div>
</div>
