.call-actions{
  //width: 100%;
  vg-mute, vg-play-pause{
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
  }
}
.drag-controls{
  z-index: 6;
}

.customer-info-dp {
  .agent-showcase {
    mat-icon {
      width: 64px;
      height: 66px;
      font-size: 28px;
      line-height: 62px;
    }
    &.calling{
      margin: 12px auto;
    }
  }
  h3{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
  }
}
vg-player{
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
}
vg-controls{
  bottom: 15px;
  margin: 0 auto;
  background: transparent;
  justify-content: center;
}

.camera-mode{
  position: absolute;
  font-size: 7em;
  color: rgba(145, 143, 143, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  height: inherit;
  z-index: 2;
}

.sub-call-participants{
  height: 100%;
  position: absolute;
  right: 10px;
  z-index: 2;
  top: 0;

  span {
    display: block;
    width: 100px;
    background: #1c1515;
    height: 70px;
    position: relative;
    text-align: center;
    margin: 5px 5px;
    border-radius: 5px;

    mat-icon {
      line-height: 75px;
      font-size: 3em;
    }
    strong {
      background: #000000b0;
      color: #f1f1f1;
      width: 50px;
      height: 50px;
      display: block;
      line-height: 50px;
      border-radius: 100%;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      top: 10px;
    }
  }
}
.active-action{
  button{
    background: #E03636 !important;
  }
}
.mini-audio-call{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.assistance-actions{
  display: flex;
  padding: 0;
  margin: 3px auto 0;
  position: relative;
  background: #00000080;
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
  min-width: 300px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  li{
    margin: 0 5px !important;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;

    button {
      width: 32px;
      height: 32px;
      text-align: center;
      padding: 0;
      background: #000;
      box-shadow: none!important;
      mat-icon {
        color: #fff;
        line-height: 29px;
        font-size: 21px;
      }

      &.end-call {
        background: #E03636  !important;
      }
    }
  }
}
.initial-trigger{
  width: 114px;
  margin: 0 auto;
  height: 45px;
  background: #E03636;
  border-radius: 25px;
  border: 5px solid #0000004a;
  line-height: 22px;

  mat-icon{
    color: #ffffffde;
    font-size: 28px;
    line-height: 24px;
    width: 33px;
  }
  &:hover{
    background: darken(#E03636, 5%);
    mat-icon{
      color: #fff;
    }
  }
}
.resume-icon{
    mat-icon{
        line-height: 26px !important;
    }
}

//Dialpad
.dialpad-area{
  align-self: center;
  width: 300px;
  position: relative;

  .remove-chr{
    position: absolute;
    right: 0;
    background: transparent;
    box-shadow: none;
    color: #4e4e4e;
  }

  input{
    width: 100%;
    margin-bottom: 5px;
    background: #222;
    border: 0;
    border-radius: 5px;
    color: #f1f1f1;
    height: 38px;
    padding: 0 3em 0 5px;
  }
}
.keyboard-row {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  //max-width: 300px;
  justify-content: space-between;
  .key-pair {
    text-align: center;
    padding: 0;
    cursor: pointer;
    flex: 0 0 30.333333%;
    background: #222;
    height: 38px;
    color: #f1f1f1;
    margin-bottom: 3px;
    border-radius: 5px;

    button {
      display: flex;
      flex-flow: column;
      font-size: 16px;
      width: 100%;
      height: 38px;
      justify-content: space-around;
      color: #DEDEDE;
    }
  }

  small {
    font-size: 8px;
    display: block;
  }

}
.dialpad-show{
  .dialpad-action{
    background: #fff !important;
    mat-icon{
      color: #000 !important;
    }
  }
}
