.call-actions{
  //width: 100%;
  vg-mute, vg-play-pause{
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
  }
}
.drag-controls{
  z-index: 6;
}
vg-player{
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
}
vg-controls{
  bottom: 15px;
  margin: 0 auto;
  background: transparent;
  justify-content: center;
}

.camera-mode{
  position: absolute;
  font-size: 7em;
  color: rgba(145, 143, 143, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  height: inherit;
  z-index: 2;
}

.sub-call-participants{
  height: 100%;
  position: absolute;
  right: 10px;
  z-index: 2;
  top: 0;

  span {
    display: block;
    width: 100px;
    background: #1c1515;
    height: 70px;
    position: relative;
    text-align: center;
    margin: 5px 5px;
    border-radius: 5px;

    mat-icon {
      line-height: 75px;
      font-size: 3em;
    }
    strong {
      background: #000000b0;
      color: #f1f1f1;
      width: 50px;
      height: 50px;
      display: block;
      line-height: 50px;
      border-radius: 100%;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      top: 10px;
    }
  }
}
.active-action{
  button{
    background: #E03636 !important;
  }
}
.mini-audio-call{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.assistance-actions{

}
