<div class="dialog-header">
  <h4>Edit Attribute</h4>
  <button (click)="onNoClick()" mat-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="create-attr">
  <form [formGroup]="editAttributeForm">
    <div class="create-attr-dialog-body label-create-area">

      <div class="left-area row m-0">
        <div class="form-group label-name col-md-6">
          <label class="text-left">Label <span class="mandatory-steric">*</span></label>
          <mat-form-field appearance="outline">
            <input formControlName="label" matInput>
            <mat-error *ngIf="editAttributeForm.get('label')?.errors?.required">
              *Field is required
            </mat-error>
            <mat-error
              *ngIf="editAttributeForm.get('label')?.errors?.minlength || editAttributeForm.get('label')?.errors?.maxlength">
              *Length should be between 1 - 50 characters
            </mat-error>
            <mat-error *ngIf="editAttributeForm.get('label')?.errors?.validName">
              *Label already exists
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group label-name col-md-6">
          <label class="text-left">Description</label>
          <mat-form-field appearance="outline">
            <input formControlName="description" matInput>
            <mat-error *ngIf="editAttributeForm.get('description')?.errors?.maxlength">
              *Length should be between 1 - 100 characters
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="left-area row m-0">

        <div class="form-group label-name col-md-4 pr-2">
          <label class="text-left">Field Type</label>
          <div class="select-list">
            <mat-form-field appearance="outline">
              <mat-select [disabled]="true" formControlName="type" (selectionChange)="onTypeChange($event)">
                <mat-option *ngFor="let attributeType of attributeTypes" [value]="attributeType.type">
                  {{attributeType.type}}</mat-option>
              </mat-select>
              <mat-error *ngIf="editAttributeForm.get('type')?.errors?.required">
                *Field is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="editAttributeForm.value.type == 'String'" class="form-group label-name col-md-2 characters-length">
          <label class="text-left">Number of Characters</label>
          <mat-form-field appearance="outline">
            <input (keyup)="onLengthChange()" type="number" matInput formControlName="length">
            <mat-error *ngIf="editAttributeForm.get('length')?.errors?.required">
              *Field is required
            </mat-error>
            <mat-error
              *ngIf="editAttributeForm.get('length')?.errors?.min || editAttributeForm.get('length')?.errors?.max">
              *Length should be between 1 - 1000
            </mat-error>
            <mat-error *ngIf="editAttributeForm.get('length')?.errors?.pattern">
              *Must Enter a Numeric Value
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="left-area row m-0">
        <div class="check-box form-group col-md-3 mandatory-attribute">
          <mat-checkbox
            [disabled]="editAttributeForm.value.key == 'firstName' || editAttributeForm.value.key == 'isAnonymous'"
            formControlName="isRequired" (change)="onRequiredValueChange($event)" color="primary">Mandatory
            Attribute</mat-checkbox>
        </div>
        <div class="form-group label-name  default-value" *ngIf="editAttributeForm.value.isRequired">
          <label class="text-left">Default Value <span class="mandatory-steric">*</span></label>
          <mat-form-field appearance="outline">
            <input formControlName="defaultValue" matInput>
            <mat-error *ngIf="editAttributeForm.get('defaultValue')?.errors?.required">
              *Field is mandatory
            </mat-error>
            <mat-error
              *ngIf="editAttributeForm.get('defaultValue')?.errors?.minLength || editAttributeForm.get('defaultValue')?.errors?.maxLength">
              *Length should be according to the given length
            </mat-error>
            <mat-error *ngIf="editAttributeForm.get('defaultValue')?.errors?.pattern">
              *Value does not match the selected type format
            </mat-error>
            <mat-error *ngIf="editAttributeForm.get('defaultValue')?.errors?.validName">
              *That name Already Exists
            </mat-error>
          </mat-form-field>
          <small>(Please specify a default value) </small>
        </div>
        <!--        <div class="schema-check-box form-group">-->
        <!--          <mat-checkbox  color="primary">Personal Identifiable Information</mat-checkbox>-->
        <!--        </div>-->


      </div>
      <div class="left-area row m-0">
        <div class="check-box form-group pii-info">
          <mat-checkbox formControlName="isPii" color="primary">PII</mat-checkbox> <a href="">(More information about
            PII)</a>
        </div>
      </div>

    </div>

    <hr>

    <div class="footer">

      <div class="footer-actions row m-0">
        <div class="check-box channel-identifier form-group">
          <label>Channel Identifier</label>
          <mat-checkbox [disabled]="true" (change)="onChannelIdentifierChange($event)"
            formControlName="isChannelIdentifier" color="primary">Yes</mat-checkbox>
        </div>

        <div *ngIf="editAttributeForm.value.isChannelIdentifier" class="form-group label-name select-channel pr-2">
          <label class="text-left">Select Channel</label>
          <div class="select-list">
            <mat-form-field appearance="outline">
              <mat-select [disabled]="true" formControlName="channelTypes" multiple class="selected-channels">
                <mat-option class="channel-options" *ngFor="let channel of channelTypeList" [value]="channel.name"><img
                    [src]="channel?.channelLogo | channelLogo | async"> {{channel.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="editAttributeForm.get('channelTypes')?.errors?.required">
                *Field is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>


        <div class="action-right">

          <button (click)="onNoClick()" class="cancel-btn">Cancel</button>
          <button *ngIf="editAttributeForm.valid" (click)="onSave()" class="save-btn">Add
            Attribute</button>
        </div>
      </div>

    </div>

  </form>
</div>
