/* You can add global styles to this file, and also import other style files */
@import "src/app/globalVariables";
@import '~material-design-icons/iconfont/material-icons.css';

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-light'),
  url('/assets/fonts/roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Regular'), local('Roboto-Regular'),
  url('/assets/fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('/assets/fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('/assets/fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
html,body{
  height: 100%;
  font-family: "Roboto", Arial, sans-serif !important;
  background: transparent !important;
  font-weight: normal;
}
$white-color: #fff;

button{
  outline: none !important;
}

//Loading Area
.loading-area {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

//main-tab-area

mat-tab-group.chat-tab-area {
  flex-direction: row;
  //border: 5px solid #E2E2E2;

  .mat-tab-header-pagination {
    display: none !important;
  }

  .mat-tab-body-wrapper {
    width: calc(100% - 60px);
    border-left: 5px solid #E2E2E2;
  }

  .mat-tab-header {
    width: 60px;
    background: $white-color;
    .mat-ink-bar{
      display: none !important;
    }
    .mat-tab-labels {
      display: block;

      .mat-tab-label {
        padding: 0;
        width: 50px;
        display: block !important;
        min-width: inherit;
        margin: 5px auto;
        background: transparent;
        box-shadow: inset 1.5px 0 0 #F3F6F8, inset 0 1.5px 0 #F3F6F8, inset 0 -1.5px 0 #F3F6F8, inset -1.5px 0 0 #F3F6F8;
        height: 50px;
        text-align: center;
        opacity: 1;
        border-radius: 5px;

        &.mat-tab-label-active{
          background: #C4E9F6 !important;
          box-shadow: inset 1.5px 0 0 #3FABF3, inset 0 1.5px 0 #3FABF3, inset 0 -1.5px 0 #3FABF3, inset -1.5px 0 0 #3FABF3;

          svg circle:nth-child(3) {
            fill: white;
          }
        }

        .get-events{
          width: 100%;
          display: inline-block;
          position: absolute;
          left: 0;
          top: 0;

          svg {
            height: 50px !important;
            width: 50px !important;
          }
        }
      }
    }
  }

}



// Right Tabs
.mat-drawer-container.mat-sidenav-container.mat-drawer-container-has-open {
  width: 280px;
  display: inherit;
  transition: all .3s;
  transform: none !important;
  min-width: 280px;
  border-left: 5px solid #e2e2e2;
}
.mat-drawer-container.mat-sidenav-container {
  width: 0;
  transition: all .3s;
  min-width: 0;
  margin-right: 56px;
  height: 100%;
}
.mat-drawer-inner-container{
  overflow: auto !important;
}

mat-sidenav.mat-drawer.mat-sidenav {
  width: 100%;
  transform: none !important;
  transition: all .3s;
  visibility: visible !important;
}

//Logout menu Style
.mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.logged-out-trigger{
  margin: 0;
}
.mat-menu-panel{
  min-height: 30px !important;
}

//right-bar
.right-drag-content {
  .mat-expansion-panel-body {
    padding: 0;
    border-top-width: 0 !important;
    border: 1px solid $header-gray-color;
  }
}

//Channels Icon
.channel-icon{
  &.web, &.web-channel{
   background: $web-color !important;

  }
  &.facebook, &.facebook-channel{
    background: $facebook-color !important;
  }
  &.sms{
    background: $sms-color !important;
  }
  &.whatsapp, &.whatsapp-channel{
    background: $whatsapp-color !important;
  }
  &.viber{
    background: $viber-color !important;
  }
}

.panel-divider {
  mat-expansion-panel {
    box-shadow: none !important;
    border: 1px solid #F1F1F1;
  }
}
