<div class="main">
    <div class="file-name">{{data.fileName}}<span class="close-btn">
            <mat-icon (click)="close()">close</mat-icon>
        </span></div>

    <div class="view">
        <div style="height: 90vh; min-width: 90vw; text-align: center" *ngIf="data.type == 'file'">
            <ngx-doc-viewer [url]="data.url" viewer="google" style="width:100%;height:100%;"></ngx-doc-viewer>
        </div>
        <div style="min-height: 50vh; min-width: 50vw; text-align: center" *ngIf="data.type == 'image'">
            <img [src]="data.url">
        </div>
    </div>
</div>
