<div *ngIf="activeChat" class="ef_container container-fluid p-0">
  <div id="content" class="h-100">
    <div class="no-chat-active" *ngIf="conversations.length === 0">
      <h3>No Chat Active</h3>
    </div>
    <div id="main-content" class="h-100">
      <!--      <button color="primary" class="left-bar-trigger" (click)="barExpand = !barExpand" ><mat-icon>{{barExpand ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon></button>-->
      <mat-tab-group class="chat-tab-area h-100">

        <mat-tab class="main-chat-tab h-100" *ngFor="let conversation of conversations;">

          <div class="chat-contacts left-bar-contacts">
            <ng-template mat-tab-label>
              <span class="get-events">
                <div class="user-badge">
                  <circle-progress class="laft-bar-data" [percent]="100" [radius]="15" [outerStrokeWidth]="2"
                    [innerStrokeWidth]="2" [outerStrokeColor]="'#3f51b5'" [innerStrokeColor]="'#F3F6F8'" [space]=-1
                    [animation]="conversation.animation" [animationDuration]="600"
                    [title]="conversation.conversation[0].title | slice :0 :2 |uppercase" [titleFontSize]="10"
                    [showSubtitle]="false" [showUnits]="false" [renderOnClick]="false">
                  </circle-progress>

                </div>
                <span class="user-name">{{conversation.conversation.title}}</span>
              </span>
            </ng-template>
          </div>
          <div class="chat-contents">
            <div class="main-tab-content">
              <app-interactions [convers]="conversation.conversation"></app-interactions>
            </div>
          </div>
          <!-- row end -->

        </mat-tab>
      </mat-tab-group>
    </div>
    <app-customer-info></app-customer-info>
  </div>
</div>

<div *ngIf="!activeChat" class="no-chat">
  NO CHAT AVAILABLE
</div>