<div *ngIf="(_socketService.conversationsListener | async)?.length > 0" class="ef_container container-fluid p-0">
  <div id="content" class="h-100">

    <div id="main-content" class="h-100">
      <!--      <button color="primary" class="left-bar-trigger" (click)="barExpand = !barExpand" ><mat-icon>{{barExpand ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon></button>-->
      <mat-tab-group [(selectedIndex)]="_sharedService.matCurrentTabIndex" (selectedTabChange)="tabChanged($event)" [ngClass]="{'bar-expand' : barExpand}"
        class="chat-tab-area h-100">

        <mat-tab class="main-chat-tab h-100"
          *ngFor="let conversation of (_socketService.conversationsListener | async)">
          <div class="main-chat-bar-area">
            <div class="chat-contacts left-bar-contacts">
              <ng-template mat-tab-label>
                <span class="get-events">
                  <div class="user-badge">
                    <circle-progress class="laft-bar-data" [percent]="100" [radius]="15" [outerStrokeWidth]="2"
                      [innerStrokeWidth]="2"
                      [outerStrokeColor]="conversation.activeChannelSessions.length > 0 ? '#3f51b5' : 'grey'"
                      [innerStrokeColor]="conversation.state == 'ACTIVE' ? '#F3F6F8' : 'grey'" [space]=-1
                      [animation]="conversation.animation" [animationDuration]="600"
                      [title]="conversation.customer.firstName | getFirstTwoLetters" [titleFontSize]="10"
                      [showSubtitle]="false" [showUnits]="false" [renderOnClick]="false">
                    </circle-progress>
                    <span class="badge1" [hidden]="conversation.unReadCount == 0">{{conversation.unReadCount}}</span>
                  </div>
                  <span class="user-name">{{conversation.customer.firstName}}</span>
                </span>
              </ng-template>
            </div>
            <div class="chat-contents">
              <div class="main-tab-content">
                <app-interactions [currentTabIndex]="currentTabIndex"
                  [changeDetecter]="conversation.messages[conversation.messages.length - 1]"
                  [conversation]="conversation"></app-interactions>
              </div>
            </div>

          </div>
        </mat-tab>

      </mat-tab-group>
      <!-- <button class="add-customer" mat-fab routerLink="/customers/phonebook">
        <mat-icon>add</mat-icon>
      </button> -->
      <button color="primary" class="left-bar-trigger {{barExpand ? 'arrow_left' : 'arrow_right'}}"
        (click)="barExpand = !barExpand"></button>
    </div>
  </div>
</div>

<div *ngIf="(_socketService.conversationsListener | async)?.length == 0" class="no-chat">
  NO CHAT AVAILABLE
</div>
