<div class="container-fluid main-chat-bar">
  <div class="row">
    <div class="col-md-4 customer-showcase">
      <h3 matTooltipPosition="right" class="customer-highlight">
        {{conversation.messages[0].header.sender.participant.displayName | slice :0 :2 |uppercase}}

        <span class="channel-icon {{customer.info.channel}}">
          <img *ngIf="channelUrl" src="{{channelUrl}}">
        </span>
      </h3>
      <h5 class="customer-name" [matTooltip]="conversation.messages[0].header.sender.participant.displayName">
        {{conversation.messages[0].header.sender.participant.displayName | slice :0 :50}}
        <span class="chat-timer">( 11:32 )</span>

      </h5>
    </div>
    <div class="col-md-8 agent-actions">
      <ul class="list-group list-group-horizontal agent-controls">
        <li class="list-group-item">
          <button mat-icon-button>
            <mat-icon>group</mat-icon>
          </button>
        </li>
        <li class="list-group-item">
          <button mat-icon-button>
            <mat-icon>history</mat-icon>
          </button>
        </li>
        <li class="list-group-item">
          <button mat-icon-button>
            <mat-icon>chat_bubble</mat-icon>
            <i class="material-icons arrow-red arrow-gray">arrow_forward</i>
          </button>
        </li>
        <li class="list-group-item">
          <button mat-icon-button>
            <mat-icon>person_add</mat-icon>
          </button>
        </li>
        <li class="list-group-item">
          <button mat-icon-button>
            <mat-icon>pan_tool</mat-icon>
          </button>
        </li>
        <li class="list-group-item">
          <button mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
        </li>
      </ul>

    </div>

  </div>

</div>
<!--/Top bar-->


<!--Interactions Area Start -->
<div id="chat-content" class="container-fluid main-chat-area">
  <div class="row">
    <div class="chat-messages-main">


      <!-- voice message chat area -->
      <!-- <div class="instruction-main">
      <div class="instruction-inner">
      
        <mat-accordion>

          <div class="instruction-content">
            <div class="int-date">
              <span>Fri<b>07</b></span>
            </div>
            <div class="panel-divider">
              <div class="line-info">
              </div>
              <mat-expansion-panel>
                <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                  <mat-panel-title>
                    <div class="panel-header">
                      <ul>
                        <li>
                          <time>11:45 AM</time>
                        </li>
                        <li class="agent-pic">
                          <span><img src="/assets/images/ag1.png"> </span>
                          <span><img src="/assets/images/cs1.png"> </span>
                          <span><img src="/assets/images/bot1.png"> </span>
                        </li>
                        <li class="social-logo">
                          <span><img src="/assets/images/web.svg"> </span>
                          <span><img src="/assets/images/facebook.svg"> </span>
                        </li>
                        <li class="section-duration">
                          <time>02min 20sec</time>
                        </li>
                        <li class="section-tags">
                          <span>Tag A</span>
                          <span>Tag B</span>
                        </li>
                      </ul>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>


                some detail text

              </mat-expansion-panel>
            </div>

            <div class="panel-divider">
              <div class="line-info">
              </div>
              <mat-expansion-panel>

                <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                  <mat-panel-title>
                    <div class="panel-header">
                      <ul>
                        <li>
                          <time>11:45 AM</time>
                        </li>
                        <li class="agent-pic">
                          <span><img src="/assets/images/ag1.png"> </span>
                        </li>
                        <li class="agent-pic call-notify">
                          <span><img src="/assets/images/incoming-call.svg"> </span>
                        </li>
                        <li class="agent-pic">
                          <span><img src="/assets/images/cs1.png"> </span>
                        </li>
                        <li class="section-duration">
                          <time>02min 20sec</time>
                        </li>
                        <li class="section-tags">
                          <span>Tag A</span>
                          <span>Tag B</span>
                        </li>
                      </ul>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="panel-header call-history-panel inner-detail">
                  <div class="history-time">
                    <time>11:45 AM</time>
                  </div>
                  <div class="history-detail inner-detail-history">
                    <mat-expansion-panel>

                      <mat-expansion-panel-header [collapsedHeight]="'40px'"
                                                  [expandedHeight]="'40px'">
                        <mat-panel-title>
                          <div class="panel-header">
                            <ul>
                              <li><span class="phone-number">12345678</span></li>
                              <li class="agent-pic call-notify">
                                <span><img src="/assets/images/incoming-call.svg"> </span>
                              </li>
                              <li class="agent-pic call-services">
                                <p><span><img src="/assets/images/cs1.png"></span> Customer
                                  Services</p>
                              </li>
                              <li class="section-duration">
                                <time>02min 20sec</time>
                              </li>
                              <li class="agent-pic call-notify">
                                <span><img src="/assets/images/call-transfer.svg"> </span>
                              </li>
                              <li class="section-tags">
                                <span>Tag A</span>
                                <span>Tag B</span>
                              </li>
                              <li class="agent-pic">
                                <span><img src="/assets/images/call-record.svg"> </span>
                              </li>
                            </ul>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div class="summary-detail">
                        <ul>
                          <li><label>Agent ID </label>:<span>Name</span></li>
                          <li><label>CSQ </label>:<span>CSQ</span></li>
                          <li><label>Call Duration</label>:<span>02 mins</span></li>
                          <li><label>Form UR</label>:<span>not Submitted</span></li>

                          <li><label>Wrap-Up</label>:<span>Wrap-Up3</span></li>
                          <li><label>Time</label>:<span>14min 50sec</span></li>
                          <li><label>Call Disposition</label>:<span>Abandoned by Agent</span></li>
                          <li><label>Recording URL</label>:<span>https://rec_url</span></li>
                        </ul>
                      </div>
                    </mat-expansion-panel>

                    
                  </div>
                </div>
                <div class="panel-header call-history-panel inner-detail">
                  <div class="history-time">
                    <time>11:45 AM</time>
                  </div>
                  <div class="history-detail inner-detail-history">
                    <mat-expansion-panel>

                      <mat-expansion-panel-header [collapsedHeight]="'40px'"
                                                  [expandedHeight]="'40px'">
                        <mat-panel-title>
                          <div class="panel-header">
                            <ul>
                              <li class="agent-pic call-notify">
                                <span><img src="/assets/images/incoming-call.svg"> </span>
                              </li>
                              <li class="agent-pic call-services">
                                <p><span><img src="/assets/images/ag1.png"></span>Tech
                                  Support</p>
                              </li>
                              <li class="section-duration">
                                <time>02min 20sec</time>
                              </li>
                              <li class="agent-pic call-notify">
                                <span><img src="/assets/images/call-end.svg"> </span>
                              </li>
                              <li class="section-tags">
                                <span>Tag A</span>
                                <span>Tag B</span>
                              </li>
                              <li class="agent-pic">
                                <span><img src="/assets/images/call-record.svg"> </span>
                              </li>
                            </ul>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="summary-detail">
                        <ul>
                          <li><label>Agent ID </label>:<span>Name</span></li>
                          <li><label>CSQ </label>:<span>CSQ</span></li>
                          <li><label>Call Duration</label>:<span>02 mins</span></li>
                          <li><label>Form UR</label>:<span>not Submitted</span></li>

                          <li><label>Wrap-Up</label>:<span>Wrap-Up3</span></li>
                          <li><label>Time</label>:<span>14min 50sec</span></li>
                          <li><label>Call Disposition</label>:<span>Abandoned by Agent</span></li>
                          <li><label>Recording URL</label>:<span>https://rec_url</span></li>

                        </ul>
                      </div>
                    </mat-expansion-panel>

                  </div>
                </div>

              </mat-expansion-panel>
            </div>
          </div>

          <div class="instruction-content">
            <div class="int-date">
              <span>Sun<b>08</b></span>
            </div>
            <div class="panel-divider">
              <div class="line-info">
              </div>
              <mat-expansion-panel>
                <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                  <mat-panel-title>
                    <div class="panel-header">
                      <ul>
                        <li>
                          <time>11:45 AM</time>
                        </li>
                        <li class="agent-pic">
                          <span><img src="/assets/images/ag1.png"> </span>
                          <span><img src="/assets/images/cs1.png"> </span>
                          <span><img src="/assets/images/bot1.png"> </span>
                        </li>
                        <li class="social-logo">
                          <span><img src="/assets/images/web.svg"> </span>
                          <span><img src="/assets/images/facebook.svg"> </span>
                        </li>
                        <li class="section-duration">
                          <time>02min 20sec</time>
                        </li>
                        <li class="section-tags">
                          <span>Tag A</span>
                          <span>Tag B</span>
                        </li>
                      </ul>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>


                some detail text

              </mat-expansion-panel>
            </div>

            <div class="panel-divider">
              <div class="line-info">
              </div>
              <mat-expansion-panel>

                <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                  <mat-panel-title>
                    <div class="panel-header">
                      <ul>
                        <li>
                          <time>11:45 AM</time>
                        </li>
                        <li class="agent-pic">
                          <span><img src="/assets/images/ag1.png"> </span>
                        </li>
                        <li class="agent-pic call-notify">
                          <span><img src="/assets/images/incoming-call.svg"> </span>
                        </li>
                        <li class="agent-pic">
                          <span><img src="/assets/images/cs1.png"> </span>
                        </li>
                        <li class="section-duration">
                          <time>02min 20sec</time>
                        </li>
                        <li class="section-tags">
                          <span>Tag A</span>
                          <span>Tag B</span>
                        </li>
                      </ul>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="panel-header call-history-panel inner-detail">
                  <div class="history-time">
                    <time>11:45 AM</time>
                  </div>
                  <div class="history-detail inner-detail-history">
                    <mat-expansion-panel>

                      <mat-expansion-panel-header [collapsedHeight]="'40px'"
                                                  [expandedHeight]="'40px'">
                        <mat-panel-title>
                          <div class="panel-header">
                            <ul>
                              <li><span class="phone-number">12345678</span></li>
                              <li class="agent-pic call-notify">
                                <span><img src="/assets/images/incoming-call.svg"> </span>
                              </li>
                              <li class="agent-pic call-services">
                                <p><span><img src="/assets/images/cs1.png"></span> Customer
                                  Services</p>
                              </li>
                              <li class="section-duration">
                                <time>02min 20sec</time>
                              </li>
                              <li class="agent-pic call-notify">
                                <span><img src="/assets/images/call-transfer.svg"> </span>
                              </li>
                              <li class="section-tags">
                                <span>Tag A</span>
                                <span>Tag B</span>
                              </li>
                              <li class="agent-pic">
                                <span><img src="/assets/images/call-record.svg"> </span>
                              </li>
                            </ul>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div class="summary-detail">
                        <ul>
                          <li><label>Agent ID </label>:<span>Name</span></li>
                          <li><label>CSQ </label>:<span>CSQ</span></li>
                          <li><label>Call Duration</label>:<span>02 mins</span></li>
                          <li><label>Form UR</label>:<span>not Submitted</span></li>

                          <li><label>Wrap-Up</label>:<span>Wrap-Up3</span></li>
                          <li><label>Time</label>:<span>14min 50sec</span></li>
                          <li><label>Call Disposition</label>:<span>Abandoned by Agent</span></li>
                          <li><label>Recording URL</label>:<span>https://rec_url</span></li>

                        </ul>
                      </div>
                    </mat-expansion-panel>

                   
                  </div>
                </div>
                <div class="panel-header call-history-panel inner-detail">
                  <div class="history-time">
                    <time>11:45 AM</time>
                  </div>
                  <div class="history-detail inner-detail-history">
                    <mat-expansion-panel>

                      <mat-expansion-panel-header [collapsedHeight]="'40px'"
                                                  [expandedHeight]="'40px'">
                        <mat-panel-title>
                          <div class="panel-header">
                            <ul>
                              <li class="agent-pic call-notify">
                                <span><img src="/assets/images/incoming-call.svg"> </span>
                              </li>
                              <li class="agent-pic call-services">
                                <p><span><img src="/assets/images/ag1.png"></span>Tech
                                  Support</p>
                              </li>
                              <li class="section-duration">
                                <time>02min 20sec</time>
                              </li>
                              <li class="agent-pic call-notify">
                                <span><img src="/assets/images/call-end.svg"> </span>
                              </li>
                              <li class="section-tags">
                                <span>Tag A</span>
                                <span>Tag B</span>
                              </li>
                              <li class="agent-pic">
                                <span><img src="/assets/images/call-record.svg"> </span>
                              </li>
                            </ul>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="summary-detail">
                        <ul>
                          <li><label>Agent ID </label>:<span>Name</span></li>
                          <li><label>CSQ </label>:<span>CSQ</span></li>
                          <li><label>Call Duration</label>:<span>02 mins</span></li>
                          <li><label>Form UR</label>:<span>not Submitted</span></li>

                          <li><label>Wrap-Up</label>:<span>Wrap-Up3</span></li>
                          <li><label>Time</label>:<span>14min 50sec</span></li>
                          <li><label>Call Disposition</label>:<span>Abandoned by Agent</span></li>
                          <li><label>Recording URL</label>:<span>https://rec_url</span></li>

                        </ul>
                      </div>
                    </mat-expansion-panel>

                  
                  </div>
                </div>

              </mat-expansion-panel>
            </div>
          </div>
        </mat-accordion>
      </div>
    </div> -->


      <!-- simple chat area -->

      <div class="instruction-content chat-session-main">
        <div class="int-date"><span>Mon<b>09</b></span></div>
        <div *ngFor="let message of conversation.messages">
          <div class="chat-message"
            [ngClass]="(message.header.sender.type == 'customer') ?'user-message':'agent-message'">
            <div class="profile-pic">
              <div class="active-channel channel-icon {{customer.info.channel}}"><img width="20"
                  src="../assets/images/web.svg"></div>
              <div class="profile-pic-area user-img">{{message.header.sender.participant.displayName | slice :0 :2
                |uppercase}}</div>
            </div>
            <div class="chat-message-content ">
              <p>{{message.body.markdownTest}}</p>
            </div>
            <span class="chat-time">16:15:45</span>
          </div>
        </div>
      </div>
      <!-- <div class="chat-message agent-message">
        <div class="profile-pic">
          <div class="active-channel channel-icon web"><img width="20" src="../assets/images/web.svg"></div>
          <div class="profile-pic-area user-img"> FA</div>
        </div>
        <div class="chat-message-content ">
          <p>hello</p>
        </div>
        <span class="chat-time">16:16:06 </span>
      </div>
      <div class="chat-message agent-message ">
        <div class="profile-pic">
          <div class="active-channel channel-icon web"><img width="20" src="../assets/images/web.svg"></div>
          <div class="profile-pic-area user-img"> FA</div>
        </div>
        <div class="chat-message-content ">
          <p style="white-space: pre-line">how are you today</p>
        </div>
        <span class="chat-time">16:16:13 </span>
      </div> -->
    </div>
    <div class="chat-footer">
      <div class="message-composer">
        <form class="reply-form">
          <label class="count-reply">{{replyInput.value.length}}/200</label>
          <div class="mat-form-field form-group chat-area">
            <textarea (click)="onTextAreaClick()" matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" id="messageTextarea"
              class="resize-none" #replyInput name="message" placeholder="Type a message here."></textarea>
          </div>
          <div class="chat-composer-trigger">
            <button class="video-call composer-trigger" mat-icon-button>
              <mat-icon>voice_chat</mat-icon>
            </button>
            <button class="timer-off composer-trigger" mat-icon-button>
              <mat-icon>timer_off</mat-icon>
            </button>
            <button (click)="onSend(replyInput.value); replyInput.value = null " class="send-btn composer-trigger"
              mat-icon-button>
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>