<div class="container-fluid main-chat-bar">
  <div class="row">
    <div class="col-md-4 customer-showcase">
      <h3 matTooltip="{{customer.info.name}}" matTooltipPosition="right" class="customer-highlight">
        {{customer.info.name | slice :0 :2 |uppercase}}

        <span class="channel-icon {{customer.info.channel}}">
                <img *ngIf="channelUrl" src="{{channelUrl}}">
              </span>
      </h3>
      <h5 class="customer-name" [matTooltip]="customer.info.name">{{customer.info.name | slice :0 :50}}
        <span class="chat-timer">( 11:32 )</span>

      </h5>
    </div>
    <div class="col-md-8 agent-actions">
      <ul class="list-group list-group-horizontal agent-controls">
        <li class="list-group-item">
          <button mat-icon-button>
            <mat-icon>group</mat-icon>
          </button>
        </li>
        <li class="list-group-item">
          <button mat-icon-button>
            <mat-icon>history</mat-icon>
          </button>
        </li>
        <li class="list-group-item">
          <button mat-icon-button>
            <mat-icon>chat_bubble</mat-icon>
            <i class="material-icons arrow-red arrow-gray">arrow_forward</i>
          </button>
        </li>
        <li class="list-group-item">
          <button mat-icon-button>
            <mat-icon>person_add</mat-icon>
          </button>
        </li>
        <li class="list-group-item">
          <button mat-icon-button>
            <mat-icon>pan_tool</mat-icon>
          </button>
        </li>
        <li class="list-group-item">
          <button mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
        </li>
      </ul>

    </div>

  </div>

</div>
<!--/Top bar-->


<!--Interactions Area Start -->
<div  id="chat-content" class="container-fluid main-chat-area">
  <div class="row">
  <div class="chat-messages-main">
      <div class="line-info"><span>Nov 6, 2020 </span></div>
      <div class="chat-message user-message" >
        <div class="profile-pic">
          <div class="active-channel channel-icon {{customer.info.channel}}"><img width="20" src="../assets/images/web.svg"></div>
          <div class="profile-pic-area user-img"> FA</div>
        </div>
        <div class="chat-message-content "><p>/human</p>
        </div>
        <span class="chat-time">16:15:45</span>
      </div>
      <div class="chat-message agent-message">
        <div class="profile-pic">
          <div class="active-channel channel-icon web"><img width="20" src="../assets/images/web.svg"></div>
          <div class="profile-pic-area user-img"> FA</div>
        </div>
        <div class="chat-message-content "><p>hello</p></div>
        <span class="chat-time">16:16:06 </span></div>
<!--      <div class="chat-message agent-message ">-->
<!--        <div class="profile-pic">-->
<!--          <div class="active-channel web"><img width="20" src="../assets/images/web.svg"></div>-->
<!--          <div class="profile-pic-area user-img"> FA</div>-->
<!--        </div>-->
<!--        <div class="chat-message-content "><p style="white-space: pre-line">how are you today</p></div>-->
<!--        <span class="chat-time">16:16:13 </span>-->
<!--      </div>-->
  </div>
  </div>
</div>
