<div class="dialog-header">
  <h4 *ngIf="userIni && schemaIni">{{editTab ? 'Edit Customer' : userInfo.firstName}}
    <!-- <span *ngIf="editTab" class="validate-span" (click)="validateForm()">Validate</span> -->
  </h4>
  <!-- <button *ngIf="!editTab" (click)="editClick()" class="cstmBtn slide-in-left whiteClass">
    <mat-icon>edit</mat-icon> <span>Edit Profile</span>
  </button> -->
  <button (click)="onNoClick()" mat-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="main-content main-content-action main-action-form">

  <div *ngIf="userIni && schemaIni" class="main-content-create-customer">
    <form [formGroup]="customerForm">

      <div class="row row-customer-form">
        <div class="customer-form-field {{schemaAttribute.key}}" *ngFor="let schemaAttribute of schemaAttributes">
          <!-- <div class="main-col"> -->
          <!-- [ngStyle]="{'display':  !editTab && (customerForm.get(schemaAttribute.key).value == undefined || customerForm.get(schemaAttribute.key).value.length == 0 || customerForm.get(schemaAttribute.key).value == null || customerForm.get(schemaAttribute.key).value == '' || customerForm.get(schemaAttribute.key)?.value[0] == '') ? 'none' : 'inline-block' }" -->

          <div [ngClass]="[schemaAttribute.length >= 116 ? 'col-md-12':  'col-md-6' ]" class="input-field"
            [class.check-box-field]="schemaAttribute.type == 'boolean'">

            <!-- <div *ngIf="schemaAttribute.type == 'url'" [ngClass]="{'url-area': !editTab}">
                <div [ngClass]="{'header-padding': !editTab}" class="lbl">{{schemaAttribute.label}}<span class="red-clr"
                    *ngIf="editTab && schemaAttribute.isRequired">*</span></div>
                <mat-form-field [matTooltip]="!editTab ? 'goto '+ customerForm.get(schemaAttribute.key).value: '' "
                  (click)="gotoLink(!editTab,schemaAttribute.type, customerForm.get(schemaAttribute.key).value)"
                  [ngClass]="{'read-view' : !editTab }" class="field hover-class" appearance="outline">
                  <input [required]="schemaAttribute.isRequired" [formControlName]="schemaAttribute.key" matInput>
                  <mat-error>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('required')">
                      Field is required
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('email')">
                      Invalid email
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('maxlength')">
                      only {{schemaAttribute.characters}} characters are alowed
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('pattern')">
                      Invalid pattern
                    </div>
                  </mat-error>
                </mat-form-field>
              </div> -->
            <!-- ------------------------- -->

            <!-- AlphaNumeric | URL | Number | PhoneNumber | Email | String | Password | IP | Name -->

            <!-- <div
                *ngIf="(schemaAttribute.type == 'string' && schemaAttribute.length <= 115) || schemaAttribute.type == 'number' || schemaAttribute.type == 'email' || schemaAttribute.type == 'phoneNumber' || schemaAttribute.type == 'alphanNmeric' || schemaAttribute.type == 'password' || schemaAttribute.type == 'url' || schemaAttribute.type == 'ip'">
                <div [ngClass]="{'header-padding': !editTab}" class="lbl">{{schemaAttribute.label}}<span class="red-clr"
                    *ngIf="editTab && schemaAttribute.isRequired">*</span></div>
                <mat-form-field [ngClass]="{'read-view' : !editTab }" class="field" appearance="outline">
                  <input [readonly]="!editTab" [formControlName]="schemaAttribute.key" matInput>
                  <mat-error>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('required')">
                      Field is required
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('email')">
                      Invalid email
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('maxlength')">
                      only {{schemaAttribute.characters}} characters are alowed
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('pattern')">
                      Invalid pattern
                    </div>
                  </mat-error>
                </mat-form-field>
              </div> -->


            <ng-container *ngIf="schemaAttribute.isChannelIdentifier == false">
              <div class="field-set" *ngIf="schemaAttribute.type != 'boolean' && schemaAttribute.key != 'labels'">

                <div [ngClass]="{'header-padding': !editTab}" class="lbl">{{schemaAttribute.label}}<span class="red-clr"
                    *ngIf="schemaAttribute.isRequired">*</span>
                </div>

                <mat-form-field [ngClass]="{'read-view' : !editTab }" class="field" appearance="outline">
                  <input [readonly]="!editTab" formControlName="{{schemaAttribute.key}}" matInput>
                  <mat-error>
                    <div *ngIf="customerForm.get(schemaAttribute.key)?.errors?.required">
                      {{'customer-actions.required' | translate}} 
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key)?.errors?.pattern">
                      {{'customer-actions.invalid' | translate}} 
                    <div *ngIf="customerForm.get(schemaAttribute.key)?.errors?.maxlength">
                      {{'customer-actions.max' | translate}} {{schemaAttribute.length}}{{'customer-actions.characters-allowed' | translate}}
                    </div>

                  </mat-error>
                </mat-form-field>
              </div>
            </ng-container>

            <ng-container *ngIf="schemaAttribute.isChannelIdentifier == true" formArrayName="{{schemaAttribute.key}}">
              <div class="field-set" *ngIf="schemaAttribute.type != 'boolean'">

                <div [ngClass]="{'header-padding': !editTab}" class="lbl">{{schemaAttribute.label}}<span class="red-clr"
                    *ngIf="schemaAttribute.isRequired">*</span>
                  <span class="field-channel"><img *ngFor="let channelType of schemaAttribute.channelTypes"
                      [src]="channelType | channelName | channelLogo | async" matTooltip="{{channelType}}"></span>
                </div>
                <ng-container *ngFor="let attr of getFormControls(schemaAttribute);let i = index">
                  <mat-form-field [ngClass]="{'read-view' : !editTab }" class="field" appearance="outline">
                    <input [readonly]="!editTab" matInput [formControlName]="i">
                    <mat-error>
                      <span *ngIf="attr?.errors?.required">
                        {{'customer-actions.required' | translate}}
                      </span>
                      <span *ngIf="attr?.errors?.pattern">
                        {{'customer-actions.invalid' | translate}}
                      </span>
                      <span *ngIf="attr?.errors?.maxlength">
                        {{'customer-actions.max' | translate}}{{schemaAttribute.length}}{{'customer-actions.characters-allowed' | translate}}
                      </span>
                    </mat-error>
                    <div class="btn-test">
                      <button *ngIf="i == 0 && editTab" type="button" class="duplicate-action add-field" mat-mini-fab
                        (click)="onAddFormControl(schemaAttribute)">
                        <mat-icon>add</mat-icon>
                      </button>
                      <button *ngIf="i > 0 && editTab" class="duplicate-action remove-field" mat-mini-fab
                        (click)="onRemoveFormControl(schemaAttribute,i)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>

                  </mat-form-field>
                </ng-container>
              </div>
            </ng-container>

            <!-- --------------------------- -->

            <!-- <div *ngIf="schemaAttribute.type == 'string' && schemaAttribute.length >= 116">
                <div [ngClass]="{'header-padding': !editTab}" class="lbl">{{schemaAttribute.label}}<span class="red-clr"
                    *ngIf="editTab && schemaAttribute.isRequired">*</span></div>
                <mat-form-field appearance="outline">
                  <textarea [required]="schemaAttribute.isRequired" [formControlName]="schemaAttribute.key"
                    matInput></textarea>
                  <mat-error>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('required')">
                      Field is required
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('email')">
                      Invalid email
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('maxlength')">
                      only {{schemaAttribute.characters}} characters are alowed
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('pattern')">
                      Invalid pattern
                    </div>
                  </mat-error>
                </mat-form-field>
              </div> -->

            <!-- Boolean -->
            <div *ngIf="schemaAttribute.type == 'boolean' && schemaAttribute.key != 'isAnonymous' " class="check-box">
              <div [ngClass]="{'header-padding': !editTab}" class="lbl">{{schemaAttribute.label}}</div>
              <mat-checkbox *ngIf="editTab" [ngClass]="{'margin-left' : !editTab}"
                [formControlName]="schemaAttribute.key" matInput></mat-checkbox>
              <div class="check-box-readview" *ngIf="!editTab">
                {{customerForm.get(schemaAttribute.key).value == true ? 'TRUE' : 'FALSE'}}
              </div>
            </div>

            <!-- Label   -->
            <div class="field-set" *ngIf="schemaAttribute.key == 'labels'">
              <label class="field-label">{{schemaAttribute.label}}<span class="red-clr"
                  *ngIf="schemaAttribute.is_required">*</span>
              </label>
              <div class="drop">
                <angular2-multiselect [data]="labelList" [settings]="labelSettings" (onSelect)="onItemSelect($event)" #dropdownRef
                  (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)" (onAddFilterNewItem)="onAddItem($event)"
                  formControlName="{{schemaAttribute.key}}">

                  <c-badge>
                    <ng-template let-item="item">
                      <div class="dot" [ngStyle]="{'background-color':item.colorCode}"></div>

                      <label style="margin: 0px;">{{item.name}}</label>
                    </ng-template>
                  </c-badge>
                  <c-item>
                    <ng-template let-item="item">
                      <div class="dot" [ngStyle]="{'background-color':item.colorCode}"></div>

                      <label style="color: #333;min-width: 150px;">{{item.name}}</label>
                    </ng-template>
                  </c-item>
                </angular2-multiselect>
              </div>
            </div>
            <!-- Date -->
            <!-- <div *ngIf="schemaAttribute.type == 'date'">
                <div [ngClass]="{'header-padding': editActiveMode}" class="lbl">{{schemaAttribute.label}}<span
                    class="red-clr" *ngIf="!editActiveMode && schemaAttribute.is_required">*</span></div>
                <mat-form-field [ngClass]="{'read-view' : editActiveMode }" class="field" appearance="outline">
                  <input [required]="schemaAttribute.is_required" [formControlName]="schemaAttribute.key" matInput
                    [matDatepicker]="picker" (click)="picker.open()">
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('required')">
                      Field is required
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('email')">
                      Invalid email
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('maxlength')">
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('pattern')">
                      Invalid pattern
                    </div>
                  </mat-error>
                </mat-form-field>
              </div> -->


            <!-- Date-Time -->
            <!-- <div *ngIf="schemaAttribute.type == 'date_time'">
                <div [ngClass]="{'header-padding': editActiveMode}" class="lbl">{{schemaAttribute.label}}<span
                    class="red-clr" *ngIf="!editActiveMode && schemaAttribute.is_required">*</span></div>
                <mat-form-field [ngClass]="{'read-view' : editActiveMode }" class="field" appearance="outline">
                  <input [required]="schemaAttribute.is_required" [formControlName]="schemaAttribute.key" matInput
                    [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1">
                  <owl-date-time #dt1></owl-date-time>

                  <mat-error>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('required')">
                      Field is required
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('email')">
                      Invalid email
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('maxlength')">
                    </div>
                    <div *ngIf="customerForm.get(schemaAttribute.key).hasError('pattern')">
                      Invalid pattern
                    </div>
                  </mat-error>
                </mat-form-field>
              </div> -->


          </div>
          <!-- </div> -->
        </div>
      </div>
    </form>

  </div>


</mat-dialog-content>
<mat-dialog-actions>

  <!--  <div class="sticky-buttons">-->
  <!--    <div class="delete-btn" (click)="deleteCUstomer()">-->
  <!--      <mat-icon class="dlt-icon">delete</mat-icon>-->
  <!--      <span class="dlt-text">DELETE CUSTOMER</span>-->
  <!--    </div>-->

  <!--    <div class="action-btns" *ngIf="editTab && !editActiveMode">-->

  <!--      <button *ngIf="customerForm.valid" (click)="saveData(customerForm.value)" class="submit-btn">SAVE</button>-->
  <!--      <button (click)="onNoClick()" class="cancel-btn">CANCEL</button>-->

  <!--    </div>-->

  <!--  </div>-->

  <div class="footer-buttons">

    <!-- <button (click)="deleteCustomer()" class="delete-btn">
      <mat-icon class="dlt-icon">delete</mat-icon> DELETE CUSTOMER
    </button> -->

    <!--    <button (click)="onNoClick()" class="cancel-btn">Cancel</button>-->
    <!--    <button *ngIf="customerForm.valid" (click)="saveData(customerForm.value)"-->
    <!--            class="save-btn">Create Contact</button>-->

    <span class="action-btns" *ngIf="editTab">
      <button (click)="onNoClick()" class="cancel-btn">{{'customer-actions.cancel' | translate}}</button>
      <button *ngIf="customerForm.valid" (click)="onSave()" class="save-btn">{{'customer-actions.save' | translate}}</button>
    </span>
  </div>
</mat-dialog-actions>
