<div class="dialog-header">
  <h4 *ngIf="userIni && schemaIni">{{editTab ? 'Edit Customer' : userInfo.firstName}} <span *ngIf="editTab"
      class="validate-span" (click)="validateForm()">Validate</span></h4>
  <button *ngIf="!editTab" (click)="editClick()" class="cstmBtn slide-in-left whiteClass">
    <mat-icon>edit</mat-icon> <span>Edit Profile</span>
  </button>
  <button (click)="onNoClick()" mat-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<!-- [ngClass]="{'btn-active' : editActiveMode != true ,  'whiteClass' : editTab == true , 'greyClass' : editTab != true}" -->


<mat-dialog-content class="main-content main-content-action main-action-form">

  <div *ngIf="userIni && schemaIni" class="main-content-create-customer">
    <form [formGroup]="editCustomerForm">

      <div class="row">
        <div class="main-col" *ngFor="let schemaAttribute of schemaAttributes">
          <div class="main-col">
            <div [ngClass]="[schemaAttribute.length >= 116 ? 'col-md-12':  'col-md-6' ]" class="input-field"
              [ngStyle]="{'display':  !editTab && (editCustomerForm.get(schemaAttribute.key).value == undefined || editCustomerForm.get(schemaAttribute.key).value.length == 0 || editCustomerForm.get(schemaAttribute.key).value == null || editCustomerForm.get(schemaAttribute.key).value == '' || editCustomerForm.get(schemaAttribute.key)?.value[0] == '') ? 'none' : 'block' }">
              <!-- ++{{!editTab && (editCustomerForm.get(schemaAttribute.key).value == undefined ||
              editCustomerForm.get(schemaAttribute.key).value.length == 0 ||
              editCustomerForm.get(schemaAttribute.key).value == null || editCustomerForm.get(schemaAttribute.key).value
              == '' || editCustomerForm.get(schemaAttribute.key)?.value[0] == '')}}== -->
              <!-- *ngIf="(editCustomerForm.get(schemaAttribute.key).value != undefined && editCustomerForm.get(schemaAttribute.key).value != null && editCustomerForm.get(schemaAttribute.key).value != '' && editCustomerForm.get(schemaAttribute.key)?.value[0] != '') || schemaAttribute.type == 'boolean'" -->
              <div *ngIf="schemaAttribute.type == 'url'" [ngClass]="{'url-area': !editTab}">
                <div [ngClass]="{'header-padding': !editTab}" class="lbl">{{schemaAttribute.label}}<span class="red-clr"
                    *ngIf="editTab && schemaAttribute.isRequired">*</span></div>
                <mat-form-field [matTooltip]="!editTab ? 'goto '+ editCustomerForm.get(schemaAttribute.key).value: '' "
                  (click)="gotoLink(!editTab,schemaAttribute.type, editCustomerForm.get(schemaAttribute.key).value)"
                  [ngClass]="{'read-view' : !editTab }" class="field hover-class" appearance="outline">
                  <input [required]="schemaAttribute.isRequired" [formControlName]="schemaAttribute.key" matInput>
                  <mat-error>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('required')">
                      Field is required
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('email')">
                      Invalid email
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('maxlength')">
                      only {{schemaAttribute.characters}} characters are alowed
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('pattern')">
                      Invalid pattern
                    </div>
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- ------------------------- -->


              <!-- ----------------- -->
              <div
                *ngIf="(schemaAttribute.type == 'string' && schemaAttribute.length <= 115) || schemaAttribute.type == 'number' || schemaAttribute.type == 'email' || schemaAttribute.type == 'phoneNumber' || schemaAttribute.type == 'alphanNmeric'">
                <div [ngClass]="{'header-padding': !editTab}" class="lbl">{{schemaAttribute.label}}<span class="red-clr"
                    *ngIf="editTab && schemaAttribute.isRequired">*</span></div>
                <mat-form-field [ngClass]="{'read-view' : !editTab }" class="field" appearance="outline">
                  <input [readonly]="!editTab" [required]="schemaAttribute.isRequired"
                    [formControlName]="schemaAttribute.key" matInput>
                  <mat-error>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('required')">
                      Field is required
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('email')">
                      Invalid email
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('maxlength')">
                      only {{schemaAttribute.characters}} characters are alowed
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('pattern')">
                      Invalid pattern
                    </div>
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- --------------------------- -->


              <div *ngIf="schemaAttribute.type == 'string' && schemaAttribute.length >= 116">
                <div [ngClass]="{'header-padding': !editTab}" class="lbl">{{schemaAttribute.label}}<span class="red-clr"
                    *ngIf="editTab && schemaAttribute.isRequired">*</span></div>
                <mat-form-field appearance="outline">
                  <textarea [required]="schemaAttribute.isRequired" [formControlName]="schemaAttribute.key"
                    matInput></textarea>
                  <mat-error>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('required')">
                      Field is required
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('email')">
                      Invalid email
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('maxlength')">
                      only {{schemaAttribute.characters}} characters are alowed
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('pattern')">
                      Invalid pattern
                    </div>
                  </mat-error>
                </mat-form-field>
                <!-- <div class="text-area-text" *ngIf="editActiveMode">
                  {{editCustomerForm.get(schemaAttribute.key).value}}
                </div> -->
              </div>

              <!-- Boolean -->
              <div *ngIf="schemaAttribute.type == 'boolean' && schemaAttribute.key != 'isAnonymous' " class="check-box">
                <div [ngClass]="{'header-padding': !editTab}" class="lbl">{{schemaAttribute.label}}</div>
                <mat-checkbox *ngIf="editTab" [ngClass]="{'margin-left' : !editTab}"
                  [formControlName]="schemaAttribute.key" matInput></mat-checkbox>
                <div class="check-box-readview" *ngIf="!editTab">
                  {{editCustomerForm.get(schemaAttribute.key).value == true ? 'TRUE' : 'FALSE'}}
                </div>
              </div>


              <!-- Date -->
              <!-- <div *ngIf="schemaAttribute.type == 'date'">
                <div [ngClass]="{'header-padding': editActiveMode}" class="lbl">{{schemaAttribute.label}}<span
                    class="red-clr" *ngIf="!editActiveMode && schemaAttribute.is_required">*</span></div>
                <mat-form-field [ngClass]="{'read-view' : editActiveMode }" class="field" appearance="outline">
                  <input [required]="schemaAttribute.is_required" [formControlName]="schemaAttribute.key" matInput
                    [matDatepicker]="picker" (click)="picker.open()">
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('required')">
                      Field is required
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('email')">
                      Invalid email
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('maxlength')">
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('pattern')">
                      Invalid pattern
                    </div>
                  </mat-error>
                </mat-form-field>
              </div> -->


              <!-- Date-Time -->
              <!-- <div *ngIf="schemaAttribute.type == 'date_time'">
                <div [ngClass]="{'header-padding': editActiveMode}" class="lbl">{{schemaAttribute.label}}<span
                    class="red-clr" *ngIf="!editActiveMode && schemaAttribute.is_required">*</span></div>
                <mat-form-field [ngClass]="{'read-view' : editActiveMode }" class="field" appearance="outline">
                  <input [required]="schemaAttribute.is_required" [formControlName]="schemaAttribute.key" matInput
                    [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1">
                  <owl-date-time #dt1></owl-date-time>

                  <mat-error>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('required')">
                      Field is required
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('email')">
                      Invalid email
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('maxlength')">
                    </div>
                    <div *ngIf="editCustomerForm.get(schemaAttribute.key).hasError('pattern')">
                      Invalid pattern
                    </div>
                  </mat-error>
                </mat-form-field>
              </div> -->


            </div>
          </div>
        </div>
      </div>
    </form>

  </div>


</mat-dialog-content>
<mat-dialog-actions>

  <!--  <div class="sticky-buttons">-->
  <!--    <div class="delete-btn" (click)="deleteCUstomer()">-->
  <!--      <mat-icon class="dlt-icon">delete</mat-icon>-->
  <!--      <span class="dlt-text">DELETE CUSTOMER</span>-->
  <!--    </div>-->

  <!--    <div class="action-btns" *ngIf="editTab && !editActiveMode">-->

  <!--      <button *ngIf="editCustomerForm.valid" (click)="saveData(editCustomerForm.value)" class="submit-btn">SAVE</button>-->
  <!--      <button (click)="onNoClick()" class="cancel-btn">CANCEL</button>-->

  <!--    </div>-->

  <!--  </div>-->

  <div class="footer-buttons">

    <!-- <button (click)="deleteCustomer()" class="delete-btn">
      <mat-icon class="dlt-icon">delete</mat-icon> DELETE CUSTOMER
    </button> -->

    <!--    <button (click)="onNoClick()" class="cancel-btn">Cancel</button>-->
    <!--    <button *ngIf="editCustomerForm.valid" (click)="saveData(editCustomerForm.value)"-->
    <!--            class="save-btn">Create Contact</button>-->

    <span class="action-btns" *ngIf="editTab">
      <button (click)="onNoClick()" class="cancel-btn">CANCEL</button>
      <button *ngIf="editCustomerForm.valid" (click)="saveData()" class="save-btn">SAVE</button>
    </span>
  </div>
</mat-dialog-actions>
