/* For use in src/lib/core/theming/_palette.scss */

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);
$ef-blue: (
  50 : #EFF2F7, //$main-color-background
  100 : #E7EDF6, //$bubble-background
  200 : #a3b9da,
  300 : #212136,
  400 : #2E2E42,
  500 : #1E1E34, //$main-color
  600 : #406bae,
  700 : #283F6A, //$customer-bubble: #E8F5D6;
  800 : #16162C,
  900 : #3E63A8,
  A100 : #c9d9ff,
  A200 : #96b5ff,
  A400 : #6391ff,
  A700 : #1E1E34,
  contrast: (
    50 : #ffffff,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #000000,
    500 : #D0D0D4,
    600 : #D3D3D3,
    700 : #D3D3D3,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$ef-red: (
  50 : #fbe7e7,
  100 : #f6c3c3,
  200 : #f09b9b,
  300 : #e97272,
  400 : #e55454,
  500 : #e03636,
  600 : #dc3030,
  700 : #F53939,
  800 : #d32222,
  900 : #cb1616,
  A100 : #fffcfc,
  A200 : #ffc9c9,
  A400 : #ff9696,
  A700 : #ff7d7d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ef-green: (
  50 : #e5f9f1,
  100 : #beefdd,
  200 : #92e5c6,
  300 : #66dbaf,
  400 : #46d39e,
  500 : #25cb8d,
  600 : #21c685,
  700 : #1bbe7a,
  800 : #16b870,
  900 : #0dac5d,
  A100 : #daffeb,
  A200 : #a7ffcf,
  A400 : #74ffb4,
  A700 : #5affa6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ef-gold: (
  50 : #fef7e6,
  100 : #fcecc0,
  200 : #fbdf96,
  300 : #f9d26b,
  400 : #f7c94c,
  500 : #f6bf2c,
  600 : #f5b927,
  700 : #f3b121,
  800 : #f2a91b,
  900 : #ef9b10,
  A100 : #ffffff,
  A200 : #fff6e9,
  A400 : #ffe1b6,
  A700 : #ffd79c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ef-lime: (
  50 : #eff4e4,
  100 : #d7e3bb,
  200 : #bcd18e,
  300 : #a1bf61,
  400 : #8db13f,
  500 : #79a31d,
  600 : #719b1a,
  700 : #669115,
  800 : #5c8811,
  900 : #49770a,
  A100 : #d6ffa7,
  A200 : #bfff74,
  A400 : #a7ff41,
  A700 : #9bff28,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$ef-gray: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);




